<hr>
<p><a style="cursor:pointer" href="https://olimpiada.ic.unicamp.br"><img src="https://olimpiada.ic.unicamp.br/static/extras/misc/logo-obi2025-preto.png" alt="Logo OBI" width="200px" style="cursor:pointer"></a>
<br>  
<b>Coordenação da OBI2025</b>

<p>E-mail: olimpinf@ic.unicamp.br<br>
Whatsapp e Telegram: (19) 3199-7399<br>
Site: https://www.sbc.org.br/obi<br>
<br>
Organização: Instituto de  Computação - UNICAMP<br>
Promoção: Sociedade Brasileira de Computação<br>

<p class="attention">Esta é uma mensagem automática e não é necessário respondê-la.

