{% extends "fase1/admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; Modalidade Iniciação - Correção
</div>
{% endblock %}

{% block content_title %}<h1>Modalidade Iniciação - Correção</h1>{% endblock %}

      {% block filters %}
          <div id="changelist-filter">
            <h2>Atalhos</h2>
	    <ul>
	      <li><a href="/restrito/fase1/inserepontosini/">Insere/Modifica Pontuação</a>
	      <li> <a href="/restrito/fase1/inserepontosinilote/add">Insere Pontuação por Lote</a>
	      <li><a href = "/restrito/fase1/cadernostarefas/ini/gab_f1ij.pdf">Gabarito Nível Júnior</a>
	      <li><a href = "/restrito/fase1/cadernostarefas/ini/gab_f1i1.pdf">Gabarito Nível 1</a>
	      <li><a href = "/restrito/fase1/cadernostarefas/ini/gab_f1i2.pdf">Gabarito Nível 2</a>
	      <li><a href = "/restrito/fase1/corretorfolhasrespostas/add/">Correção Automatizada</a>
	      <li><a href = "/restrito/fase1/listaclassificados/">Lista Classificados</a>
	    </ul>
          </div>
      {% endblock %}


{% block teste %}

<p>As Folhas de Respostas podem ser corrigidas de duas maneiras:</p>

<ul>
<li>Manualmente, comparando as respostas do competidor na Folha de
Respostas e o Gabarito. Cada resposta correta equivale a um ponto.</li>
<li>Usando o sistema automático de correção (nesse caso é necessário
digitalizar as Folhas de Respostas dos alunos).</li>
</ul>

<p>O procedimento para correção utilizando cada uma dessas maneiras é detalhado nas seções seguintes.</p>

<!--p><font color="#ff0000">Solicitamos que a pontuação dos
competidores seja inserida até o dia 22/06/2018 (sexta-feira) à noite</font>.</p-->


<!--p><font color="red">A classificação para a Fase Nacional será
    divulgada aos coordenadores no dia 25/06/2018, e ao público no dia 27/06/2018<br>
    e após essa data não será mais
    possível alterar ou inserir pontuações.</font-->

<!--h1>Informações sobre a classificação</h1>
<p>Para consultar os competidores classificados de sua escola, 
clique no link
<a href = "/restrito/fase1/listaclassificados/">Lista Classificados</a> no menu de Atalhos.<br -->

<h2>Correção Manual</h2>
<h3>Passo-a-passo para Correção Manual</h3>

<ol>
<li>Para cada competidor, compare a Folha de Respostas com o Gabarito do nível correspondente. Os Gabaritos
encontram-se disponíveis nos links abaixo.
<li>Contabilize cada questão correta como um ponto.
<li>Insira a pontuação dos competidores, utilizando um dos formulários disponíveis:
<ul>
<li>Para inserir individualmente a pontuação de cada competidor,
utilize o formulário <a href="/restrito/fase1/inserepontosini/">
Insere/Modifica Pontuação</a>.
<li>Para inserir a pontuação de um lote de competidores, através de um
arquivo, utilize o formulário <a href="/restrito/fase1/inserepontosinilote/add/">
Insere Pontuação por Lote</a>.
</ol>

<h3>Gabaritos <!--font color="red"> (ainda não disponíveis, serão disponibilizados após a realização das provas)</font--></h3>
<ul>
<li><a href = "/restrito/fase1/cadernostarefas/ini/gab_f1ij.pdf">Nível Júnior</a> (formato .PDF)
<li><a href = "/restrito/fase1/cadernostarefas/ini/gab_f1i1.pdf">Nível 1</a> (formato .PDF)
<li><a href = "/restrito/fase1/cadernostarefas/ini/gab_f1i2.pdf">Nível 2</a> (formato .PDF)
</ul>


<h2>Correção Automatizada</h2>
<p>O formulário para envio das Folhas de Respostas para correção está disponível
clicando em <a href="/restrito/fase1/corretorfolhasrespostas/add/">Correção Automatizada</a>.
Antes de utilizar, por favor leia as instruções abaixo.

<h3>Passo-a-passo para Correção Automatizada
<!--font color="red"> (ainda não disponível, por favor aguarde um pouco)</font--></h3>

<ol>
<li>Certifique-se de que o número de inscrição está corretamente
preenchido no caso de Folhas de Respostas avulsas (nas Folhas de Respostas
pré-prenchidas o número de inscrição já vem corretamente preenchido!).
<li>Não submeta Folhas de Respostas em branco, de competidores que não compareceram.
<li>Separe as Folhas de Respostas dos competidores em lotes, separados pelo nível (Júnior, 1 e 2).
<li>Para cada lote (contendo Folhas de Respostas de um único nível),
digitalize (escaneie) as Folhas de Respostas, e salve em um arquivo de
formato PDF. Muitos aplicativos permitem salvar várias páginas
digitalizadas em um único arquivo, geralmente de tipo PDF. Ou seja, o
aplicativo gera um único arquivo no formato PDF contendo as imagens
digitalizadas.
<li>Para cada arquivo de Folhas de Respostas digitalizadas, utilize o
formulário <a href="/restrito/fase1/corretorfolhasrespostas/add/">Correção Automatizada</a>
para submeter para a correção automatizada.
<li>O resultado da correção será enviado para o endereço de correio eletrônico do Coordenador Local da OBI.
<li>A pontuação dos competidores será inserida automaticamente, mas
solicitamos que os Coordenadores verifiquem nos arquivos recebidos por
email se está tudo correto, se as Folhas de Resposta foram corretamente
corrigidas. Os arquivos indicam condições de erro como Número de Inscrição
incorreto ou mal preenchido, dificuldade de processar o arquivo
submetido, etc.)
<li>Verifique a pontuação inserida automaticamente, utilizando o
formulário <a href="/restrito/fase1/inserepontosini/">
Insere/Modifica Pontuação</a> para consultar as pontuações dos
competidores.
<li>Em caso de erros na correção automatizada de um competidor, siga
o procedimento para correção manual para esse competidor.
</ol>

    </div>
<h2>Classificação para a Fase Estadual (Fase 2)</h2>
<p>Conforme o <a href="/info/regulamento/">Regulamento da OBI2019</a> os competidores
classificados para
a próxima fase são definidos por dois critérios:

<ol>
<li>os 15% melhores classificados em cada Escola, desde que tenham
acertado ao menos 1/3 das questões da Fase 1 
<li>os melhores 5% classificados nacionalmente.
</ol>

<p>Os classificados pelo critério (1) são re-calculados automaticamente cada vez que
você atualiza a pontuação dos competidores de sua escola. Você pode ver a lista dos classificados
na página 
<a href="/restrito/fase1/inserepontosini/">
Insere/Modifica Pontuação</a>
durante a inserção de pontos, ou pelo link
<a href = "/restrito/fase1/listaclassificados/">Lista Classificados</a>.

<p>Os classificados pelo critério (2) serão calculados pela Coordenação após
todas as pontuações terem sido inseridas pelas escolas. 

{% endblock %}

  </div>

