{% extends "base_restricted.html" %}
{% load obi_extras %}


{% block content %}
<h1>{{ pagetitle }}</h1>
<em>Por um erro de configuração, o corretor não estava aceitando arquivos maiores, com muitas páginas. O erro foi consertado,
  desculpem o incômodo causado!</em>

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if form.errors %}
     <p class="errorlist">Por favor corrija os erros indicados abaixo.</p>
  {% endif %}
  {% for fieldset in form.fieldsets %}
  <fieldset class="border p-2">
    <legend class="float-none w-auto p-2">{{ fieldset.title }}</legend>    
    <ul>
      {% for field in fieldset %}
        <li>
          <strong>{{ field.label_tag }}</strong>
          {{ field }}
          {% if field.help_text %}
	    <small class="form-text">{{ field.help_text|safe }}</small>
	  {% endif %}
          {{ field.errors }}
        </li>
      {% endfor %}
    </ul>
  </fieldset>
  {% endfor %}
<br>
  <button type="submit" class="btn btn-danger float-end" name="cancel" value="cancel" onclick="{% go_to_url '/restrito' %}"
>Cancelar</button>
  <button type="submit" class="btn btn-primary" name="save" value="save">Enviar</button>
</form>
<p>&nbsp;</p>

{% comment %}
<p>O corretor não está disponível, será disponibilizado após a prova.
{% endcomment %}

{% endblock %}

{% block content-related %}

  <h4>Instruções</h4>
  <p>O envio das Folhas de Respostas (se optar pela a correção
    automatizada) ou a inserção das pontuações dos competidores (se optar
    pela correção manual) devem ser realizados até 
{{ "ini-fase-1-envio-respostas"|obi_date|date:'d/m' }}.
  <p>
    Solicitamos que mantenham as Folhas de Respostas dos alunos, para o caso de algum competidor reclamar da correção.

<ol>
<li>Certifique-se de que o número de inscrição está corretamente
preenchido no caso de Folhas de Respostas avulsas (nas Folhas de Respostas
pré-prenchidas o número de inscrição já vem corretamente preenchido!).
<li>Não submeta Folhas de Respostas em branco, de competidores que não compareceram.
<li>Separe as Folhas de Respostas dos competidores em lotes, separados pelo nível (Júnior, 1 e 2).
<li>Para cada lote (contendo Folhas de Respostas de um único nível),
digitalize (escaneie) as Folhas de Respostas, e salve em um arquivo de
formato PDF. Muitos aplicativos permitem salvar várias páginas
digitalizadas em um único arquivo, geralmente de tipo PDF. Ou seja, o
aplicativo gera um único arquivo no formato PDF contendo as imagens
  digitalizadas.
<li><font color="red">Evite fazer lotes com mais do que 100 folhas; isso pode prejudicar
  a correção, por razões técnicas do processamento.</font>
<li>Para cada arquivo de Folhas de Respostas digitalizadas, utilize o
formulário <a href="{% url 'fase1:corretorfolhasrespostas' %}">Correção Automatizada</a>
para submeter para a correção automatizada.
<li>O resultado da correção será enviado para o endereço de correio eletrônico do Coordenador Local da OBI.
<li>A pontuação dos competidores será inserida automaticamente, mas
solicitamos que os Coordenadores verifiquem nos arquivos recebidos por
email se está tudo correto, se as Folhas de Resposta foram corretamente
corrigidas. Os arquivos indicam condições de erro como Número de Inscrição
incorreto ou mal preenchido, dificuldade de processar o arquivo
submetido, etc.)
<li>Verifique a pontuação inserida automaticamente, utilizando o
formulário <a href="{% url 'fase1:inserepontosini'%}">
Insere/Modifica Pontuação</a> para consultar as pontuações dos
competidores.
<li>Em caso de erros na correção automatizada de um competidor, siga
o procedimento para correção manual para esse competidor.
</ol>
    
</div>
{% endblock content-related %}

