{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block header %}
Saci
{% endblock %}
{% block content %}

<h2>Cursos</h2>
<h3>Programação para Iniciantes (Blockly+Python)</h3>
<p>Este curso é dirigido a iniciantes de todas as idades. Ele introduz
  programação de computadores utilizando <em>programação por
  blocos</em>, com um editor gráfico que permite conectar blocos que
  representam comandos para o computador, de maneira a construir um
  programa de computador. Os blocos representam conceitos de
  programação como variáveis, expressões lógicas, repetições, entrada
  e saída de dados, listas e outros, facilitando o aprendizado por
  eliminar erros de sintaxe e por ser potencialmente menos inibidor,
  para iniciantes, do que escrever um programa em uma linguagem de
  programação textual.
<p>O curso foi desenvolvido com <em>Blockly</em>, uma biblioteca do
  Google, e Python, uma das linguagens de programação mais utilizadas
  hoje em dia. O usuário pode intercambiar a visualização do programa
  na forma de blocos ou na forma de programa Python, facilitando a
  passagem do aluno para um estágio mais avançado, em que ele
  poderá escrever programas diretamente na linguagem Python.
  

<h3>Introdução à Programação de Computadores (Javascript)</h3>
<p>Este curso utiliza Javascript como linguagem de programação, apresentando
  conceitos básicos de programação.
  
{% endblock %}

{% block content-related %}
  {% include "saci/includes/course_menu.html" %}

{% endblock %}
