
<div role="contentinfo">
  <div class="subfooter">
    <div class="container">
      <h1 class="visuallyhidden">Links OBI</h1>

      <div class="col learn">
        <h2>Sobre a OBI</h2>
        <ul>
          <li><a href="{% url 'apresenta' %}">Apresentação</a></li>
          <li><a href="{% url 'regulamento' %}">Regulamento</a></li>
          <li><a href="{% url 'cal:datas_importantes' %}">Datas importantes</a></li>
          <li><a href="{% url 'comite' %}">Comissão Nacional</a></li>
          <!--li><a href="{% url 'calendario' %}">Calendário</a></li-->
          <li><a href="{% url 'passadas' %}">Anos anteriores</a></li>
          <li><a href="{% url 'competicoes' %}">Competições Internacionais</a></li>
          <li><a href="{% url 'principal:certificados' %}">Certificados</a></li>
          <li><a href="{% url 'servicos' %}">Serviços</a></li>
          <li><a href="{% url 'apoios' %}">Apoios</a></li>
        </ul>
      </div>

      <div class="col involved">
        <h2>Prepare-se</h2>
        <ul>
          <li><a href="{% url 'estude' %}">Estude</a></li>
          <li><a href="{% url 'pratique' %}">Pratique</a></li>
          <li><a href="{% url 'saci:index' %}">Saci</a></li>
          <!--li><a href="http://olimpiada.ic.unicamp.br/tobi">TOBI</a></li-->
          <li><a href="{%url 'aplicativos' %}" >Aplicativos</a></li>
          <li><a href="{% url 'ementa' %}">Ementas</a></li>
        </ul>
      </div>

      <div class="col follow last-child">
        <h2>Fale conosco</h2>
        <ul>
          <li><a href="{% url 'contato'%}">Contato</a></li>
          <li><font color="white">Siga-nos em nossas redes sociais</font><br/>
	    &nbsp;<a href="https://facebook.com/obi.sbc"><img src="/static/img/facebook-color.svg" width="24px" /></a>
	    &nbsp;<a href="https://www.instagram.com/olimpinf"><img src="/static/img/logo-instagram.svg" width="24px"/></a>
	  </li>
        </ul>
        <h2>Ajude a divulgar</h2>
        <ul>
          <li><a href="{% url 'cartaz'%}">Arte, Cartaz e Logo</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="container">
      <ul class="thanks">
        <li>
          <span>Promoção</span> <a class="sbc" href="https://www.sbc.org.br">SBC</a>
        </li>
        <li>
          <span>Apoio</span> 
	  <a class="cnpq" href="http://www.cnpq.br">CNPq</a>
	  <a class="behring" href="https://fundacaobehring.org">Fundação Behring</a>
        </li>
        <li>
          <span>Coordenação</span> 
	  <a class="ic-unicamp" href="https://www.ic.unicamp.br">IC-UNICAMP</a>
	  <a class="unicamp" href="https://www.unicamp.br">UNICAMP</a>
        </li>
      </ul>
    </div>
  </div>

</div>
