{% load static %}

<!-- ======= Sponsors Section ======= -->
    <section id="sponsors" class="sponsors section-bg-dark">

      <div class="container">
      
        <div class="row flexbox"> <!-- data-aos="zoom-in"-->

          <div class="col-4 col-md-2">
	    <div>Promoção
	    </div>
	    <div>
	      <a href="https://www.sbc.org.br">
              <img src="{% static 'assets/img/sponsors/logo-sbc.svg' %}" class="img-fluid" alt="logo sbc" width="80%" >
	      </a>
	    </div>
          </div>
	  
          <div class="col-8 col-md-4" style="border-left: 0.5px solid gray;">
	    <div>Patrocínio
	    </div>
            <a href="https://www.btgpactual.com" target="_blank">
	      <img src="{% static 'assets/img/sponsors/logo-btg.svg' %}" class="img-fluid" alt="" width="40%"></a>
	    
	    <img src="{% static 'assets/img/sponsors/space.svg' %}" class="img-fluid" alt="" width="5%">

            <a href="https://www.gov.br/cnpq/pt-br" target="_blank">
	      <img src="{% static 'assets/img/sponsors/logo-cnpq.svg' %}" class="img-fluid" alt="" width="40%"></a>
          </div>

          <div class="col-8 col-md-4" style="border-left: 0.5px solid gray;">
	    <div>Apoio
	    </div>
	    {% comment %}
	    <a href="https://www.alurastart.com.br" target="_blank">
	      <img src="{% static 'assets/img/sponsors/logo-alura.svg' %}" class="img-fluid" alt="" width="36%"></a>

	    <img src="{% static 'assets/img/sponsors/space.svg' %}" class="img-fluida" alt="" width="2%">
	    {% endcomment %}

            <a href="https://www.unicamp.br" target="_blank">
	      <img src="{% static 'assets/img/sponsors/logo-behring-2024.svg' %}" class="img-fluid" alt="" width="17%"></a>

	    <img src="{% static 'assets/img/sponsors/space.svg' %}" class="img-fluida" alt="" width="15%">

            <a href="https://www.unicamp.br" target="_blank">
	      <img src="{% static 'assets/img/sponsors/logo-unicamp.svg' %}" class="img-fluid" alt="" width="35%"></a>

          </div>

          <div class="col-4 col-md-2" style="border-left: 0.5px solid;">
	    <div>Coordenação
	    </div>
            <a href="https://www.ic.unicamp.br" target="_blank">
	      <img src="{% static 'assets/img/sponsors/logo-ic.svg' %}" class="img-fluid" alt="" width="80%"></a>
          </div>

        </div>

      </div>
    </section><!-- End Sponsors Section -->
