{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block title %}Semana Olímpica{% endblock %}

{% block header %}<h1>Semana Olímpica - Agenda</h1>{% endblock %}

{% block content %}
<p>
<h1>Agenda</h1>

<ul>
  <li>30/11 (Domingo)
    <ul>
      <li>Chegada dos participantes, a partir das 16:00 (quem vem de avião poderá chegar antes)</li>
    </ul> 
  </li>

  <li>1/12 (Segunda-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp </li>
      <li>09:00 - 09:30 - Abertura da Semana Olímpica</li>
      <li>09:30 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 19:00 - Jantar </li>
      <li>19:00 - Retorno ao hotel </li>
    </ul> 
  </li>
  <li>2/12 (Terça-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp</li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 19:00 - Jantar </li>
      <li>19:00 - 22:00 - Passeio</li>
      <li>22:00 - Retorno ao hotel </li>
    </ul> 
  </li>
  <li>3/12 (Quarta-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp </li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 19:00 - Jantar </li>
      <li>19:00 - Retorno ao hotel </li>
    </ul> 
  </li>

  <li>4/12 (Quinta-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp </li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 19:00 - Jantar </li>
      <li>19:00 - 22:00 - Passeio</li>
      <li>22:00 - Retorno ao hotel </li>
    </ul> 
  </li>

  <li>5/12 (Sexta-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp</li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>19:00 - 20:00 - Cerimônia de Premiação </li>
      <li>20:30 - 22:30 - Jantar Comemorativo </li>
      <li>22:30 - Retorno ao hotel </li>
    </ul> 
  </li>
  <li>6/12 (Sábado)
    <ul>
      <li>07:30 - 09:00 - Café da manhã </li>
      <li>A partir das  5:00 horas - Partida dos competidores</li>
      <li>12:00 - 13:00 - Almoço para os competidores que viajam mais tarde </li>
    </ul> 
  </li>

</ul>


<h4>Programa da Seletiva para IOI/OII e Seletiva para a EGOI</h4>
<p>A programação para as Seletivas é igual à dos Cursos de Programação, exceto nos itens abaixo
<ul>
  <li>2/12 (Terça-Feira)
    <ul>
      <li>Período da Tarde - Prova 1</li>
    </ul> 
  </li>

  <li>3/12 (Quarta-Feira)
    <ul>
      <li>Período da Tarde - Prova 2</li>
    </ul> 
  </li>

  <li>4/12 (Quinta-Feira)
    <ul>
      <li>Período da Tarde - Prova 3</li>
    </ul> 
  </li>
  <li>5/12 (Sexta-Feira)
    <ul>
      <li>Período da Tarde - Prova Final </li>
    </ul> 
  </li>

</ul>
{% endblock %}

{% block content-related %}
  {% include "week/includes/see_also.html" %}
{% endblock %}
