{% extends "base_week.html" %}
{% load obi_extras %}

{% block title %}Semana Olímpica{% endblock %}

{% block header %}<h1>Semana Olímpica - Agenda</h1>{% endblock %}

{% block content %}
<p>
<h4>Calendário</h4>

<p>As aulas dos cursos ocorrerão entre os dias 2 e 6 de dezembro de
2019. O dia de chegada é 1/12, Domingo, o dia de partida é 7/12, sábado.
No dia 6/12, sexta-feira, às 19:30, haverá uma cerimônia
de premiação, com entrega das medalhas e certificados, no auditório do Hotel Dan Inn.</p>

<h4>Programa da Semana Olímpica</h4>
<ul>
  <li>1/12 (Domingo)
    <ul>
      <li>Todo o dia - Chegada dos participantes (para os convidados do Estado de São Paulo, a chegada deve ser após as 16:00)</li>
      <li>19:00 - Jantar </li>
    </ul> 
  </li>

  <li>2/12 (Segunda-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp </li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 18:30 - Retorno ao hotel </li>
      <li>19:00 - Jantar </li>
    </ul> 
  </li>
  <li>3/12 (Terça-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp</li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 21:30 - Passeio</li>
      <li>21:30 - Retorno ao hotel </li>
    </ul> 
  </li>
  <li>4/12 (Quarta-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp </li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 18:30 - Retorno ao hotel </li>
      <li>19:00 - Jantar </li>
    </ul> 
  </li>

  <li>5/12 (Quinta-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp </li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 21:30 - Passeio</li>
      <li>21:30 - Retorno ao hotel </li>

    </ul> 
  </li>

  <li>6/12 (Sexta-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp</li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>19:00 - 20:00 - Cerimônia de Premiação </li>
      <li>20:30 - 22:00 - Jantar Comemorativo </li>
      <li>22:30 - Retorno ao hotel </li>
    </ul> 
  </li>
  <li>7/12 (Sábado)
    <ul>
      <li>07:30 - 09:00 - Café da manhã </li>
      <li>A partir das  5:00 horas - Partida dos competidores</li>
      <li>12:00 - 13:00 - Almoço para os competidores que viajam mais tarde </li>
    </ul> 
  </li>

</ul>


<h4>Programa da Seletiva da IOI</h4>
<p>A programação para a Seletiva é igual à dos Cursos de Programação, exceto nos itens abaixo
<ul>
  <li>3/12 (Terça-Feira)
    <ul>
      <li>15:30 - 17:30 - Prova 1 </li>

    </ul> 
  </li>

  <li>4/12 (Quarta-Feira)
    <ul>
      <li>13:00 - 18:00 - Prova 2 </li>
    </ul> 
  </li>

  <li>5/12 (Quinta-Feira)
    <ul>
      <li>15:30 - 17:30 - Prova 3 </li>
    </ul> 
  </li>
  <li>6/12 (Sexta-Feira)
    <ul>
      <li>13:00 - 18:00 - Prova Final </li>
    </ul> 
  </li>

</ul>
{% endblock %}

{% block content-related %}
<h1 class="visuallyhidden">OBI</h1>
<div role="complementary">

  {% block browse-wrapper %}
  {% include "includes/see_also_week.html" %}
  {% endblock browse-wrapper %}

  {% block breadcrumbs-wrapper %}
  <h2>Você está aqui:</h2>
  {% with request.path|obi_you_are_here_paths as you_are_here_paths %}
      {% for p in you_are_here_paths %}
      <ul><li><a href="{{ p.0 }}">{{ p.1|safe }}</a>
      {% endfor %}
      <ul><li>Semana Olímpica</li></ul>
      {% for p in you_are_here_paths %}</li></ul>{% endfor %}
  {% endwith %}
  {% endblock breadcrumbs-wrapper %}

</div>
{% endblock %}
