{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block title %}Semana Olímpica{% endblock %}

{% block header %}<h1>Semana Olímpica</h1>{% endblock %}

{% block content %}

<h4>Calendário</h4>

<p>As aulas dos cursos ocorrerão entre os dias 2 e 6 de dezembro de
2019. O dia de chegada é 1/12, Domingo, o dia de partida é 7/12, sábado.
No dia 6/12, sexta-feira, às 19:30, haverá uma cerimônia
de premiação, com entrega das medalhas e certificados, no auditório do Hotel Dan Inn.</p>

<h4>Programa da Semana Olímpica</h4>
<ul>
  <li>1/12 (Domingo)
    <ul>
      <li>Todo o dia - Chegada dos participantes (para os convidados do Estado de São Paulo, a chegada deve ser após as 16:00)</li>
      <li>19:00 - Jantar </li>
    </ul> 
  </li>

  <li>2/12 (Segunda-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp </li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 18:30 - Retorno ao hotel </li>
      <li>19:00 - Jantar </li>
    </ul> 
  </li>
  <li>3/12 (Terça-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp</li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 21:30 - Passeio</li>
      <li>21:30 - Retorno ao hotel </li>
    </ul> 
  </li>
  <li>4/12 (Quarta-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp </li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 18:30 - Retorno ao hotel </li>
      <li>19:00 - Jantar </li>
    </ul> 
  </li>

  <li>5/12 (Quinta-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp </li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>18:00 - 21:30 - Passeio</li>
      <li>21:30 - Retorno ao hotel </li>

    </ul> 
  </li>

  <li>6/12 (Sexta-Feira)
    <ul>
      <li>07:30 - 08:00 - Café da manhã </li>
      <li>08:15 - 09:00 - Ônibus para o IC/Unicamp</li>
      <li>09:00 - 12:00 - Aulas Teóricas</li>
      <li>12:00 - 13:30 - Almoço </li>
      <li>13:30 - 15:00 - Aulas Práticas</li>
      <li>15:00 - 15:30 - Lanche </li>
      <li>15:30 - 18:00 - Aulas Práticas </li>
      <li>19:00 - 20:00 - Cerimônia de Premiação </li>
      <li>20:30 - 22:00 - Jantar Comemorativo </li>
      <li>22:30 - Retorno ao hotel </li>
    </ul> 
  </li>
  <li>7/12 (Sábado)
    <ul>
      <li>07:30 - 09:00 - Café da manhã </li>
      <li>A partir das  5:00 horas - Partida dos competidores</li>
      <li>12:00 - 13:00 - Almoço para os competidores que viajam mais tarde </li>
    </ul> 
  </li>

</ul>


<h4>Programa da Seletiva da IOI</h4>
<p>A programação para a Seletiva é igual à dos Cursos de Programação, exceto nos itens abaixo
<ul>
  <li>3/12 (Terça-Feira)
    <ul>
      <li>15:30 - 17:30 - Prova 1 </li>

    </ul> 
  </li>

  <li>4/12 (Quarta-Feira)
    <ul>
      <li>15:30 - 17:30 - Prova 2 </li>
    </ul> 
  </li>

  <li>5/12 (Quinta-Feira)
    <ul>
      <li>15:30 - 17:30 - Prova 3 </li>
    </ul> 
  </li>
  <li>6/12 (Sexta-Feira)
    <ul>
      <li>13:00 - 18:00 - Prova Final </li>
    </ul> 
  </li>

</ul>
<h4>Hospedagem</h4>

<p>Os convidados ficarão hospedados no Hotel Dan Inn, o mesmo utilizado
  para a Semana Olímpica da OBI nos últimos anos:</p>

<p><i>Hotel Dan Inn</i><br>
Rua Benjamin Franklin, 682<br>Rod. Anhanguera km 104.5 - Techno Park<br>
<a href="https://www.nacionalinn.com.br/hotel-campinas/dan-inn-anhanguera">https://www.nacionalinn.com.br/hotel-campinas/dan-inn-anhanguera</a><br>
<i>Hóspedes avulsos da Semana Olímpica (acompanhantes não pagantes) podem se hospedar nas mesmas condições oferecidas à Coordenação da OBI; entrar em contado com</i><br>
Reservas: David Valentin (reservas@daninnanhanguera.com.br), Tel: (19) 3518-6000<br>

<h4>Ressarcimento de custos</h4>

<p>
Este ano, devido à escassez de recursos, os convidados para a Semana
Olímpica deverão pagar uma Taxa de Ressarcimento pelos custos de
hospedagem, alimentação e transporte durante a semana. As despesas de
transporte até Campinas também são responsabilidade do
participante.
<!-- Estamos tentando patrocínio para fazer novamente a
promoção "Menina paga meia", mas não temos nada ainda confirmado (no
passado o Instituto de Computação gentilmente apoiou essa iniciativa,
mas a situação econômica atual da Unicamp não permite que isso ocorra
novamente). -->

<p>
A Taxa de Ressarcimento para convidados e acompanhantes pagantes, independente
da modalidade, é R$ 1.800,00. Esse valor inclui transporte entre
aeroporto e hotel (em quarto duplo), alimentação (restaurante
universitário no almoço, restaurante do hotel no jantar, jantar de
comemoração), além dos cursos e atividades na Unicamp.

<p>Exclusivamente para </i>acompanhantes pagantes</i>, é possível
ficar em quarto independente no hotel (ao invés de quarto
duplo). Nesse caso, a Taxa de Ressarcimento é R$ 2.400,00. 

<p>Acompanhantes <i>não pagantes</i> também são bem vindos.  Se
o(a) acompanhante não está interessado(a) nas atividades programadas
para <i>acompanhantes pagantes</i> durante a Semana Olímpica
(cursos e palestras), ele(a) pode vir como um <i>acompanhante
não pagante</i>.  Acompanhantes não pagantes não pagam Taxa de
Ressarcimento, mas também não participam das atividades programadas
para a Unicamp, nem têm alimentação e transporte durante a Semana
Olímpica (transporte de e para o aeroporto/rodoviária em geral
conseguimos prover, desde que haja espaço no veículo -- e normalmente
há, mas não podemos garantir de antemão). 

<p>
Solicitamos que acompanhantes não pagantes entrem em contato
diretamente com o hotel para fazer suas reservas.

<p>
O pagamento deve ser realizado através de depósito identificado, na
conta abaixo descrita. É imprescindível o envio do comprovante de
depósito e identificação do convidado/escola para

<center>
  <span><span class="ttt"><font size="-1">faturamento<img src="/static/img/at.gif">sbc.org.br</font></span>,<br />
  com cópia para <br /><span class="ttt"><font size="-1">olimpinf<img src="/static/img/at.gif">ic.unicamp.br</font></span>
</center>

<p>
aos cuidados de Leonardo. Solicitamos que os pagamentos sejam
realizados até o dia 29/11/2019.

<p>
<i>Conta para depósito:</i><br>
Banco do Brasil<br>
Agência: 1899-6<br>
Conta: 23943-7<br>
CNPJ: 295322640001-78<br>
Titular: Sociedade OBI (esse é o nome da conta da OBI, cujo titular é a Sociedade Brasileira de Computação; o CNPJ acima é o da SBC)<br>

<p>
Mesmo que o banco remetente não seja o Banco do Brasil, é necessário
 realizar depósito identificado. A identificação deve ser inserida no
 terceiro campo do formulário de depósito pela (ou informado ao caixa
 do banco se feito presencialmente) desta forma: OBI19 seguido do nome
 do convidado, sem espaços.<br>
<p>
Exemplo: OBI19CARLOSDRUMMOND

<p>Se o pagamento for para mais de um convidado, identificar com o nome
de um deles, e especificar no email, ao enviar o comprovante, o nome
dos outros convidados(as) e acompanhantes.


{% endblock %}

{% block content-related %}
<h1 class="visuallyhidden">OBI</h1>
<div role="complementary">

  {% block browse-wrapper %}
  {% include "week/includes/see_also_seletiva.html" %}
  {% endblock browse-wrapper %}

  {% block breadcrumbs-wrapper %}
  <h2>Você está aqui:</h2>
  {% with request.path|obi_you_are_here_paths as you_are_here_paths %}
      {% for p in you_are_here_paths %}
      <ul><li><a href="{{ p.0 }}">{{ p.1|safe }}</a>
      {% endfor %}
      <ul><li>Semana Olímpica</li></ul>
      {% for p in you_are_here_paths %}</li></ul>{% endfor %}
  {% endwith %}
  {% endblock breadcrumbs-wrapper %}

</div>
{% endblock %}
