{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block title %}Semana Olímpica - Convidados{% endblock %}

{% block header %}<h1>Semana Olímpica</h1>{% endblock %}

{% block content %}
    
  <p>A Semana Olímpica será realizada de forma online, na data
    agendada no Calendário da OBI2021 (semana de 5 a 10 de dezembro de
    2021), para as modalidades I1, I2, PJ e P1.
  </p>

  <p>
    A Seletiva da IOI no momento está prevista para ser presencial, na
    Unicamp, na semana de <em>13 de março (domingo, data de chegada) a
    19 de março (sábado, data de saída) de 2022</em>, mas essa data
    será confirmada mais adiante, dependente ainda da flexibilização
    das regras da Unicamp para participação de alunos externos em
    atividades no campus.
  </p>
  

Estão convidados para a Semana Olímpica da OBI2021 (online):

<ul>
  <li>Iniciação Nível 1
    <ul>
      <li>Medalhistas de Ouro (18 competidores)
    </ul>
  <li>Iniciação Nível 2
    <ul>
      <li>Medalhistas de Ouro (32 competidores)
    </ul>
  <li>Programação Nível Júnior
    <ul>
      <li>Medalhistas de Ouro e Prata (19 competidores)
      <li>Medalhistas de Ouro, Prata e Bronze no <a href="https://tfcbr.inf.ufsm.br/resultados/programação-n%C3%ADvel-júnior">TFC.br -- Torneio Feminino de Computação</a> (6 competidoras)
    </ul>
  <li>Programação Nível 1
    <ul>
      <li>Medalhistas de Ouro e Prata (17 competidores)
      <li>Medalhistas de Ouro e Prata no <a href="https://tfcbr.inf.ufsm.br/resultados/programação-n%C3%ADvel-1">TFC.br -- Torneio Feminino de Computação</a> (4 competidoras)
    </ul>
  <li>Programação Nível 2
    <ul>
      <li>Medalhistas de Ouro e Prata (18 competidores)</li>
      <li>A Coordenação decidiu convidar, adicionalmente, os
	competidores que estão no segundo ano do Ensino Médio e que
	conseguiram mais do que 330 pontos na Fase Nacional, por
	poderem competir na também IOI2023. Veja a lista completa
	em <a href="{% url 'week:partic_seletiva'%}">Participantes
	Seletiva IOI2022</a>
    </ul>
</ul>    


Além destes, estão também convidados os seguintes competidores da OBI2020,
cuja Semana Olímpica foi adiada:

<ul>
  <li>Iniciação Nível 1
    <ul>
      <li>Medalhistas de Ouro (16 competidores)
    </ul>
  <li>Iniciação Nível 2
    <ul>
      <li>Medalhistas de Ouro  (39 competidores)
    </ul>
  <li>Programação Nível Júnior
    <ul>
      <li>Medalhistas de Ouro e Prata (14 competidores)
    </ul>
  <li>Programação Nível 1
    <ul>
      <li>Medalhistas de Ouro e Prata (9 competidores)
    </ul>
</ul>


{% comment %}      
<!--p><i>Nota importante</i>: competidores da Modalidade Iniciação da OBI2020 que já
  tenham participado da Semana Olímpica em anos anteriores, e
  competidores da Modalidade Programação Júnior que já tenham
  participado da Semana Olímpica na modalidade PJ em anos anteriores
  NÃO poderão participar novamente dos cursos este ano, de acordo com
  o Regulamento.
<!--p><font color="red"> Considerando desistências e aumento de
    capacidade, estamos convidando adicionalmente mais alguns
    competidores:
<ul>
      <li>Iniciação Nível 1
    <ul>
      <li>Medalhistas de Prata com Nota Final maior ou igual a 438.
    </ul>
  <li>Iniciação Nível 2
    <ul>
      <li>Medalhistas de Prata com Nota Final maior ou igual a 450.
    </ul>
  <li>Programação Nível Júnior
    <ul>
      <li>Medalhistas de Bronze com Nota Final maior ou igual a 375.
    </ul>
  <li>Programação Nível 1
    <ul>
      <li>Medalhistas de Honra ao Mérito com Nota Final maior ou igual a 263.
    </ul>
  <li>Programação Nível 2
    <ul>
      <li>Medalhistas de Bronze.
    </ul>
</ul>    
</font-->
    
    
<!--p>Além desses, estão convidados também os três competidores medalhistas
  de bronze mais bem colocados na modalidade Programação 2:
  Eduardo Quirino de Oliveira (promoção por idade, pode ainda participar da OBI por
  dois anos) e Beatriz Cunha Freire e Raquel Folz Cavalcante (promoção
  para incentivar meninas a participarem da OBI).

  <p>
  Este ano, devido à escassez de recursos, os convidados para a Semana
Olímpica deverão pagar uma Taxa de Ressarcimento pelos custos de
hospedagem, alimentação e transporte durante a semana. As despesas de
transporte até Campinas também são responsabilidade do
  participante.

  <!--p>Estamos tentando patrocínio para fazer novamente a
promoção "Menina paga meia", mas não temos nada ainda confirmado (no
passado o Instituto de Computação gentilmente apoiou essa iniciativa,
mas a situação econômica atual da Unicamp não permite que isso ocorra
novamente).>
  <p>
  A Taxa de Ressarcimento, independente da modalidade, é R$
  1.800,00. Esse valor inclui transporte entre aeroporto e hotel,
  hotel e Unicamp, seis noites de hotel e todas as refeições.

<p><font color="green">
  Solicitamos que os convidados confirmem a participação na Semana
  Olímpica preenchendo o <a href="https://forms.gle/YKwkDZYZohXZTMLJA">Formulário de Confirmação</a>
  impreterivelmente até as 18:00 horas do dia 23 de novembro de 2019
  (sábado).</font></p-->



  <!--p>
  Solicitamos que os convidados confirmem a participação na Semana
  Olímpica enviando um e-mail para a organização da olimpíada
  (olimpinf<img src="/static/img/at.gif">ic.unicamp.br) manifestando o interesse, para
  receber informações complementares sobre a participação,
  impreterivelmente até as 18:00 horas do dia 19 de novembro de 2019
  (terça-feira).</p-->
{% endcomment %}      


{% endblock %}

{% block content-related %}
<h1 class="visuallyhidden">OBI</h1>
<div role="complementary">

  {% block browse-wrapper %}
  {% include "week/includes/see_also.html" %}
  {% endblock browse-wrapper %}

  {% block breadcrumbs-wrapper %}
  {% comment %}
  <h2>Você está aqui:</h2>
  {% with request.path|obi_you_are_here_paths as you_are_here_paths %}
      {% for p in you_are_here_paths %}
      <ul><li><a href="{{ p.0 }}">{{ p.1|safe }}</a>
      {% endfor %}
      <ul><li>Semana Olímpica</li></ul>
      {% for p in you_are_here_paths %}</li></ul>{% endfor %}
  {% endwith %}
  {% endcomment %}
  {% endblock breadcrumbs-wrapper %}

</div>
{% endblock %}
