{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block title %}Seletiva para IOI2022 - Informações{% endblock %}

{% block header %}<h1>Seletiva para IOI2022</h1>{% endblock %}

{% block content %}

<h1>Informações</h1>
<p>Com o recente aumento nas taxas de transmissão de Covid-19 na
  região de Campinas e em outros estados, é impossível garantir que na
  data anteriormente prevista, 28/3 a 3/4, será possível realizar a
  Seletiva para a IOI2022 com segurança para todos os
  envolvidos. Também não é possível adiar muito a seletiva, pois a
  IOI2022 está programada para 20 a 27 de junho.

<p>Assim, a Coordenação da OBI decidiu realizar a Seletiva da IOI de forma remota:
  <ul>
    <li>as provas serão realizadas nas escolas dos participantes, sob
    supervisão de
      <i>professores observadores externos</i> designados pela
      Coordenação da OBI.
    <li>as demais atividades da Seletiva IOI (aulas e discussões sobre
      os problemas) serão realizadas por videoconferência, de forma
      que os participantes poderão acompanhar essas atividade ou da
      escola ou de sua casa.
  </ul>
  <p>
  <p>Além disso, como a Seletiva para a IOI2022 será realizada de
  forma remota, a Coordenação da OBI está convidando
    <b>todos</b> os medalhistas (ouro, prata e bronze) da OBI2020 na
    modalidade Programação Nível 2 para participar da Seletiva. Esse
    convite é excepcional, e é especialmente dirigido aos medalhistas
    de bronze que estavam matriculados no segundo ano do ensino médio
    em 2020 (e portanto potencialmente podem participar não apenas da
    Seletiva para a IOI2022, mas também da Seletiva para a IOI2022).

<p>
    Solicitamos que os convidados leiam as informações abaixo e se tiverem interesse
    confirmem a participação na Seletiva para a IOI2022
  preenchendo o <a href="https://forms.gle/NGKbrsVSMfTAGpBz8">Formulário de Confirmação</a>
  impreterivelmente até as 18:00 horas do dia 8 de março de 2022 (segunda-feira).
</p>

<h4>O que é</h4>
<p>A Seletiva para a IOI2022 é o processo de seleção de competidores
  para duas competições internacionais:
  a <a href="https://ioinformatics.org"><b>IOI</b></a> (Olimpíada
  Internacional de Informática; em inglês, <em>International Olympiad
  in Informatics</em>) e a CIIC (Competição Ibero-Americana de
  Informática e Computação).  A Seletiva é realizada durante uma
  semana e compreende aulas, discussões sobre soluções problemas e
  provas.

<p>Para a IOI serão selecionados quatro competidores, para a CIIC
serão selecionados dez competidores. A seleção é baseada
  exclusivamente no desempenho dos competidores nas provas da Seletiva.
  Cada prova vale um certo número de pontos. A pontuação da Seletiva
  é a soma do número de pontos das provas.

<p>Os quatro competidores com melhores pontuações na Seletiva
  são selecionados para participar da IOI. Os dez competidores com melhores
  pontuações são selecionados para a participar da CIIC. 

<h4>Provas</h4>
<p>As provas ocorrerão em escolas designadas, na cidade do participante, sob
  observação de um <em>professor observador</em> independente, designado pela
  Coordenação da OBI. Haverá quatro provas: duas provas com duração de três horas
  (6, e 8 de abril) e duas provas com duração de cinco horas (7 e 9 de abril).

<h4>Aulas e outras atividades</h4>
<p>As aulas e outras atividades, como discussão de problemas, serão ministradas por teleconferência.
  Os competidores podem participar de suas casas ou de suas escolas.
  
<h4>Calendário</h4>

<p>As atividades e provas ocorrerão entre os dias 5 e 9 de abril de
2022.</p>

<ul>
  <li>5/abril (Segunda-Feira)
    <ul>
      <li>09:00 - 09:15 - Boas vindas</li>
      <li>09:15 - 12:00 - Aulas Teóricas/Discussões de problemas</li>
      <li>15:00 - 18:00 - Prova de aquecimento </li>
    </ul> 
  </li>
  <li>6/abril (Terça-Feira)
    <ul>
      <li>09:00 - 12:00 - Aulas Teóricas/Discussões de problemas</li>
      <li>15:00 - 18:00 - Prova 1 </li>
    </ul> 
  </li>
  <li>7/abril (Quarta-Feira)
    <ul>
      <li>09:00 - 12:00 - Aulas Teóricas/Discussões de problemas</li>
      <li>13:00 - 18:00 - Prova 2 </li>
    </ul> 
  </li>

  <li>8/abril (Quinta-Feira)
    <ul>
      <li>09:00 - 12:00 - Aulas Teóricas/Discussões de problemas</li>
      <li>15:00 - 18:00 - Prova 3</li>

    </ul> 
  </li>

  <li>9/abril (Sexta-Feira)
    <ul>
      <li>09:00 - 12:00 - Aulas Teóricas/Discussões de problemas</li>
      <li>13:00 - 18:00 - Prova Final</li>
    </ul> 
  </li>
</ul>		    
<h4>Taxa de ressarcimento</h4>
<p>Os convidados para a Seletiva para a IOI2022
  Olímpica deverão pagar uma Taxa de Ressarcimento, no valor
  de R$ 300,00. A taxa de ressarcimento será utilizada para
  cobrir os custos da organização da Seletiva para a IOI2022.

<p>
O pagamento deve ser realizado através de depósito identificado, na
conta abaixo descrita. É imprescindível o envio do comprovante de
depósito e identificação do convidado/escola para

<center>
  <span><span class="ttt"><font size="-1">faturamento<img src="/static/img/at.gif">sbc.org.br</font></span>
</center>
aos cuidados de Leonardo, com cópia para
<center>
<span class="ttt"><font size="-1">olimpinf<img src="/static/img/at.gif">ic.unicamp.br</font></span>
</center>

<p>
Se a escola necessita de Nota Fiscal é necessário informar no corpo
  da mensagem o CNPJ ou CPF, nome e endereço para emissão.

<p>Solicitamos que os depósitos sejam
realizados até o dia 10/03/2022.

<p>
<i>Conta para depósito:</i><br>
Banco do Brasil<br>
Agência: 1899-6<br>
Conta: 23943-7<br>
CNPJ: 29532264/0001-78<br>
Titular: Sociedade OBI (esse é o nome da conta da OBI, cujo titular é a Sociedade Brasileira de Computação; o CNPJ acima é o da SBC)<br>

<p>
Mesmo que o banco remetente não seja o Banco do Brasil, é necessário
 realizar depósito identificado. A identificação deve ser inserida no
 terceiro campo do formulário de depósito (se feito pela internet) ou informado ao caixa
 do banco (se feito presencialmente) desta forma: OBI seguido do nome
 do convidado, sem espaços.<br>
<p>
Exemplo: OBICARLOSDRUMMOND

<p>Se o pagamento for para mais de um convidado, identificar com o nome
de um deles, e especificar no email, ao enviar o comprovante, o nome
dos outros convidados(as).


<h4>Bolsas de Estudo para participação na Seletiva para a IOI2022</h4>
<p>
  Considerando que alguns alunos e escolas não tenham a possibilidade
  de arcar com o custo da Taxa de Ressarcimento, especialmente neste
  momento de pandemia de Covid-19, um grupo de professores Beneméritos
  da OBI decidiu disponibilizar algumas Bolsas de Estudos.  As Bolsas
  de Estudos disponibilizadas cobrirão os custos das Taxas de
  Ressarcimento dos alunos, de forma a permitir que esses alunos
  possam participar da Seletiva para a IOI2022.
<p>Se sua escola não consegue pagar a Taxa de Ressarcimento, e sua
  família não tem condições de arcar com o custo da Taxa de Ressarcimento,
  preencha o
  <a href="https://forms.gle/AE21WjcboKvBUmMTA">Formulário de Solicitação de Bolsas de Estudos</a>.
  Note que você deve também preencher o Formulário de Confirmação de Participação, cujo link
  está acima.
  
{% endblock %}


{% block content-related %}
<h1 class="visuallyhidden">OBI</h1>
<div role="complementary">

  {% block browse-wrapper %}
  {% include "week/includes/see_also_seletiva.html" %}
  {% endblock browse-wrapper %}

  {% block breadcrumbs-wrapper %}
  {% endblock breadcrumbs-wrapper %}

</div>
{% endblock %}
  
