{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block title %}Semana Olímpica - Monitores{% endblock %}

{% block header %}<h1>Semana Olímpica</h1>{% endblock %}

{% block content %}

<h2>Monitores</h2>

<p>Há dois tipos de monitores: Monitores da Semana e Monitores de Laboratório.
Os monitores de ambos os tipos são alunos e alunas de cursos de graduação e pós-graduação da Unicamp.</p>

<p>Os <em><a href="#monitores">monitores da semana</a></em>
acompanham os alunos durante toda a semana, em todas as atividades, e
ficam hospedados no mesmo hotel que os alunos. Os <em><a href="#monitores-laboratorio">monitores de
laboratório</a></em> auxiliam os alunos durante os exercícios práticos
(laboratórios).

<h3 id="monitor-chefe">Monitor-Chefe</h3>
<table border="0" cellpadding="4" cellspacing="0" width="100%">
<tr>
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/lua_muriana.jpeg" width=200>
</td>
<td><b>Luã Marcelo Muriana</b><br>
  Doutorado em Ciência da Computação<br>
  <br>
</td>
</tr>
</table>

<h3 id="monitores">Monitores da Semana</h3>
<table border="0" cellpadding="4" cellspacing="0" width="100%">

<tr>
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/aline_hesley.jpeg" width=200>
</td>
<td><b>Aline Hesley Silva Sousa</b><br>
Ciência da Computação<br>
</td>
</tr>

<tr>
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/jovanio.jpeg" width=200>
</td>
<td><b>Jovanio José Galvão Júnior</b><br>
Ciência da Computação<br>
</td>
</tr>

<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/leticia_berto.jpeg" width=200>
</td>
<td><b>Letícia Berto</b><br>
Doutorado em Ciência da Computação<br>
</td>
</tr>


<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/leticia_bomfim.jpeg" width=200>
</td>
<td><b>Letícia da Silva Bomfim</b><br>
Doutorado em Ciência da Computação<br>
</td>
</tr>

<tr>
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/maria_clara_oliveira.jpeg" width=200>
</td>
<td><b>Maria Clara da Costa Oliveira</b><br>
Engenharia Mecânica<br>
</td>
</tr>


<tr>
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/nicolas_franca.jpeg" width=200>
</td>
<td><b>Nicolas dos Santos França</b><br>
Engenharia de Computação<br>
</td>
</tr>


<tr>
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/paulo_bassani.jpeg" width=200>
</td>
<td><b>Paulo Bassani</b><br>
Engenharia de Computação<br>
</td>
</tr>


<tr>
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/pedro_leao.jpeg" width=200>
</td>
<td><b>Pedro Machado Leão</b><br>
Engenharia de Computação<br>
</td>
</tr>


<tr>
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/rafael_queiroz.jpeg" width=200>
</td>
<td><b>Rafael Queiroz</b><br>
Ciência da Computação<br>
</td>
</tr>


<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/vinicius_leme.jpeg" width=200>
</td>
<td><b>Vinicius Leme Soares</b><br>
Engenharia de Computação<br>
</td>
</tr>


<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/vitor_chagas.jpeg" width=200>
</td>
<td><b>Vítor Gomes Chagas</b><br>
Engenharia de Computação<br>
</td>
</tr>

</table>

<h3 id="monitores-laboratorio">Monitores de Laboratório</h3>

<table border="0" cellpadding="4" cellspacing="0" width="100%">
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/felipe_pereira.jpeg" width=200>
</td>
<td><b>Felipe de Carvalho Pereira</b><br>
Doutorado em Ciência da Computação<br>
</td>
</tr>

<table border="0" cellpadding="4" cellspacing="0" width="100%">
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/gustavo_sacramento.jpeg" width=200>
</td>
<td><b>Gustavo Sacramento Santos</b><br>
Engenharia de Computação<br>
</td>
</tr>

<table border="0" cellpadding="4" cellspacing="0" width="100%">
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/leonardo_costa.jpeg" width=200>
</td>
<td><b>Leonardo Rezende Costa</b><br>
Ciência da Computação<br>
</td>
</tr>

<table border="0" cellpadding="4" cellspacing="0" width="100%">
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/luana_amorim.jpeg" width=200>
</td>
<td><b>Luana Amorim</b><br>
Ciência da Computação<br>
</td>
</tr>

<table border="0" cellpadding="4" cellspacing="0" width="100%">
<td width=200>
<img src="/static/extras/obi2023/semana/fotos_monitores/lucas_paiva.jpeg" width=200>
</td>
<td><b>Lucas Francisco Silva Paiva</b><br>
Ciência da Computação<br>
</td>
</tr>

</table>


{% endblock %}

{% block content-related %}
<h1 class="visuallyhidden">OBI</h1>
<div role="complementary">

  {% block browse-wrapper %}
  {% include "week/includes/see_also.html" %}
  {% endblock browse-wrapper %}

  {% block breadcrumbs-wrapper %}
  {% comment %}
  <h2>Você está aqui:</h2>
  {% with request.path|obi_you_are_here_paths as you_are_here_paths %}
      {% for p in you_are_here_paths %}
      <ul><li><a href="{{ p.0 }}">{{ p.1|safe }}</a>
      {% endfor %}
      <ul><li>Semana Olímpica</li></ul>
      {% for p in you_are_here_paths %}</li></ul>{% endfor %}
  {% endwith %}
  {% endcomment %}
  {% endblock breadcrumbs-wrapper %}

</div>
{% endblock %}
