{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block title %}Semana Olímpica - Professores{% endblock %}

{% block header %}<h1>Semana Olímpica</h1>{% endblock %}

{% block content %}

<h2>Professores</h2>

<ul>
<li>André Amaral de Sousa [<a href="{% url 'week:emite_certificado' 'professor' 1 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 1 %}">carta escola</a>]</li>
<li>Arthur Ferreira do Nascimento [<a href="{% url 'week:emite_certificado' 'professor' 2 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 2 %}">carta escola</a>]</li>
<li>Bernardo Panka Archegas [<a href="{% url 'week:emite_certificado' 'professor' 3 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 3 %}">carta escola</a>]</li>
<li>Bruno Maletta Monteiro [<a href="{% url 'week:emite_certificado' 'professor' 4 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 4 %}">carta escola</a>]</li>
<li>Emanuel Juliano Morais Silva [<a href="{% url 'week:emite_certificado' 'professor' 5 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 5 %}">carta escola</a>]</li>
<li>Felipe Mota dos Santos [<a href="{% url 'week:emite_certificado' 'professor' 6 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 6 %}">carta escola</a>]</li>
<li>Frederico Bulhões de Sousa Ribeiro [<a href="{% url 'week:emite_certificado' 'professor' 7 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 7 %}">carta escola</a>]</li>
<li>Luiz Fernando Batista Morato [<a href="{% url 'week:emite_certificado' 'professor' 8 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 8 %}">carta escola</a>]</li>
<li>Luiz Henrique Yuji Delgado Oda [<a href="{% url 'week:emite_certificado' 'professor' 9 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 9 %}">carta escola</a>]</li>
<li>Matheus Leal Viana [<a href="{% url 'week:emite_certificado' 'professor' 10 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 10 %}">carta escola</a>]</li>
<li>Naim Shaikhzadeh Santos [<a href="{% url 'week:emite_certificado' 'professor' 11 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 11 %}">carta escola</a>]</li>
<li>Tiago Domingos Almeida Souza [<a href="{% url 'week:emite_certificado' 'professor' 12 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 12 %}">carta escola</a>]</li>
<li>Yan Matheus Tavares e Silva [<a href="{% url 'week:emite_certificado' 'professor' 13 %}">certificado</a>] [<a href="{% url 'week:emite_carta_professor' 13 %}">carta escola</a>]</li>
</ul>
  
{% comment %}
<ul>
  <li>Profa. Dra. Flávia Pisani, IC-Unicamp [<a href="{% url 'week:emite_certificado' 'professor' 1 %}">certificado</a>]
  <li>Prof. MSc. Fábio Mallaco Moreira, ITA [<a href="{% url 'week:emite_certificado' 'professor' 2 %}">certificado</a>]
  <li>Bernardo Amorim, DCC-UFMG  [<a href="{% url 'week:emite_certificado' 'professor' 3 %}">certificado</a>]
  <li>Bernardo Panka Archegas, IC-Unicamp  [<a href="{% url 'week:emite_certificado' 'professor' 4 %}">certificado</a>]
  <li>Bruno Monteiro, DCC-UFMG  [<a href="{% url 'week:emite_certificado' 'professor' 5 %}">certificado</a>]
  <li>Emanuel Silva, DCC-UFMG  [<a href="{% url 'week:emite_certificado' 'professor' 6 %}">certificado</a>]
  <li>Yan Matheus Tavares e Silva, IC-Unicamp  [<a href="{% url 'week:emite_certificado' 'professor' 7 %}">certificado</a>]
</ul>
<table border="0" cellpadding="4" cellspacing="0" width="100%"> 
<tr>
<td width=200>
<img src="/static/extras/obi2019/semana/fotos_professores/flavia_pisani.png" width=200>
</td>
<td><b>Flávia Pisani</b>
</td>
</tr>

<tr>
<td width=200>
<img src="/static/extras/obi2019/semana/fotos_professores/GiovannaConrado.jpeg" width=200>
</td>
<td><b>Giovanna Kobus Conrado</b>
</td>
</tr>

<tr>
<td width=200>
<img src="/static/extras/obi2019/semana/fotos_professores/AndreSousa.jpeg" width=200>
</td>
<td><b>André Amaral de Sousa</b>
</td>
</tr>

<tr>
<td width=200>
<img src="/static/extras/obi2019/semana/fotos_professores/andreza_santos.jpeg" width=200>
</td>
<td><b>Arthur Nascimento</b>
</td>
</tr>

<tr>
<td width=200>
<img src="/static/extras/obi2019/semana/fotos_professores/fabio_mallaco.png" width=200>
</td>
<td><b>Fábio Mallaco</b>
</td>
</tr>

<tr>
<td width=200>
<img src="/static/extras/obi2019/semana/fotos_professores/FredericoBulhoes.jpeg" width=200>
</td>
<td><b>Frederico Bulhões de Souza Ribeiro</b>
</td>
</tr>

<tr>
<td width=200>
<img src="/static/extras/obi2019/semana/fotos_professores/TiagoSousa.jpeg" width=200>
</td>
<td><b>Tiago Domingos Almeida Souza</b>
</td>
</tr>

<tr>
<td width=200>
<img src="/static/extras/obi2019/semana/fotos_professores/YanVictor.jpeg" width=200>
</td>
<td><b>Yan Victor Souza Guimarães</b>
</td>
</tr>

</table>
<p>&nbsp</p>

{% endcomment %}
{% endblock %}

{% block content-related %}
<h1 class="visuallyhidden">OBI</h1>
<div role="complementary">

  {% block browse-wrapper %}
  {% include "week/includes/see_also.html" %}
  {% endblock browse-wrapper %}

  {% block breadcrumbs-wrapper %}
  {% comment %}
  <h2>Você está aqui:</h2>
  {% with request.path|obi_you_are_here_paths as you_are_here_paths %}
      {% for p in you_are_here_paths %}
      <ul><li><a href="{{ p.0 }}">{{ p.1|safe }}</a>
      {% endfor %}
      <ul><li>Semana Olímpica</li></ul>
      {% for p in you_are_here_paths %}</li></ul>{% endfor %}
  {% endwith %}
  {% endcomment %}
  {% endblock breadcrumbs-wrapper %}

</div>
{% endblock %}
