{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block title %}Semana Olímpica{% endblock %}

{% block header %}<h1>Semana Olímpica - Programação Júnior</h1>{% endblock %}

{% block content %}
<p>
<h1>Dia 1</h1>

<ul>
  <li><a href="https://shorturl.at/nuvEF">Lista de exercícios</a>
</ul>


{% endblock %}

{% block content-related %}
<h1 class="visuallyhidden">OBI</h1>
<div role="complementary">

  {% block browse-wrapper %}
  {% include "week/includes/see_also.html" %}
  {% endblock browse-wrapper %}

  {% block breadcrumbs-wrapper %}
  {% comment %}
  <h2>Você está aqui:</h2>
  {% with request.path|obi_you_are_here_paths as you_are_here_paths %}
      {% for p in you_are_here_paths %}
      <ul><li><a href="{{ p.0 }}">{{ p.1|safe }}</a>
      {% endfor %}
      <ul><li>Semana Olímpica</li></ul>
      {% for p in you_are_here_paths %}</li></ul>{% endfor %}
  {% endwith %}
  {% endcomment %}
  {% endblock breadcrumbs-wrapper %}

</div>
{% endblock %}
