{{ greetings }} {{ coord_name}},

A AluraStart (https://alurastart.com.br) está oferecendo três meses de acesso gratuito a seus cursos de pensamento computacional, habilidades
digitais e programação de computadores a todos os competidores e professores inscritos na OBI2023.

Os acessos serão gratuitos até 30 de setembro de 2023.

O acesso aos cursos da AluraStart é feito com o endereço de email do(a) competidor(a). Uma mensagem com a senha para acesso será enviada
diretamente pela AluraStart aos competidores e professores com endereços de emails cadastrados.

Competidores sem endereço de email cadastrado
---------------------------------------------

Se o Coordenador Local da OBI2023 não cadastrou um endereço de email para o competidor, este não poderá aproveitar a oferta da AluraStart,
já que o acesso é feito através do endereço de email do aluno.

O Coordenador Local da OBI2023 pode atualizar o cadastro dos alunos e incluir os endereços de emails. Para alterar o cadastro de um aluno:

* Na página de Coordenação, seção "Cadastro", linha "Competidores", clique em "Listar/Editar"

* Na lista de competidores, escolha o competidor que deseja alterar (a lista pode ser filtrada e ordenada, veja coluna à direita da página)

* Altere os dados necessários e clique em Salvar.

Competidores com endereço de email cadastrado, mas repetido para mais de um competidor
---------------------------------------------

Há vários casos de competidores com endereços de email repetidos, normalmente por serem irmãos e o endereço de email fornecido ser o do
pai ou mãe. Nesses casos, os competidores podem compartilhar o acesso ao curso usando o endereço de email fornecido. Se quiserem acessos
separados, será necessário cadastrar um endereço de email diferente para cada irmão/irmã. Veja acima como alterar o endereço de email de
um competidor.

Atualizações serão semanais
--------------------------------

Novas listas de endereços de emails serão enviadas pela OBI2023 semanalmente para a AluraStart. Ou seja, a alteração do cadastro de um
competidor na OBI2023 não permite o acesso "imediato" aos cursos da AluraStart; é necessário que a AluraStart processe a nova lista para
que o acesso seja liberado.

Bom proveito a todos!


{% include 'includes/signature.html' %}
