{% load obi_extras %}

{{ greetings }}

     {{ compet.compet_name }}

obrigado pelo seu interesse na Semana Olímpica da OBI{{ year }}.

Por favor complete o "Questionário sobre conhecimento em programação", para ajudar os professores a se planejarem (o questionário é anônimo):

https://forms.gle/ce2vYmgCrKP2SFbZ8

Ainda estamos finalizando a programação, mas as atividades da Semana Olímpica acontecerão nos dois períodos, manhã e tarde, com aulas teóricas (9:00-10:30 e 14:00-15:30) seguidas de atividades práticas (10:30-12:30 e 15:30-17:30). As atividades práticas serão acompanhadas por monitores, para tirar dúvidas e ajudar os alunos.

Apenas os alunos com participação confirmada terão acesso às aulas e atividades práticas. Recomendamos que os alunos assistam ao curso do nível para o qual foi convidado,  mas os alunos podem escolher qual aula seguir (por exemplo,  se achar que conseguiria acompanhar uma aula mais avançada, ou sentir necessidade de assistir uma aula menos avançada do que a recomendada). As aulas serão gravadas e disponibilizadas para que todos possam assistir qualquer aula posteriormente.

Esperamos você na Semana Olímpica!

{% include 'includes/signature.html' %}
