{{greeting}} {{school.school_deleg_name}}

Estão abertas as inscrições para a OBI{{ year }}.

É necessário confirmar o cadastro da escola, mesmo tendo participado da OBI no ano passado. Se o(a) Sr(a) já confirmou o cadastro para a OBI{{ year }}, por favor desconsidere esta mensagem.

Confirmar o cadastro é simples. Caso o(a) Sr(a) ainda seja professor(a) da escola

{{school.school_name}}

e possa continuar auxiliando na organização da OBI, atuando como Coordenador Local, e não há alterações nas informações do cadastro (endereço de correio eletrônico, nome de usuário) basta clicar no seguinte link:

https://olimpiada.ic.unicamp.br/cadastra_escola_auto/{{school.school_hash}}

O cadastro de sua escola será confirmado automaticamente, utilizando as informações do cadastro no ano passado e o(a) Sr(a). receberá uma mensagem com a nova senha (caso não consiga clicar no link, copie o link e cole-o na barra de endereços de seu navegador internet).

Se deseja fazer alterações no cadastro da escola, como por exemplo modificar o endereço de correio eletrônico ou o nome de usuário, por favor preencha um novo cadastro, clicando no seguinte link:

https://olimpiada.ic.unicamp.br/cadastra_escola

(a Secretaria da OBI2022 fará a unificação do novo cadastro com o cadastro do ano anterior, desde que o nome da escola e a cidade da escola sejam os mesmos).

Caso o(a) Sr(a) lecione agora em outra escola, mas deseje continuar atuando como Coordenador Local da nova escola, basta preencher o formulário de cadastro para a nova escola. É simples e rápido: 

https://olimpiada.ic.unicamp.br/cadastra_escola

As provas da OBI{{ year }} serão presenciais, a menos que as condições sanitárias devido à pandemia de Covid-19 voltem a piorar.

Agradecemos a colaboração com a OBI{{ year }}.

{% include 'includes/signature.html' %}
