{{ greetings }}

     {{ compet.compet_name}}

você está recebendo esta mensagem porque seu professor efetuou sua inscrição na Olimpíada Brasileira de Informática (OBI2022). Esta mensagem é um convite de um dos parceiros da OBI2022 aos competidores do Rio de Janeiro.

------------------
Você deseja cursar Ciência da Computação com bolsa em uma das melhores faculdades da América Latina? 

Se inscreva no vestibular da PUC-Rio! A universidade possui uma grande infraestrutura e diversas parcerias com empresas como o Americanas Futuro Lab e o Apple Academy dentro do campus. 

A Fundação Behring irá fornecer bolsas de estudo para o curso analisando o perfil dos alunos e vocês receberão maiores instruções após o final das inscrições. Além disso, a faculdade também possui um programa de bolsas filantrópicas para alunos de baixa renda. 

Aproveite esta oportunidade e se inscreva neste link: https://www.puc-rio.br/vestibular/202212/

As inscrições vão até o dia 19/09 e caso haja qualquer dúvida podem enviar um e-mail para vestibular@fundacaobehring.org

Caso você se inscreva no vestibular e tenha interesse, nos envie seu nome e escola no email vestibular@fundacaobehring.org com o assunto Inscrição PUC-Rio.


{% include 'includes/signature.html' %}
