{{ greetings }} {{ compet.compet_name }},

você está recebendo esta mensagem porque está classificad{{ suffix }} para a Fase 3 (Fase Nacional) da Olimpíada Brasileira de Informática (OBI{{ year }}).

Esta mensagem é apenas um lembrete de que as provas da Fase 3 da Modalidade Iniciação ocorrem no sábado, dia 15 de outubro de 2022 das 9h às 11h.

A prova deve ser feita individualmente e sem acesso a qualquer tipo de material de consulta (como livros, internet, anotações pessoais...). Confiamos no seu "espírito olímpico" para obedecer a essas regras!

Antes de se dirigir ao local de prova, consulte as informações sobre a sua sede em:

https://olimpiada.ic.unicamp.br/fase3/consulta_sua_sede

A prova será feita no papel utilizando a Folha de Respostas para indicar a alternativa que você escolheu para cada questão (o mesmo formato que foi usado nas Fases 1 e 2). Veja a seguinte imagem com um exemplo da Folha de Respostas e comentários sobre o que é importante fazer para garantir que a sua prova seja corrigida automaticamente pelo sistema:

https://olimpiada.ic.unicamp.br/static/extras/obi2022/ExemploFolhaRespostas.jpg

Leia também as instruções ao final desta mensagem.

Boa prova!

**********
INSTRUÇÕES
**********

* Leve um documento ou uma carteirinha da escola com foto.

* Chegue ao local de prova 15 minutos antes.

* A prova é individual e sem consulta a qualquer material. Você pode
  usar caneta preta ou azul, lápis, papel em branco, borracha e régua.

* Marque apenas uma resposta por questão. Mais de uma marcação anula
  a questão.

* Procure não deixar questões sem resposta. Você não perde pontos por
  respostas erradas.

* A prova tem 40 questões. Lembre de deixar tempo para preencher a
  Folha de Respostas.

* A correção das tarefas será realizada após o período de aplicação
  da prova e o resultado será divulgado posteriormente.

* Não divulgue ou comente as tarefas da prova com outros competidores
  até o término do período de aplicação da prova.

{% include 'includes/signature.html' %}
