{{ greetings }} {{ coord_name}},

devido ao apagão que ocorreu no dia 15/08, prejudicando a aplicação da prova da Fase 2 em muitas escolas, será oferecida uma nova prova, opcional, nesta quarta-feira (23/08). Veja notícia no link 

https://olimpiada.ic.unicamp.br/noticias/2023/08/15/apagao-nova-prova-opcional-em-nova-data/

TODOS os alunos classificados para a Fase 2 podem fazer a prova. Na verdade, gostaríamos que todos os alunos classificados participassem da prova, pois mesmo para os que já fizeram a prova do "Turno A" e foram bem, a prova do Turno B é uma ótima oportunidade de treinamento para a Fase 3. E para os que não participaram da prova do "Turno A", é uma nova chance, já que as classificações do "Turno A" e do "Turno B" são independentes. As tarefas da prova NÃO são as mesmas da prova do "Turno A", é realmente uma nova prova.

A prova deve ser aplicada na escola, sob supervisão de um professor ou funcionário. Estaremos MONITORANDO os endereços IPs das máquinas dos competidores, para nos certificarmos de que estão realizando a prova na escola. Escolas e competidores podem ser desclassificados por descumprimento das regras de aplicação da prova.

Vejam no link abaixo um documento sobre como as submissões dos alunos são corrigidas e avaliadas (esse documento será também enviado aos competidores classificados):

https://olimpiada.ic.unicamp.br/static/extras/obi2023/provas/folha_instrucoes.pdf


Repetimos abaixo as informações enviadas para a prova da semana passada, pois são as mesmas para a aplicação da prova do "Turno B":

Sabemos que é feriado em algumas cidades, mas infelizmente isto é inevitável, qualquer data escolhida para a prova será feriado em dezenas de cidades do país. Sabemos da enorme dificuldade, mas solicitamos que as escolas se esforcem para abrir e aplicar a prova para seus alunos.

É necessário baixar as senhas do Ambiente de Prova da OBI2023 (CMS, o mesmo usado na Fase 1). Para baixar as senhas, na página de Coordenação, clique no link "Senhas da Prova" na Seção "Fase 2", linha "Modalidade Programação - Turno B".

Os competidores devem usar o Ambiente de Prova da OBI{{ year }}. São utilizados quatro endereços diferentes para o Ambiente de Prova, um para cada nível da modalidade Programação:

Nível Júnior: https://pj.provas.ic.unicamp.br
Nível 1: https://p1.provas.ic.unicamp.br
Nível 2: https://p2.provas.ic.unicamp.br
Nível Sênior: https://ps.provas.ic.unicamp.br

Para mais detalhes, e um passo-a-passo para a aplicação das provas, na página de coordenação da OBI{{ year }} clique no link "Aplicação" da Seção "Fase 3", linha "Modalidade Programação - Turno B".

A prova tem duração de duas horas para os níveis Júnior e 1, e três horas para os níveis 2 e Sênior. O horário da aplicação da prova fica a critério das escolas, e a escola pode aplicar a prova em horários diferentes para turmas diferentes, se necessário.

O Ambiente de Prova ficará aberto das 08:00 às 21:00 (nenhuma submissão será aceita após esse horário).

Após a prova os Coordenadores terão acesso aos programas submetidos e ao resultado preliminar da correção, na página de Coordenação.

Boa prova a todos!

{% include 'includes/signature.html' %}
