{{ greetings }}

     {{ compet.compet_name}}

A AluraStart (https://alurastart.com.br) está oferecendo três meses de acesso gratuito a seus cursos de pensamento computacional, habilidades
digitais e programação de computadores a todos os competidores e professores inscritos na OBI2023.

Os acessos serão gratuitos até 30 de setembro de 2023.

O acesso aos cursos da AluraStart é feito com o endereço de email do(a) competidor(a). Uma mensagem com a senha para acesso será enviada
diretamente pela AluraStart aos competidores e professores com endereços de emails cadastrados.

Para mais informações, veja https://olimpiada.ic.unicamp.br/info/beneficio_alura

Bom proveito a todos!

{% include 'includes/signature.html' %}
