{{ greetings }}

     {{ compet.compet_name}}

você está recebendo esta mensagem porque seu professor efetuou sua inscrição na Olimpíada Brasileira de Informática (OBI2022). Esta mensagem é um convite de um dos parceiros da OBI2022.

------------------
Você tem interesse no mercado de tecnologia? Gosta de participar de competições? É estudante do 9º ano ou do Ensino Médio?

Então venha nessa! Estão abertas as inscrições para a Maratona Tech, uma jornada de aprendizagem por meio de desafios de pensamento computacional que te aproxima da carreira em tecnologia. 

As inscrições estão abertas até dia 05/08 (sexta-feira)!  

Durante a jornada, você terá desafios semanais baseados em aulas que acontecerão aos sábados nos meses de agosto e setembro. Ao final, aqueles estudantes que se destacarem receberão medalha (ouro, prata e bronze) e curso de capacitação na área de tecnologia. 

Não fique de fora! Inscreva-se aqui:

https://bit.ly/3cxaYfm


{% include 'includes/signature.html' %}
