{{ greetings }} {{ coord_name }},

as provas da Fase Local (Fase 1) da OBI2023 estão chegando!

As provas da Fase Local devem ser aplicadas na escola, sob supervisão,
nas datas:

* Modalidade Iniciação: 25 a 27 de maio (uma hora de duração)
* Modalidade Programação: de 1 a 3 de junho (duas horas de duração)

O horário da prova é à escolha da escola e a prova pode ser aplicada
em horários diferentes para turmas diferentes.

Prova Teste
------------
Para que alunos e escolas se habituem com o formato das provas da OBI,
disponibilizaremos "Provas Teste" que podem ser aplicadas antes das provas
da Fase Local.

Prova Teste da Modalidade Iniciação
-----------------------------------

A Prova Teste da Modalidade Iniciação está disponível na página de Coordenação
da OBI2023 (link ACESSO ESCOLAS, com sua senha de Coordenador, Seção "Fase 1",
linha "Modalidade Iniciação", link "Prova Teste"). A Prova Teste tem duração
de 15 minutos.

Prova Teste da Modalidade Programação
-------------------------------------

A Prova Teste da Modalidade Programação estará disponível no período de
24/5 a 30/5, das 8:00 às 21:00, exceto nos dia 27 e 28 de junho (sábado e
domingo), quando o ambiente de prova estará aberto das 8:00 às 18:00.

A Prova Teste tem duração de 30  minutos. As senhas para acesso ao
Ambiente de Prova não são as mesmas que os alunos usam para acessar
suas páginas pessoais na OBI2023. As senhas do Ambiente de Prova
para a Prova Teste estão disponíveis na página de Coordenação
(Seção "Fase 1", linha "Modalidade Programação", link "Senhas Prova Teste".

***********************************************
INSTRUÇÕES PARA ALUNOS, MODALIDADE INICIAÇÃO
***********************************************

* A prova é individual e sem consulta a qualquer material. Você pode
  usar caneta preta ou azul, lápis, papel em branco, borracha e régua.

* Marque apenas uma resposta por questão. Mais de uma marcação anula
  a questão.

* Procure não deixar questões sem resposta. Você não perde pontos por
  respostas erradas.

* Lembre de deixar tempo para preencher a Folha de Respostas.

* Não divulgue ou comente as tarefas da prova com outros competidores
  até o término do período de aplicação da prova.


*************************************************
INSTRUÇÕES PARA ALUNOS, MODALIDADE PROGRAMAÇÃO
*************************************************

* A prova é individual e sem consulta a qualquer material, impresso,
  digital ou disponível na Internet. Você pode usar caneta preta ou
  azul, lápis, papel em branco, borracha e régua.

* O endereço (link) para a prova e a sua senha para acesso para o
  Ambiente de Prova será entregue pelo professor Coordenador Local
  da OBI2023 em sua escola.

* Você não deve acessar qualquer página na Internet a não ser através
  do Ambiente de Prova.

* Não divulgue ou comente as tarefas da prova com outros competidores
  até o término do período de aplicação da prova.


{% include 'includes/signature.html' %}
