{{ greetings }} {{ coord_name}},

as provas da Fase 2 da OBI{{ year }} para a modalidade Programação ocorrem nesta terça-feira (15/08).

A prova deve ser aplicada na escola, sob supervisão de um professor ou funcionário.

Sabemos que é feriado em algumas cidades, mas infelizmente isto é inevitável, qualquer data escolhida para a prova será feriado em dezenas de cidades do país. Sabemos da enorme dificuldade, mas solicitamos que as escolas se esforcem para abrir e aplicar a prova para seus alunos.

É necessário baixar as senhas do Ambiente de Prova da OBI2023 (CMS, o mesmo usado na Fase 1). Para baixar as senhas, na página de Coordenação, clique no link "Senhas da Prova" na Seção "Fase 2", linha Modalidade Programação.

Os competidores devem usar o Ambiente de Prova da OBI{{ year }}. São utilizados quatro endereços diferentes para o Ambiente de Prova, um para cada nível da modalidade Programação:

Nível Júnior: https://pj.provas.ic.unicamp.br
Nível 1: https://p1.provas.ic.unicamp.br
Nível 2: https://p2.provas.ic.unicamp.br
Nível Sênior: https://ps.provas.ic.unicamp.br

Para mais detalhes, e um passo-a-passo para a aplicação das provas, na página de coordenação da OBI{{ year }} clique no link "Aplicação" da Seção "Fase 3", linha "Modalidade Programação".

A prova tem duração de duas horas para todos os níveis (Júnior, 1, 2 e Sênior). O horário da aplicação da prova fica a critério das escolas, e a escola pode aplicar a prova em horários diferentes para turmas diferentes, se necessário.

O Ambiente dr Prova ficará aberto das 08:00 às 18:00 (note que os alunos devem iniciar a prova até 16:00)

Após a prova os Coordenadores terão acesso aos programas submetidos e ao resultado preliminar da correção, na página de Coordenação.

Boa prova a todos!

{% include 'includes/signature.html' %}
