{{ greetings }} {{ school.school_deleg_name}},

iniciou-se hoje 30/05 o período de provas da Modalidade Iniciação. Os
alunos devem fazer a prova entre hoje e 01/06 (quarta-feira).

Foi enviada uma mensagem de lembrete da prova para todos os
competidores, informando como acessar a prova, bem como o nome de
usuário e senha que devem utilizar. As mensagens foram enviadas entre
sexta-feira 27/05 e domingo 29/05 (são milhares de mensagens, e por
contrato podemos enviar um limite de 2000 por hora).

Os competidores são muito jovens, e é comum que não consigam digitar o
usuário e senha corretamente. Agradeceríamos se os professores
coordenadores pudessem auxiliar os competidores a acessar a prova.
Veja a "Notícia para Coordenadores" sobre como lidar com senhas que
não chegam ou não funcionam:

https://olimpiada.ic.unicamp.br/restrito/noticias/2022/05/28/senhas-de-alunos/

Lembramos que para a modalidade Iniciação é necessário que os
professores coordenadores "autorizem" a realização da prova na forma
online para os seus competidores. A razão é que não sabemos, a priori,
quais escolas vão aplicar a prova em papel ou online.

Por favor leia a "Notícia para Coordenadores" que foi postada sobre a
necessidade de autorizar a prova online:

https://olimpiada.ic.unicamp.br/restrito/noticias/2021/06/21/necessario-autorizar-a-prova-online/

(As "Notícias para Coordenadores" aparecem na página de Coordenação,
na coluna à direita).

Para escolas que vão aplicar a prova presencialmente, os Cadernos de
Tarefas estão disponíveis; veja na Seção Fase 1, Linha Modalidade
Iniciação, clique em Aplicação. E logo após o período de realização
das provas serão divulgados os gabaritos e os Sr(a)s. poderão fazer a
correção da prova de seus competidores. Veja como realizar a correção:
na Seção Fase 1, Linha Modalidade Iniciação, clique em Correção.

Para as escolas que vão aplicar a prova online, é possível acompanhar
quem está realizando ou já realizou a prova: na Seção Fase 1, Linha
Prova Fase 1 Online, clique em Status.


Boa prova a todos!

{% include 'includes/signature.html' %}
  
