{{ greetings }} {{ coord_name}},

os Cadernos de Tarefas para a prova da Fase 3 da Modalidade Iniciação estão disponíveis (PARA ESCOLAS QUE IRÃO APLICAR A PROVA PRESENCIALMENTE). Para minimizar a possibilidade de vazamento, por favor não acesse os Cadernos de Tarefas a menos que sua escola vá aplicar a prova presencialmente.

ATENÇÃO: por favor verifique a versão do Caderno de Tarefas (no rodapé da página de rosto). Hoje, 01/10, às 10:40, disponibilizamos uma nova versão para o Nível 2. Como os Cadernos de Tarefa foram inicialmente disponibilizados hoje, 01/10, às 09:00, alguns coordenadores podem ter baixado a versão anterior. A versão correta para o Caderno de Tarefas da Iniciação 2 é "v1.1" (para a Iniciação Júnior e Iniciação 1 a versão correta é "v1.0". Se o Sr(a) já imprimiu não é necessário reimprimir os Cadernos de Tarefas, mas é necessário avisar os alunos da seguinte ERRATA:

Na questão 36, a alternativa (C) deveria ser  "Uma série de comédia é transmitida às 22:00 horas" (e não "Uma série de comédia é transmitida às 21:00 horas").

(Note que essa errata é apenas para o Caderno de Tarefas de Iniciação Nível 2).


Repetimos abaixo mais informações sobre a prova de amanhã.

Devido à pandemia de Covid-19, elas serão aplicadas com a mesma sistemática utilizada na Fase 2, isto é, se a escola desejar (e puder!) ela pode aplicar a prova presencialmente, na própria escola do aluno, caso contrário o aluno poderá realizar a prova em sua casa, de forma online.

Na escola, a aplicação da prova pode ser realizada de maneira tradicional, com papel e lápis, ou on-line se a escola dispuser de computadores suficientes para os alunos classificados.

Prova Online
------------
Para a prova online não é necessária nenhuma ação por parte dos Coordenadores. A prova online estará disponível no Ambiente de Prova da OBI{{ year }}, acessível na área pessoal do competidor (mesmo procedimento da prova das Fases 1 e 2, no link "ACESSO COMPETIDORES" da página da OBI{{ year }}). Durante a prova os Coordenadores poderão acompanhar o "status" (competidores que iniciaram/terminaram a prova) e após a prova os Coordenadores terão também acesso às respostas submetidas. Para isso, na página de coordenação da OBI{{ year }}, clique no link "Status" da Seção "Fase 3", linha "Prova Online".

Prova na escola
-------------
Na escola, a prova pode ser feita on-line (utilizando o Ambiente de Prova da OBI{{ year }}) se a escola dispuser de computadores suficientes para os alunos classificados realizarem a prova, ou a escola pode aplicar a prova da maneira tradicional, com papel e lápis. 

Os Cadernos de Tarefas (provas) serão disponibilizados na manhã da sexta-feira que precede aplicação da prova para as escolas que forem aplicar a prova em papel. Para cada competidor, é necessário imprimir uma cópia do Caderno de Tarefas e uma Folha de Respostas (onde o competidor deve marcar suas respostas). Infelizmente a OBI não tem recursos para cobrir essa despesa, e agradecemos imensamente a contribuição das escolas na impressão das provas. Após a aplicação será necessário digitalizar as Folhas de Respostas preenchidas pelos competidores e enviar os arquivos digitalizados para correção.

O horário e a duração das provas é o mesmo para os três níveis (Júnior, 1 e 2):

* Duração: duas horas
* Horário: o ambiente estará aberto entre 08:00 e 13:00 (competidores devem iniciar no máximo 11:00)

Para mais informações sobre a aplicação das provas, por favor consulte a página de Coordenação da OBI{{ year }}, seção "Fase 3", linha "Modalidade Iniciação", link "Aplicação".

Os competidores classificados receberão hoje uma mensagem de lembrete sobre a prova, com a senha a ser utilizada (a mesma que já é usada para acesso à página pessoal do competidor).

Se algum competidor de sua escola é "sabadista", ou seja, guarda o sábado por religião, por favor entre em contato para saber como proceder (endereços abaixo). Estamos preparando um esquema para que esses competidores possam participar.

Boa prova a todos!

{% include 'includes/signature.html' %}
