
{% with year="2023" %} 

{{ greetings }} {{ coord_name}},

Nesta Fase 2, a correção da prova da Modalidade Iniciação deve ser feita utilizando o Sistema Automatizado de Correção da OBI{{ year }}.

Para usar o sistema automatizado de correção é necessário digitalizar as Folhas de respostas dos alunos. Infelizmente o sistema de correção não funciona muito bem com Folhas de Respostas digitalizadas com o celular, devido a distorções da câmera e sombras na imagem. Se possível, por favor utilize um escaner de mesa.

Para acessar o sistema automatizado de correção:

1) Entre na página de coordenação da OBI{{ year }} utilizando seu nome de usuário e senha:

https://olimpiada.ic.unicamp.br/restrito/

2) Na Seção "Fase 2", linha "Modalidade Iniciação", clique no link "Correção da prova".

3) Siga as instruções da página.

Solicitamos que as Folhas de Resposta sejam enviadas até o dia 14/08.

Agradecemos muito o trabalho dedicado à OBI{{ year }}, na aplicação e correção das provas.

Atenciosamente,

{% include 'includes/signature.html' %}

{% endwith %}
