{{ greetings }} {{ coord_name}},

estão disponíveis para os coordenadores as submissões e o resultado da correção preliminar da prova da Fase 3. Estão disponíveis também o PDF da prova, gabaritos (arquivos de teste utilizados na correção) e exemplos de soluções.

Para acessar: na página de coordenação, seção "Fase 3", linha "Modalidade Programação", clique no link "Correção".

Os resultados são preliminares e podem ser alterados como resultado de eventuais recursos.

Os alunos também podem ver o resultado da correção em suas páginas pessoais da OBI{{ year }}.
  
{% include 'includes/signature.html' %}
