{{ greetings }} {{ coord_name}},

informamos que infelizmente, devido a problemas operacionais, precisaremos adiar a prova da Fase Nacional (Fase 3) para a Modalidade Iniciação. A nova data da prova será 15 de outubro, sábado, em substituição à data original de 24 de setembro.

As provas ocorrerão no período da manhã, das 9:00 às 11:00, ou seja, com duração de DUAS HORAS para os três níveis (Júnior, 1 e 2).

A data da prova da Modalidade Programação está mantida para o dia 1 de outubro.

Outras datas do calendário, relativas aos resultados da prova da Fase 3, foram também alteradas, de forma que a data do resultado final passou do dia 24 para o dia 31 de outubro.

Por favor consulte o novo calendário no link https://olimpiada.ic.unicamp.br/calendario/obi_completo

Lamentamos o inconveniente causado pela mudança de planos e novamente agradecemos a colaboração com a OBI{{ year }}.

Atenciosamente,

{% include 'includes/signature.html' %}
