{{ greetings }} {{ compet.compet_name }},

estamos tentando entrar em contato com o(a) Prof(a). {{ school.school_deleg_name }}, Coordenador(a) Local da escola {{ school.school_name }} na OBI2022.

No entanto, ainda não obtivemos resposta sobre a possibilidade da escola ser sede em {{ school.school_city }}/{{ school.school_state }} da Fase 3 (Fase Nacional) da OBI2022 na modalidade {{ mod_name }}, que ocorrerá em {{ mod_date }}.

Pedimos gentilmente que entre em contato com o(a) Coordenador(a) e solicite que envie um e-mail para olimpinf@ic.unicamp.br o quanto antes possível.

Atenciosamente,

{% include 'includes/signature.html' %}
