{{ greetings }} {{ coord_name}},

as provas da Fase 3 da OBI{{ year }} para a modalidade Programação ocorrem no próximo sábado (25/19). Devido à pandemia de Covid-19, elas serão aplicadas com a mesma sistemática utilizada na Fase 2, isto é, se a escola desejar (e puder!) ela pode aplicar a prova presencialmente, na própria escola do aluno, caso contrário o aluno poderá realizar a prova em sua casa, de forma online.

Nos dois casos (prova na escola ou na casa do aluno) os competidores devem usar o Ambiente de Prova da OBI{{ year }}, cujo link estará disponível em suas páginas pessoais da OBI{{ year }}. Não é necessária nenhuma ação por parte dos Coordenadores para a aplicação da prova online. Para mais detalhes sobre a aplicação das provas, na página de coordenação da OBI{{ year }}, clique no link "Aplicação" da Seção "Fase 3", linha "Modalidade Programação".

Durante a prova, os Coordenadores poderão acompanhar o "status" (competidores que iniciaram/terminaram a prova); após a prova os Coordenadores terão também acesso aos programas submetidos e ao resultado da correção. Para isso, na página de coordenação da OBI{{ year }}, clique no link "Status" da Seção "Fase 3", linha "Prova Online".

Horário e duração das provas:

* Programação Nível Júnior: três horas
  (ambiente aberto entre 08:00 e 13:00, deve iniciar no máximo 10:00)

* Programação Nível 1: quatro horas
  (ambiente aberto entre 08:00 e 14:00, deve iniciar no máximo 10:00)

* Programação Nível 2: cinco horas
  (ambiente aberto entre 08:00 e 15:00, deve iniciar no máximo 10:00)

* Programação Nível Sênior:
  cinco horas (ambiente aberto entre 08:00 e 15:00, deve iniciar no máximo 10:00)

Se algum competidor de sua escola é "sabadista", ou seja, guarda o sábado por religião, por favor entre em contato para saber como proceder (endereços abaixo). Estamos preparando um esquema para que esses competidores possam participar.

Boa prova a todos!

{% include 'includes/signature.html' %}
