{{ greetings }} {{ school.school_deleg_name}},

seguem informações sobre a correção da Modalidade Iniciação.

* Se a prova foi realizada online, o coordenador não precisa
 fazer nada, a correção é automática.

* Se a prova foi realizada no formato "papel e lápis", o
  coordenador precisa corrigir as Folhas de Respostas dos
  competidores. As Folhas de Respostas podem ser corrigidas
  de duas maneiras:

  1) manualmente, comparando as respostas do competidor na Folha
   de Respostas com o Gabarito. Cada resposta correta equivale a um
   ponto. As pontuações podem ser inseridas uma a uma, com um
   formulário, ou por lote, através de um arquivo preparado
   com as pontuações.

  2) usando o sistema automático de correção. Nesse caso é necessário
  digitalizar as Folhas de Respostas dos alunos, mas a inserção da
  pontuação é automática.

Os coordenadores podem conferir as pontuações já inseridas de seus
competidores no forumalário Insere/Modifica pontuações:

https://olimpiada.ic.unicamp.br/fase1/ini/restrito/inserepontosini

Para maiores informações consulte a página de Correção da
Modalidade Iniciação: na página de coordenação, seção "Fase 1",
linha "Modalidade Iniciação", clique em "Correção". O link direto é

https://olimpiada.ic.unicamp.br/fase1/ini/restrito/correcao_ini

Por favor, insira as pontuações até o dia 06/06.

Agradecemos a colaboração com a OBI{{ year }}, atenciosamente,

{% include 'includes/signature.html' %}
