{{ greetings }} {{ coord_name }},

você está recebendo esta mensagem porque tem alunos classificados entre os 500 primeiros em alguma modalidade/nível na OBI2022.

O Ministério de Ciência e Tecnologia está solicitando informações sobre alunos participantes das olimpíadas científicas, especialmente os de famílias beneficiárias do Auxílio Brasil, para possível concessão de Bolsas de Iniciação Científica.

Por isso, solicitamos que os Coordenadores acessem a página de coordenação, e completem as informações dos competidores melhores classificados em suas escolas, em todos os níveis da OBI (na página de Coordenação, seção "Cadastro", linha "Competidores", clique em "Listar/Editar" e depois clique no nome do competidor; há novos campos disponíveis no cadastro dos competidores). Por favor informe pelo menos um dos campos entre "Nome da mãe", "CPF do competidor" ou "NIS do competidor". Por favor complete as informações até terça-feira, 8 de novembro.

O programa Bolsa de Iniciação Científica Júnior, instituído em 2021, é concedido a estudantes integrantes de famílias beneficiárias do Auxílio Brasil que tenham se destacado em competições acadêmicas e científicas e dá o direito ao aluno receber 12 parcelas mensais de R$100,00, por 12 meses, e o responsável familiar do aluno receber o valor de R$ 1.000,00 no ano. No total serão contemplados 10 mil alunos de todo Brasil. 

Além dos valores da bolsa, o bolsista tem a oportunidade de participar de um Programa de Mentoria do CNPq com as melhores técnicas da metodologia científica que permitirão que o estudante maximize suas oportunidades e probabilidade de sucesso na vida. A bolsa é um dos mecanismos de incentivo ao esforço individual e à emancipação previstos no Auxílio Brasil. 

Atenciosamente,

{% include 'includes/signature.html' %}
