{{greetings}} {{coord_name}},

Informamos que as inscrições para a OBI{{ year }} estão abertas e a escola
pode inscrever competidores(as) até as seguintes datas:

* Modalidade Iniciação: 24 de maio de 2023
* Modalidade Programação: 31 de maio de 2023

Solicitamos que as escolas inscrevam os(as) alunos(as) o quanto antes, para
auxiliar no planejamento tanto da escola como da Coordenação da OBI{{ year }}.

==================== Sobre as Provas ====================

Modalidade Iniciação: são feitas com papel e lápis (não é necessário
computador), têm duração de uma hora e devem ser aplicadas entre os
dias 25 de maio (quinta-feira) e 27 de maio (sábado), em horário
à escolha da escola.

Modalidade Programação: será necessário um computador para cada
competidor(a). A prova terá duração de duas horas e deve ser aplicada
entre os dias 1 de junho (quinta-feira) e 3 de junho (sábado).

As provas das duas modalidades serão presenciais, na escola dos
competidores, sob supervisão de um professor ou responsável. Não é
necessário que todos os(as) alunos(as) de uma escola façam a prova no mesmo dia
e horário, mas os(as) alunos(as) devem ser instruídos(as) a não discutirem a prova
com outros(as) alunos(as) até que o período de aplicação de provas termine.

==================== Mais Informações ====================

Acesse a página de Coordenação Local da OBI{{ year }}, clicando o link
"ACESSO ESCOLAS" no topo da página da OBI{{ year }}
(https://olimpiada.ic.unicamp.br). Para lembrar, seu nome de usuário
cadastrado é 

Usuário: {{ username }}

Utilize a senha enviada anteriormente (não armazenamos senhas de coordenador).

Agradecemos imensamente o seu trabalho na organização da OBI{{ year }}.

Esta é uma mensagem enviada automaticamente, por favor não responda.

{% include 'includes/signature.html' %}
