{{ greetings }} {{ coord_name}},

Sobre os Cadernos de Tarefas da Fase 2, modalidade Iniciação:

Por um erro meu no script de montagem da prova, tivemos que regerar os Cadernos de Tarefas, que agora têm o número de versão 1.1. Por favor certifique-se de que as cópias entregues para os alunos têm o número de versão 1.1.

A mudança foi feita por volta das 8:30 de hoje.

Se o Prof(a). acessou o site antes disso por favor confira!

Desejamos uma boa prova a todos!

PS: a única alteração foi no Caderno de Tarefas do Nível 1 (troca
de uma tarefa), mas o número de versão foi alterado também para 1.1
nos Cadernos de Tarefas dos Níveis Júnior e 2 (mesmo sem ter havido
alterações).

Prof. Ricardo Anido
IC/Unicamp

{% include 'includes/signature.html' %}

