{{ greetings }} {{ coord_name}},

informamos que aluno(s) da escola

{{ school_name }}

foram convidados para participar da Semana Olímpica da OBI2021, devido ao(s) seu(s) ótimo(s) desempenho(s) na OBI.

Durante a Semana Olímpica os alunos convidados têm cursos teóricos e práticos sobre algoritmos e programação de computadores. Os cursos são oferecidos em vários níveis: para os competidores da Modalidade Iniciação há cursos de Introdução à Programação de Computadores, para os competidores da Modalidade Programação há cursos de algoritmos e técnicas de programação, que variam de acordo com o nível do competidor.

Este ano, devido à pandemia de Covid-19, infelizmente a Semana Olímpica ocorrerá de forma online, de 05 a 10 de dezembro de 2021.

Os alunos convidados para a Semana Olímpica da OBI2020 (ano passado), cuja Semana Olímpica foi adiada, também participarão da Semana Olímpica da OBI2021. Alguns desses alunos foram "promovidos" para um nível superior ao que haviam sido convidados no ano passado: por exemplo, se o aluno foi convidado no ano passado para a Modalidade Iniciação Nível 1 mas participou este ano da Modalidade Programação Nível Júnior, então ele foi "promovido", sendo convidado para participar da Semana Olímpica na Modalidade Programação Nível Júnior (já que não teria sentido ele participar do curso de Introdução à Programação oferecido aos competidores da Modalidade Iniciação).

É necessário que os competidores confirmem o interesse em participar, preenchendo um formulário disponível nas suas páginas pessoais na OBI2021. Para acessar a sua página pessoal, os competidores devem clicar menu ACESSO COMPETIDORES no cabeçalho da página da OBI2021, usando a sua senha de acesso.

Para participar da Semana Olímpica é necessário também pagar uma pequena Taxa de Ressarcimento, no valor de R$ 180,00. Normalmente as escolas conseguem arcar com essa despesa. Se a escola não pode pagar, e a família do(a) convidado(a) também não tem meios suficientes para arcar com essa despesa, por favor entre em contato, temos algumas poucas "bolsas de estudo" oferecidas por professores do Instituto de Computação da Unicamp para esses casos.

Os Coordenadores podem acompanhar o "status" dos convidados na Semana Olímpica, ou seja, se já manifestou interesse e se a Taxa de Ressarcimento já foi paga, na página de Coordenação da OBI2021 (Seção Semana Olímpica, link "Status").

Para mais informações sobre a Semana Olímpica da OBI2021, consulte o link

https://olimpiada.ic.unicamp.br/semana/

Esperamos que todos os competidores convidados de sua escola possam participar da Semana Olímpica da OBI2021!

{% include 'includes/signature.html' %}
