{{ greetings }} {{ coord_name}},

Inicia-se na próxima quinta-feira, 25/maio, o período de aplicação da
prova da Fase 1 (Fase Local) da Modalidade Iniciação. A prova deve ser
aplicada até sábado, 27/maio. A prova tem duração de uma hora e pode
ser aplicada em qualquer um dos dias do período de aplicação, à
escolha da escola.

Não é necessário que todos os alunos da escola realizem a prova num
mesmo dia e horário, a prova pode ser aplicada em horários e dias
diferentes para turmas diferentes. Mas é importante lembrar os alunos
de que não devem comentar as questões da prova com outros alunos, por
qualquer meio (conversa, rede social) até o final do período de
aplicação da prova.

Para acessar as provas, bem como detalhes sobre a aplicação, clique
no link "Aplicação" da Seção "Fase 1", linha "Modalidade Iniciação"
na página de Coordenação. Para acessar a página de Coordenação,
click no link ACESSO ESCOLAS da página da OBI2022 e entre com o
seu nome de usuário e senha).

A prova é individual e sem consulta a qualquer material (livros,
anotações, internet, ...). Os competidores podem usar apenas lápis,
borracha, caneta e régua para fazer a prova.

Lembramos que a prova deve ser feita na escola, sob supervisão.
Não é permitida a aplicação da prova fora da escola.

Após a prova, será necessário corrigir as Folhas de Respostas dos
alunos. Isso pode ser feito manualmente ou através da correção
automatizada (nesse caso será necessário digitalizar as Folhas de
Respostas). Os gabaritos e a correção automatizada serão
disponibilizados após o período de aplicação das provas.

Para detalhes sobre a correção, clique no link "Correção" da Seção
"Fase 1", linha "Modalidade Iniciação" na página de Coordenação.

Desejamos uma boa prova a todos!

{% include 'includes/signature.html' %}
