Prezado(a) Professor(a) {{ school_data.name }},

o  Instituto de  Computação da  UNICAMP  e a  Sociedade Brasileira  de
Computação  convidam a  escola

{{ school_data.school_name }}

a  participar  da 25a  Olimpíada Brasileira de  Informática (OBI{{ year }}).
Se  já  participa, por  favor  ignore  esta  mensagem.  Se  ainda  não
participa, gostaríamos de convidá-lo(a) a  conhecer a OBI, acessando a
página

https://olimpiada.ic.unicamp.br

A participação na OBI é gratuita e oferece uma ótima oportunidade
para incentivar, nos alunos de sua escola, a criatividade e o interesse
por numa disciplina importante nos dias de hoje, a computação.

A OBI é composta de duas modalidades, divididas em sete níveis:

* Modalidade Iniciação, para  alunos do quarto ao  nono ano  do ensino
  fundamental) e

* Modalidade Programação, para alunos do ensino fundamental, do ensino
  médio e técnico e primeiro ano do ensino de graduação.

Na  Modalidade Iniciação  as  provas  são feitas  com  papel e  lápis,
envolvendo tarefas de raciocínio lógico, sem necessidade de computador
ou qualquer conhecimento prévio. Veja um exemplo de tarefa da  modali-
dade iniciação:

https://olimpiada.ic.unicamp.br/pratique/ij/2020/f2/corrida/

Na Modalidade Programação os alunos precisam  de um  computador para
fazer a  prova, mas  mesmo quem  tem conhecimento  bem  básico  de
programação pode  participar,  pois  há questões de diferentes níveis
de dificuldade. Veja um exemplo de tarefa da modalidade programação:

https://olimpiada.ic.unicamp.br/pratique/pj/2019/f1/idade/

Todos  os participantes  recebem  certificados de  participação, e  os
melhores de cada modalidade recebem  medalhas de ouro, prata e bronze.
Os professores e colaboradores  locais também recebem certificados. Os
alunos melhores  colocados na OBI{{ year }}  serão convidados para  a Semana
Olímpica  da OBI,  que acontece  na Unicamp  em dezembro,  na qual  os
alunos de todas as modalidades  participam de cursos de programação de
vários  níveis, do  mais básico  ao  avançado.

Cadastrar a escola é simples e rápido, basta preencher um formulário:

https://olimpiada.ic.unicamp.br/cadastra_escola

Na página da OBI na Internet estão disponíveis todas as provas de anos
anteriores  (link  "Anos  Anteriores"),  e os  alunos  podem  praticar
resolvendo  tarefas de  anos anteriores  (link "Pratique").  Os alunos
podem também praticar fazendo uma prova "Teste" para se familiarizar
com o ambiente de provas da OBI que será usado para as provas.

E  para quem   quer aprender  a programar computadores,  seja aluno do
ensino fundamental, do ensino médio  ou professor, a OBI disponibiliza
um "Curso  de Introdução  à Programação de  Computadores".  É  todo em
português,  é  on-line, é  grátis,  e  não  precisa instalar  nada  no
computador:

https://olimpiada.ic.unicamp.br/saci

Não deixe de participar!

{% include 'includes/signature.html' %}
