{% load obi_extras %}

{{ greetings }}

     {{ compet.compet_name }}

Obrigado por confirmar sua participação na Semana Olimpica da OBI{{ year }}.

Por favor preencha o formulário de Chegadas e Partidas, para que possamos organizar o translado entre aeroporto (ou rodoviária) de Campinas e o Hotel Vitória Express:

https://olimpiada.ic.unicamp.br/semana/chegadas

Preencha o formulário mesmo se você vai chegar diretamente no hotel.

Esperamos você no IC-Unicamp para a Semana Olímpica!

{% include 'includes/signature.html' %}
