{% extends "base_restricted.html" %}
{% load obi_extras %}


{% block content %}
<h1>Aplicação da Prova Teste - Modalidade Programação</h1>

<p class="emph">Recomendamos que, se possível, a escola aplique a prova
presencialmente na escola, com supervisão, para simular as mesmas condições da
aplicação da prova da Fase 1. No entanto, como isso nem sempre é possível, a
Prova Teste, diferentemente da Prova da Fase 1, pode ser feita pelo aluno sem
supervisão (ou seja, por exemplo na sua casa). 

<p>A Prova Teste estará disponível entre os dias 5/6 e
  9/6. A cada dia, o ambiente de prova estará aberto das 8:00 às
  21:00 exceto sábado e domingo, quando o ambiente estará aberto de 8:00 às 18:00.

<p>A Prova Teste tem duração de uma hora. O competidor deve iniciar
  a prova no máximo uma hora antes do fechamento do ambiente de
  prova.
</p>

<p>Veja um <a href="{% url 'fase0:passo_a_passo_prog' %}">passo-a-passo para aplicação da Prova Teste</a>.

<p>Não é necessário que todos os alunos da escola realizem a prova num mesmo dia ou horário, mas
  os alunos devem ser lembrados de que não devem comentar as tarefas da prova com
  quem ainda não realizou a prova.

<p>No dia da prova, cada aluno deve ter à sua disposição um
  computador com editores de texto e pelo menos um compilador entre C,
  C++, Java ou o interpretador Python.

<p>O aluno deve acessar o Ambiente de Prova da {{ 'OBI'|obi_date_year }} utilizando um navegador
  Internet (como Firefox, Chrome, Safari). O aluno não deve acessar a Internet a não ser através do
  Ambiente de Prova da {{ 'OBI'|obi_date_year }}.

<p>O Ambiente de Prova utilizado na OBI é similar ao ambiente de prova utilizado na
  Olimpíada Internacional de Informática. 

<p>Os alunos devem fazer as provas individualmente, sem consulta a
  qualquer material impresso (como livros ou apostilas) ou digital
  (como programas feitos anteriormente ou ferramentas de IA).  O tempo de prova será
  controlado pelo Ambiente de Prova, e a correção será automática.

<p>Solicitamos que a escola supervisione a aplicação da prova para
  garantir que os competidores não acessem material não autorizado durante
  a realização da prova.

<p>Os alunos podem usar lápis, borracha, régua e folhas em branco como
  rascunho (sugerimos que a escola disponibilize duas ou três folhas
  de rascunho por aluno).

<h3>Senhas</h3>
<p>As senhas para acesso ao Ambiente de Prova são diferentes das senhas para
  acesso às páginas pessoais dos competidores.
A senha de acesso ao Ambiente de Prova é disponibilizado exclusivamente
    para os professores Coordenadores Locais. Para acessar as senhas do Ambiente de Provas:
    
    <ul>
      <li>Na página de coordenação, seção "Fase 0", linha "Fase 0",
	clique no link "Senhas Prova Teste".
    </ul>

    
<h3>Sugestão aos Coordenadores</h3>
<p>Para saber como funciona o Ambiente de Prova (sistema CMS),
  saber como os competidores submetem soluções, etc.,
  inscreva um "aluno fictício" e use a senha desse aluno para
  acessar a página pessoal de competidor e a prova.

  <p>Mas não se esqueça de remover o aluno após a experiência!
  

<h3>Listas de Presença, Modalidade Programação</h3>
<p>As listas de presença são fornecidas apenas para auxiliar a gestão da escola, para saber quem
  realmente compareceu e quem não compareceu. Elas não são obrigatórias, mas sugerimos o seu uso
  para o caso de haver disputas, no futuro, sobre a presença ou não do(a) competidor(a) na prova.
<ul>
<li><a href="lista_presenca/PJ">Nível Júnior</a>
<li><a href="lista_presenca/P1">Nível 1</a>
<li><a href="lista_presenca/P2">Nível 2</a>
<li><a href="lista_presenca/PS">Nível Sênior</a>
</li>
</ul>



<h3>Endereços do Ambiente de provas</h3>
<ul>
  <li>São utilizados quatro endereços diferentes para o Ambiente de Prova, um para
    cada nível da modalidade Programação:
    <ul>
      <li>Nível Júnior: <a href="https://pj.provas.ic.unicamp.br"><span class="ttt">https://pj.provas.ic.unicamp.br</span></a>
      <li>Nível 1: <a href="https://p1.provas.ic.unicamp.br"><span class="ttt">https://p1.provas.ic.unicamp.br</span></a>
      <li>Nível 2: <a href="https://p2.provas.ic.unicamp.br"><span class="ttt">https://p2.provas.ic.unicamp.br</span></a>
      <li>Nível Sênior: <a href="https://ps.provas.ic.unicamp.br"><span class="ttt">https://ps.provas.ic.unicamp.br</span></a>
    </ul>
</ul>


<!--font color="red"> (ainda NÃO disponíveis, serão
disponibilizadas 12:00 (meio-dia) do dia 28/05, terça-feira)</font-->
<h3>Caso Especial: Provas no ambiente Saci</h3>
<p>Alguns (poucos) alunos estudaram programação pelo ambiente Saci,
da OBI, que tem dois cursos disponívels, Javascript e Blockly/Python

Para esses alunos, preparamos uma versão especial do Editor Saci para as provas da OBI, 
para que os alunos tenham o mesmo ambiente e para que possam desenvolver e testar suas
soluções em Javascript ou Python.

<p>Se algum aluno de sua escola solicitar acesso ao Editor Saci, siga os passos:
<ul>
<li> Faça o download
do Editor Saci no link abaixo (arquivo .zip)
<li> Copie o arquivo .zip para o computador onde o aluno vai fazer a
prova (por exemplo, saci.zip).
<li> Descompacte o arquivo. Vai ser criada uma pasta (de nome saci)
<li> Dentro da pasta criada, clique duas vezes no arquivo de nome "index.html";
o navegador padrão (Firefox, Chrome, Opera...) do sistema deve abrir e mostrar a prova.
<li> Se não funcionar, abra uma janela de um navegador (Firefox, Chrome...)
e abra o arquivo "index.html" pelo navegador. O ambiente de desenvolvimento deve aparecer como uma
página do navegador.

<ul>
<li><a href="zip/saci.zip">Editor Saci Javascript</a>
<li>Infelizmente não é possível disponibilizar o editor como um
  arquivo. Instrua os seus competidores a utilizarem o
<a href="/saci/cursos/python/15/">
  Editor Blockly/Python</a> disponível no site da OBI.
</ul>
</ul>

{% endblock %}

{% block content-related %}
<h1 class="visuallyhidden">Instruções</h1>
<div role="complementary">

  {% block browse-wrapper %}
  {% block browse %}
  
<h3>Instruções</h3>
  <ul>
    <li>No dia da prova, cada aluno deve ter à sua disposição um
    computador com editores de texto e pelo menos um compilador entre C,
    C++, Java ou o interpretador Python.
    <li>O aluno deve acessar o Ambiente de Prova da {{ 'OBI'|obi_date_year }} utilizando um navegador
      Internet (como Firefox, Chrome, Safari).
    <li>O aluno não deve acessar a Internet a não ser através do
      Ambiente de Prova da {{ 'OBI'|obi_date_year }}.
    <li>Os alunos devem fazer as provas individualmente, sem consulta a qualquer
      material impresso (como livros ou apostilas) ou digital (como programas feitos anteriormente).
  </ul>
  <h4>Senhas para o Ambiente de Prova</h4>
  <ul>
    <li>As senhas para o Ambiente de Prova <b>não</b> são as mesmas que os competidores
      usam para acessar suas páginas pessoais.
    <li>As senhas para o Ambiente de Prova são disponibilizadas apenas para os Coordenadores, e
      devem ser entregues pessoalmente para os competidores no momento da aplicação da prova, na escola.
    <li>Para baixar as senhas para o Ambiente de Prova, clique no link "Senhas da Prova" (ou "Senhas
      da Prova Teste") na página de Coordenação, "Seção Fase 1", linha "Modalidade Programação".
<p>

  {% endblock browse %}
  {% endblock browse-wrapper %}

  {% block breadcrumbs-wrapper %}
  {% endblock breadcrumbs-wrapper %}
      
</div>
{% endblock %}
