{% extends "admin/base_site.html" %}
{% load i18n %}


{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:index' %}">Fase 3</a>
&rsaquo; Gera Certificados
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}

  <div id="content-main">

<h1>Gera Certificados</h1>

<p>

<p>Clique nos links abaixo para gerar os certificados de alunos e colaboradores.

<ul>
<li><a href="compet">Certificados de competidores (todas as modalidades em um único arquivo PDF)
<li><a href="colab">Certificados de colaboradores (coordenador e colaboradores em um único arquivo PDF)
</ul>

<hr>
  </div>
{% endblock %}
