{% extends "base_restricted.html" %}
{% load obi_extras %}


{% block content %}

<h1>Aplicação das Provas - Fase 2, Turno B - Modalidade Programação</h1>

<p class="emph">A prova, <b>exclusivamente para o Nível 2 da modalidade Programação</b>, deverá ser aplicada presencialmente na escola, sob supervisão, 
  {{ "prog-fase-2b-prova"|obi_date|date:'d/m'}}
  ({{ "prog-fase-2b-prova"|obi_date|date:'l'|lower }}).
  A prova tem duração de três horas.  O ambiente de provas fecha
  às 21:00.
 </p>

<p>A prova será realizada no Ambiente de Prova da OBI2024 (o mesmo utilizado na
    Fase 1).</em>

<p>
  Não é necessário que todos os alunos da escola realizem a prova no mesmo horário, mas
  os alunos devem ser lembrados de que não devem comentar as tarefas da prova com
  quem ainda não realizou a prova.

<p>Veja um <a href="{% url 'fase2:passo_a_passo_prog' %}">passo-a-passo para aplicação da Prova</a>.
  
<p>No dia da prova, cada aluno deve ter à sua disposição um
  computador com editores de texto e pelo menos um compilador entre C,
  C++, Java ou o interpretador Python.

<p>O aluno deve acessar o Ambiente de Prova da {{ 'OBI'|obi_date_year }} utilizando um navegador
  Internet (como Firefox, Chrome, Safari). O aluno não deve acessar a Internet a não ser através do
  Ambiente de Prova da {{ 'OBI'|obi_date_year }}.

<p>Os alunos devem fazer as provas individualmente, sem consulta a
  qualquer material impresso (como livros ou apostilas) ou digital
  (como programas feitos anteriormente, sites de IA, repositórios de problemas, etc.).  O tempo de prova será
  controlado pelo Ambiente de Prova, e a correção será automática.

<p>Solicitamos que a escola supervisione a aplicação da prova para
  garantir que os competidores não acessem material ou sites não autorizados durante
  a realização da prova.

<p>Os alunos podem usar lápis, borracha, régua e folhas em branco como
  rascunho (sugerimos que a escola disponibilize duas ou três folhas
  de rascunho por aluno).
    
<p>O tempo de prova será controlado pelo sistema da OBI, e a correção
  será automática.

<p>Não será possível acompanhar o "status" da prova durante a sua realização,
mas após a prova os coordenadores terão acesso às submissões dos
competidores.

<p> Os Cadernos de Tarefas e as submissões dos alunos serão disponibilizados para os
  Coordenadores após o período de aplicação da prova.

<h3>Senhas para a prova - Fase 2 - Modalidade Programação</h3>
  <p>As senhas para a prova devem ser entregues pessoalmente, na escola,
    no momento de aplicação da prova.
  <p>Note que as Senhas da Prova são diferentes das senhas que os competidores
    usam para acessar suas páginas pessoais na OBI2024 -- essas senhas os competidores
    recebem por email no momento da inscrição (se fornecido um endereço
    de email para eles) e podem ser baixadas da seção "Cadastro" na página
    de Coordenação.

  <p><font color="red">As Senhas da Prova serão disponibilizadas apenas no dia da prova.</font>
    
  <p>As Senhas da Prova devem ser baixadas da página de coordenação,
    seção "Fase 2", linha "Modalidade Programação", link "Senhas Prova",
    ou <a href="{% url 'restrito:compet_cartoes_senhas_cms' %}">clicando aqui</a> quando disponíveis.
  
  {% comment %}
  
  <h2>2. Aplicação de prova nas escolas</h2>  
<p><em>
    Mesmo que a prova seja feita na
    escola, o competidor deve utilizar o Ambiente de Prova da OBI2024.
    </em>

<p>Para acessar os Cadernos de Tarefas para impressão, clique nos links abaixo. Os cadernos
estão no formato PDF. Se você não conseguir abri-los corretamente, pode
ser necessário instalar o aplicativo (gratuito) <a href="http://www.adobe.com/br/products/acrobat/readstep2.html">
Adobe Acrobat Reader</a>.</p>

<p>
<p class="emph">Os Cadernos de Tarefas ainda NÃO estão disponíveis;
  eles serão disponibilizados
  {{ "prog-prova-da-fase-2-publica-para-coord"|obi_date_finish|date:'d/m' }}
  ({{ "prog-prova-da-fase-2-publica-para-coord"|obi_date_finish|date:'l'|lower }}).
</p>

<ul>
<li><a href="pdf/FolhaTeste.pdf">Folha de Teste</a> (já disponível, apenas
para todos verificarem que conseguem baixar e visualizar corretamente
um arquivo no formato PDF)

<li><a href="pdf/ProvaOBI2024_f2pj.pdf">Nível Júnior</a>

<li><a href="pdf/ProvaOBI2024_f2p1.pdf">Nível 1</a>

<li><a href="pdf/ProvaOBI2024_f2p2.pdf">Nível 2</a>

<li><a href="pdf/ProvaOBI2024_f2pu.pdf">Nível Sênior</a>
</ul>

  {% endcomment %}

<h3>Listas de Presença, Modalidade Programação</h3>
<p>As listas de presença são fornecidas apenas para auxiliar a gestão da escola, para saber quem
  realmente compareceu e quem não compareceu. Elas não são obrigatórias, mas sugerimos o seu uso
  para o caso de haver disputas, no futuro, sobre a presença ou não do(a) competidor(a) na prova.
  <ul>
    {% comment %}
<li><a href="lista_presenca/PJ">Nível Júnior</a>
<li><a href="lista_presenca/P1">Nível 1</a>
    {% endcomment %}
<li><a href="lista_presenca/P2">Nível 2</a>
    {% comment %}
<li><a href="lista_presenca/PS">Nível Sênior</a>
    {% endcomment %}
</ul>

{% endblock %}

{% block content-related %}

{% endblock %}
