{% extends "base_restricted.html" %}
{% load obi_extras %}

{% block head_extra %}
<script>
  function _focus_next(e) {
      $(e).parent().parent().next().find('input').focus();
}
</script>
{% endblock head_extra %}

{% block body_onload %}
{# document.getElementById('{{ focus }}_compet_points').focus(); #}
{% if focus %}
_focus_next(document.getElementById('{{ focus }}_compet_points'));
{% endif %}
{% endblock body_onload %}

{% block content %}
<h1>{{ pagetitle }} </h1>
  {% if items.paginator.count > 0 %}
  {% if items.paginator.count == 1 %}
<p>{{ items.paginator.count }} competidor selecionado, total de {{ total }} competidores inscritos</p>
  {% else %}
<p>{{ items.paginator.count }} competidores selecionados, total de {{ total }} competidores inscritos</p>
{% endif %}

<table class='admin' width="100%">
  <tr>
    <th width="">Núm. Inscr.</th>
    <th width="">Nome</th>
    <th class="center">Modalidade</th>
    <th class="center" width="">Pontos</th>
    <th class="center" width="">Classif. Fase 3</th>
  </tr>
  
  {% for c in items %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ c.compet_id|obi_format_compet_id }}</td>
    <td>{% if c.compet_points_fase2 %}
      <a href="{% url 'fase2:mostra_resultado_coord_ini' c.compet_id %}" target="_blank">{{ c.compet_name }}</a>{% else %}{{c.compet_name}}{% endif %}</td>
    <td class="center">{{ c.compet_type|obi_format_compet_type_short }}</td>
    <td class="center">{{c.compet_points_fase2|default_if_none:''}}</td>
    {% if show_classif %}
      <td class="center">{% if c.compet_classif_fase2 %}<font color="green">Sim</font>
      {% else %}<font color="red">Não</font>{% endif %}</td>
    {% else %}
    <td class="center"><img src="/static/admin/img/icon-unknown.svg" alt="None"></td>
    {% endif %}

  </tr>
  {% endfor %}
</table>
{% else %}
<p>Não há competidores inscritos com o filtro selecionado.</p>
{% endif %}
{% if items.has_other_pages %}
  <ul class="nav-pagination">
        <li>Página:</li>
    {% for i in items.paginator.page_range %}
      {% if items.number == i %}
        <li class="current"><span>{{ i }}</span></li>
      {% else %}
        <li><a href="{%url 'fase2:resultado_ini' %}?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
        <li><a class="show_all" href="{%url 'fase2:resultado_ini' %}?page=all">Mostrar tudo</a></li>
  </ul>
{% endif %}
{% endblock %}

{% block content-related %}
<h4>Instruções</h4>

<form action="" method="post">
  {% csrf_token %}
  {% if form.errors %}
     <p class="errorlist">Por favor corrija os erros indicados abaixo.</p>
  {% endif %}
  {% for fieldset in form.fieldsets %}
  <fieldset class="border p-2">
    <legend class="float-none w-auto p-2">{{ fieldset.title }}</legend>    
    <ul>
      {% for field in fieldset %}
        <li>
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
	    <small class="form-text">{{ field.help_text|safe }}</small>
	  {% endif %}
          {{ field.errors }}
        </li>
      {% endfor %}
    </ul>
  </fieldset>
  {% endfor %}
</form>

s<h2>Observações</h2>
  <p>A Classificação será divulgada de acordo com o Calendário da OBI2024.
  </p>
  <p>Clique no nome do competidor para ver detalhes da correção (o
    nome pode ser clicado apenas para competidores que efetivamente
    participaram da prova).

    {% comment %}
  <!--p>Resultados Preliminares, já considerando a aplicação da regra de
    classificação geral (os 5% melhores classificados nacionalmente
    que não estejam ainda classificados são também classificados para
    a Fase 2). 
  </p>
  <p>Novos competidores podem ser classificados como resultado de
    recorreções, mas nenhum competidor já classificado deixará de
    ser classificado.
  </p-->
  <!--p>Resultados finais, já considerando a aplicação da regra de
    classificação geral (os 5% melhores classificados nacionalmente
    que não estejam ainda classificados são também classificados para
    a Fase 2). 
  </p-->
  <!--font color="red">
    <p>
      Neste momento da competição os resultados mostram (somente para
      os coordenadores) apenas os
    classificados com base no resultado da escola (os 15% melhores da
    escola são classificados para a Fase 2).
  <p>
    Outros competidores podem ainda ser classificados pela regra de
    classificação geral (os 5% melhores classificados nacionalmente
    que não estejam ainda classificados são também classificados para
    a Fase 2). Essa regra será aplicada apenas quando todos os
    resultados forem finais.
 </p>
  </font-->
    {% endcomment %}

{% endblock %}
