{% extends "base_restricted.html" %}
{% load obi_extras %}


{% block content %}

<h1>Aplicação das Provas - Competição Feminina da OBI (CF-OBI)</h1>

<p><b>A prova deverá ser aplicada presencialmente na escola, sob supervisão.</b></p>
  
<p class="emph">A prova deverá ser aplicada
  {{ "cfobi-fase-1-prova"|obi_date|date:'d/m'}}
  ({{ "cfobi-fase-1-prova"|obi_date|date:'l'|lower }}).
  A prova tem duração de três horas para todos os níveis.

  O ambiente de provas
  abre 8:00 para todos os níveis e fecha
  às 18:00 (as competidoras devem iniciar a prova até 15:00.)
 </p>

<p>Não é necessário que todas as alunas da escola realizem a prova no mesmo horário, mas
  as alunas devem ser lembradas de que não devem comentar as tarefas da prova com
  quem ainda não realizou a prova.</p>

<p> A prova será realizada utilizando o Ambiente de Prova da {{ 'OBI'|obi_date_year }} (o
  mesmo utilizado nas Fases 1 e 2).</p>
  
<p>Veja um <a href="{% url 'cfobi:passo_a_passo_prog' %}">passo-a-passo para aplicação da Prova</a>.</p>
  
<p>No dia da prova, cada aluna deve ter à sua disposição um
  computador com editores de texto e pelo menos um compilador entre C,
  C++, Java ou o interpretador Python.</p>

<p>A aluna deve acessar o Ambiente de Prova da {{ 'OBI'|obi_date_year }} utilizando um navegador
  Internet (como Firefox, Chrome, Safari). A aluna não deve acessar a Internet a não ser através do
  Ambiente de Prova da {{ 'OBI'|obi_date_year }}.</p>

<p>As alunas devem fazer as provas <b>individualmente, sem consulta a
  qualquer material impresso (como livros ou apostilas) ou digital
  (como programas feitos anteriormente) ou qualquer outro meio (como Inteligências Artificiais)</b>.  O tempo de prova será
  controlado pelo Ambiente de Prova, e a correção será automática.</p>

<p><b>É obrigatório que a escola supervisione a aplicação da prova para
  garantir que as competidoras não acessem material não autorizado durante
  a realização da prova (como material impresso, internet ou inteligências artificiais).</b></p>

<p>As alunas podem usar lápis, borracha, régua e folhas em branco como
  rascunho (sugerimos que a escola disponibilize duas ou três folhas
  de rascunho por aluna).</p>
    
<p>Não será possível acompanhar o "status" da prova durante a sua realização,
  mas após a prova os coordenadores terão acesso às submissões das
  competidoras.</p>

<p>Os Cadernos de Tarefas e as submissões das alunas serão disponibilizados para os
  Coordenadores após o período de aplicação da prova.</p>


<h3>Listas de Presença, Modalidade Programação</h3>
<p>As listas de presença são fornecidas apenas para auxiliar a gestão da escola, para saber quem
  realmente compareceu e quem não compareceu. Elas não são obrigatórias, mas sugerimos o seu uso
  para o caso de haver disputas, no futuro, sobre a presença ou não da competidora na prova.
<ul>
<li><a href="lista_presenca/PJ">Nível Júnior</a>
<li><a href="lista_presenca/P1">Nível 1</a>
<li><a href="lista_presenca/P2">Nível 2</a>
</ul>

<h3>Caso Especial: Provas no ambiente Saci</h3>
<p>Alguns (poucos) alunos estudaram programação pelo ambiente Saci,
da OBI, que tem dois cursos disponívels, Javascript e Blockly/Python

Para esses alunos, preparamos uma versão especial do Editor Saci para as provas da OBI, 
para que os alunos tenham o mesmo ambiente e para que possam desenvolver e testar suas
soluções em Javascript ou Python.

<p>Se algum aluno de sua escola solicitar acesso ao Editor Saci, siga os passos:
<ul>
<li> Faça o download
do Editor Saci no link abaixo (arquivo .zip)
<li> Copie o arquivo .zip para o computador onde o aluno vai fazer a
prova (por exemplo, saci.zip).
<li> Descompacte o arquivo. Vai ser criada uma pasta (de nome saci)
<li> Dentro da pasta criada, clique duas vezes no arquivo de nome "index.html";
o navegador padrão (Firefox, Chrome, Opera...) do sistema deve abrir e mostrar a prova.
<li> Se não funcionar, abra uma janela de um navegador (Firefox, Chrome...)
e abra o arquivo "index.html" pelo navegador. O ambiente de desenvolvimento deve aparecer como uma
página do navegador.

<!--font color="red"> (ainda NÃO disponíveis, serão
disponibilizadas 12:00 (meio-dia) do dia 28/05, terça-feira)</font-->

<ul>
<li><a href="zip/saci.zip">Editor Saci Javascript</a>
<li>Infelizmente não é possível disponibilizar o editor como um
  arquivo. Instrua os seus competidores a utilizarem o
<a href="/saci/cursos/python/15/">
  Editor Blockly/Python</a> disponível no site da OBI.
</ul>
</ul>

<h3>Ambiente de prova</h3>
<ul>
  <li>São utilizados quatro endereços diferentes para o Ambiente de Prova, um para
    cada nível da modalidade Programação:
    <ul>
      <li>Nível Júnior: <a href="https://pj.provas.ic.unicamp.br"><span class="ttt">https://pj.provas.ic.unicamp.br</span></a>
      <li>Nível 1: <a href="https://p1.provas.ic.unicamp.br"><span class="ttt">https://p1.provas.ic.unicamp.br</span></a>
      <li>Nível 2: <a href="https://p2.provas.ic.unicamp.br"><span class="ttt">https://p2.provas.ic.unicamp.br</span></a>
      <li>Nível Sênior: <a href="https://ps.provas.ic.unicamp.br"><span class="ttt">https://ps.provas.ic.unicamp.br</span></a>
    </ul>
{% comment %}
  <li>A cada dia, o ambiente de prova estará aberto das 8:00 às
   21:00.
{% endcomment %}
</ul>

<h3>Sobre a Competição Feminina</h3>
<p>Veja mais informações sobre a Competição Feminina no
  link <a target="_blank" href="{% url 'competicao_feminina' %}">
  https://olimpiada.ic.unicamp.br/info/competicao_feminina</a>

{% endblock %}

{% block content-related %}

{% endblock %}
