{{ greetings }}

     {{ compet.compet_name}}

você está recebendo esta mensagem porque está classificad{{ suffix }} para a Fase 2 (Fase Estadual) da Olimpíada Brasileira de Informática (OBI2021).

Devido à lentidão apresentada pelo Ambiente de Prova da OBI2021 durante a realização da prova da Fase 2, no dia 21/08, a Coordenação da OBI2021 decidiu oferecer uma nova prova, opcional, para os competidores classificados para a Fase 2. Estamos chamando essa nova prova de Turno B da Fase 2. Ela será aplicada amanhã, quarta-feira, dia 1 de setembro. O ambiente de prova estará disponível desde as 7:00 até as 19:00. A prova tem duração de duas horas para os níveis Júnior e 1, e três horas para os níveis 2 e Sênior.

A classificação para a Fase 3 (Fase Nacional) será definida pela melhor classificação obtida pelo competidor nos turnos A (prova do dia 21/8) e B (prova do dia 1/9) da Fase 2. Mais precisamente, será aplicada a regra definida no Regulamento da OBI2021 (https://olimpiada.ic.unicamp.br/info/regulamento/) de maneira independente para os dois turnos da Fase 2. Assim, os 15% melhores classificados do Turno A e os 15% melhores classificados do Turno B em cada estado serão classificados para a Fase Nacional (Fase 3) da OBI2021, bem como os 5% melhores classificados nacionalmente em cada Turno.

Para acessar a Prova da Fase 2 (Turno B) acesse sua página pessoal na OBI2021, através link "ACESSO COMPETIDORES" da página da OBI2021:

https://olimpiada.ic.unicamp.br/compet/

usando para o login

usuário: {{ compet.compet_id_full }}
senha:  {{ compet.compet_conf }}

Boa prova!

**********
INSTRUÇÕES
**********

* Para realizar a prova você deve ter acesso a um ambiente para
  desenvolvimento de programas de computador, para a linguagem de
  programação de sua preferência (entre C, C++, Python, Java,
  Javascript ou Pascal). Se você aprendeu a programar no ambiente
  Saci, pode usar o ambiente de desenvolvimento Javascript do Saci
  para desenvolver e testar seus programas:
  https:olimpiada.ic.unicamp.br/saci/cursos/provaf2/2021/

* O nome do arquivo de solução somente é significativo para soluções
  na linguagem Java.  Nesse caso, o nome do arquivo deve ser sempre,
  independente da tarefa, solucao.java (todas as letras minúsculas,
  sem acento) e o nome da classe principal do programa deve ser
  solucao (todas as letras minúsculas, sem acento). Para as outras
  linguagens o nome do arquivo não tem importância.

* Você pode fazer no máximo 50 submissões de soluções no total, não
  havendo limite de submissões por tarefa. Não deixe para fazer as
  submissões ao final da prova, submeta assim que terminar a solução
  de cada tarefa.

* Compile e execute a sua solução no seu ambiente de desenvolvimento
  antes de submetê-la, com testes criados por você mesmo (usando como
  base os Exemplos de Entrada da tarefa); não use o sistema de
  correção como ambiente de testes.

* Obedeça estritamente ao formato de saída especificado no enunciado da
  tarefa. Em particular, não escreva na saída antes de fazer a leitura
  da entrada. Ou seja, não escreva frases como "Entre com o valor de N:",
  pois isto viola o formato de saída especificado.

* Veja exemplos de programas nas diferentes linguagens, com indicações
   de como os comandos de entrada e saída devem ser usados em cada
   linguagem no link https://olimpiada.ic.unicamp.br/pratique/pj/

* A prova é individual e sem consulta a qualquer material. Você pode
  usar caneta, lápis, papel em branco, borracha e régua. Você pode
  consultar o manual da linguagem de programação que estiver usando.

* Não divulgue ou comente as tarefas da prova com outros competidores
  até o término do período de aplicação da prova.


--
Coordenação da OBI2021
