{{ greetings }} {{ school.school_deleg_name}},

Devido à lentidão apresentada pelo Ambiente de Prova da OBI2021 durante a realização da prova da Fase 2, no dia 21/08, a Coordenação da OBI2021 decidiu oferecer uma nova prova, opcional, para os competidores classificados para a Fase 2. Estamos chamando essa nova prova de Turno B da Fase 2. Ela será aplicada amanhã, quarta-feira, dia 1 de setembro. O ambiente de prova estará disponível desde as 7:00 até as 19:00. A prova tem duração de duas horas para os níveis Júnior e 1, e três horas para os níveis 2 e Sênior.

A classificação para a Fase 3 (Fase Nacional) será definida pela melhor classificação obtida pelo competidor nos turnos A (prova do dia 21/8) e B (prova do dia 1/9) da Fase 2. Mais precisamente, será aplicada a regra definida no Regulamento da OBI2021 (https://olimpiada.ic.unicamp.br/info/regulamento/) de maneira independente para os dois turnos da Fase 2. Assim, os 15% melhores classificados do Turno A e os 15% melhores classificados do Turno B em cada estado serão classificados para a Fase Nacional (Fase 3) da OBI2021, bem como os 5% melhores classificados nacionalmente em cada Turno. 

A prova do Turno B da Fase 2 foi inserida no calendário, uma notícia foi postada na página: (https://olimpiada.ic.unicamp.br/noticias/2021/08/21/prova-da-fase-2-modalidade-programacao-lentidao-no/), mas esta mensagem que está sendo enviada hoje deveria ter sido enviada dias atrás, o que por uma falha não aconteceu!

Os alunos classificados para a Fase 2 receberam uma mensagem de lembrete sobre a prova. Os resultados da prova do Turno B da Fase 2 serão disponibilizados para os Coordenadores Locais após o final da prova.

Boa prova extra a todos!

{% include 'includes/signature.html' %}
