{% load obi_extras %}

<p>Prezado(a) Prof(a). {{ coord_name}},

<p>Agradecemos a todos os que responderam à mensagem de consulta sobre a possibilidade de ser Sede da Fase Nacional da OBI2025.

<p>As sedes foram definidas e estão disponíveis, por favor verifique no portal de Coordenação (seção Fase 3).

<p>Se a sua cidade ainda está sem sede designada é porque nenhuma escola da cidade ou região respondeu positivamente sobre a possibilidade de ser sede. Note que se há mais de uma escola com competidores classificados na cidade/região, é necessário que a escola designada como sede possa receber todos os alunos classificados de sua cidade/região (também de outras escolas, não apenas os competidores de sua própria escola).

<p>Se a sua cidade ainda está sem sede, e sua escola pode receber os alunos classificados na sua cidade/região, por favor consulte a mensagem anterior, com os links para manifestar a disponibilidade (o que vale é a última manifestação).

<p>Entendemos que as escolas tenham dificuldade em sediar a Fase Nacional, por várias razões. Mas a OBI, como outras olimpíadas, depende das escolas para ser realizada, em todas as Fases, e por isso contamos com a boa vontade das escolas e professores para que a OBI aconteça (e agradecemos imensamente por isso!).


<p>Atenciosamente,

{% include 'includes/signature.html' %}
