Prezado(a) Prof(a). {{ coord_name}},

Os Cadernos de Tarefas da Fase 2 da Modalidade Inicição estão disponíveis no portal de coordenação da OBI2025.

Lembramos que a prova deve ser feita na escola, sob supervisão. A duração da prova é uma hora e ela deve ser aplicada entre os dias 7 de agosto e 8 de agosto, em horário à escolha da escola.

Para acessar as provas, bem como detalhes sobre a aplicação, clique no link "Aplicação da Prova" da seção "Fase 2", linha "Modalidade Iniciação" no portal de Coordenação da OBI2025 (para acessar o portal de Coordenação, click no link "Entrar &rarr; Escolas" no canto superior do portal da OBI2025 e entre com o seu nome de usuário e senha).

Como na Fase 1, a prova da Fase 2 é individual e sem consulta a qualquer material (livros, internet). Os competidores podem usar apenas lápis, borracha e caneta para fazer a prova. Sugerimos que os competidores utilizem o próprio Caderno de Tarefas como rascunho, mas se necessário os competidores podem receber folhas em branco adicionais para rascunho.

Por favor confira cuidadosamente que o Caderno de Prova é o da Fase 2 (e não o da Fase 1!), e que cada competidor(a) receba o Caderno de Prova do nível em que está inscrito (Nível Júnior, Nível 1 ou Nível 2). 

A escola pode aplicar a prova em horários diferentes para turmas diferentes, se desejar, mas é importante lembrar os alunos de que não devem comentar as questões da prova com outros alunos, por qualquer meio (conversa, rede social) até o final do período de aplicação da prova (final do dia 8 de agosto).

Após a prova, será necessário corrigir as Folhas de Respostas dos alunos. Na Fase 2 a correção deve ser feita pelo sistema automatizado de correção, e será necessário digitalizar as Folhas de Respostas. A correção automatizada será disponibilizada após o período de aplicação das provas.

Desejamos uma boa prova a todos!

{% include 'includes/signature_txt.html' %}

