{% load obi_extras %}
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Verdana", sans-serif};
    </style>
  </head>
  
<body>

<p>Prezado(a) competidor()a {{ compet.compet_name}},

<p>Esta é uma mensagem a pedido de um de nossos parceiros, a Fundação
  Behring. Estamos reenviando a mensagem porque a mensagem anterior
  estava com o botão de inscrição errado!
    
<div style="padding:30px; background-color:#eeeeee">

<hr>

<h1><center>Venha fazer parte da <br/><strong>Behring Academy</strong></center></h1>
<p>A Behring Academy é uma jornada formativa em tecnologia online e
gratuita com duração de até quatro anos, acompanhando estudantes do 9º
ano até o fim do Ensino Médio. Preparamos jovens para atingirem seu
pleno potencial por meio de orientações em competências técnicas e
socioemocionais, facilitando o acesso às melhores oportunidades
acadêmicas em tecnologia, no Brasil e no exterior. O programa é
especialmente voltado para jovens com acesso limitado a essas
oportunidades, ajudando-os a transformar suas realidades pela
educação.
</p>

<h4>Inscrições abertas até 6 de outubro!</h4>

<table border="0" cellspacing="0" cellpadding="0" style="margin-left: auto; margin-right: auto;">
  <tr>
    <td align="center" bgcolor="#000000" style="border-radius:4px;">
      <a href="https://form.jotform.com/FundacaoBehring/behring-academy-2026"
         style="display:inline-block;
                font-size:16px;
                font-family:Arial,sans-serif;
                color:#ffffff;
                text-decoration:none;
                padding:10px 20px;
                font-weight:bold;">
         Inscreva-se
      </a>
    </td>
  </tr>
</table>

<h4>Quem pode participar?</h4>
<p>Estudantes do 9º ano do Ensino Fundamental e do 1º ano do Ensino Médio de todo o Brasil que tenham paixão por aprender, dedicação nos estudos, interesse em programação e brilho nos olhos para transformar desafios em conquistas. 
</p>

<h4>Por que participar?</h4>
<ul>  
<li>Acesso a plataformas especializadas de ensino em programação e inglês.
<li>Trilhas exclusivas de mentorias e workshops em tecnologia, matemática e desenvolvimento pessoal.
<li>Desenvolver projetos inovadores, como sites, aplicativos e soluções para desafios reais utilizando ferramentas de ponta em tecnologia.
<li>Sessões individuais de mentoria com profissionais da área para desenvolvimento pessoal.
<li>Fazer parte de uma rede de jovens talentosos com o mesmo propósito que vão te ajudar a crescer!
<li>Participar da imersão presencial que acontece uma vez ao ano
</ul>

<table border="0" cellspacing="0" cellpadding="0" style="margin-left: auto; margin-right: auto;">
  <tr>
    <td align="center" bgcolor="#000000" style="border-radius:4px;">
      <a href="https://form.jotform.com/FundacaoBehring/behring-academy-2026"
         style="display:inline-block;
                font-size:16px;
                font-family:Arial,sans-serif;
                color:#ffffff;
                text-decoration:none;
                padding:10px 20px;
                font-weight:bold;">
         Inscreva-se
      </a>
    </td>
  </tr>
</table>
 	
<h3>IMERSÃO PRESENCIAL</h3>
 	
<p>A Imersão é uma viagem de 9 dias, totalmente paga pela Behring Academy que reúne os participantes focando no desenvolvimento prático e em atividades de grupo. Além de aplicar conhecimentos e fortalecer habilidades socioemocionais, a imersão promove conexão e senso de comunidade entre os alunos. A experiência consolida o programa como referência na formação de jovens talentos, que criam uma rede nacional de estudantes que correm atrás, aprendem juntos e compartilham a paixão pela tecnologia. 
 	
<h3>PROCESSO SELETIVO 2026</h3>
 	
<h4>Inscrição</h4>
<ul>
  <li>10/09 – 06/10
  <li>Preencha o formulário online e envie os documentos necessários.
</ul>

<h4>Sessão Informativa I</h4>
<ul>
  <li>17/09 às 19h
  <li>Sessão online de tira-dúvidas sobre o programa e o processo seletivo.
</ul>

<h4>Sessão Informativa II</h4>
<ul>
  <li>01/10 às 19h
  <li>Sessão online de tira-dúvidas sobre o programa e o processo seletivo.
</ul>

<h4>Sprint Behring</h4>
<ul>
  <li>20/10 – 07/11
  <li>Experiência imersiva de 3 semanas com desafios e aprendizado prático.
</ul>

<h4>Painéis em Grupo</h4>
<ul>
  <li>24/10 – 28/10
  <li>Conversa online em grupo para escutar a sua história e tirar dúvidas.
</ul>

<h4>Seleção Final</h4>
<ul>
<li>10/12
<li>Divulgação dos aprovados para a nova turma.
</ul>

 	
<table border="0" cellspacing="0" cellpadding="0" style="margin-left: auto; margin-right: auto;">
  <tr>
    <td align="center" bgcolor="#000000" style="border-radius:4px;">
      <a href="https://form.jotform.com/FundacaoBehring/behring-academy-2026"
         style="display:inline-block;
                font-size:16px;
                font-family:Arial,sans-serif;
                color:#ffffff;
                text-decoration:none;
                padding:10px 20px;
                font-weight:bold;">
         Inscreva-se
      </a>
    </td>
  </tr>
</table>
 	
<h4>Inscrições abertas até 6 de outubro!</h4>

<p>Ainda tem dúvidas? Entre em contato pelo e-mail equipe@behring.academy
ou no Instagram @behring.academy

<hr>

</div>
<p>&nbsp;
      
{% include 'includes/signature_htm.html' %}
</body>
