<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Verdana", sans-serif};
    </style>
  </head>
  
<body>
Prezado(a) Prof(a). {{ coord_name}},

<p>A OBI agradece a todos e todas pela aplicação das provas da
  Modalidade Iniciação na Fase Nacional.

<p>
Na Fase Nacional a correção da Modalidade Iniciação é feita pela Coordenação
da OBI.  As folhas de respostas dos alunos devem ser digitalizadas e
enviadas para correção utilizando o sistema automatizado de correção
da OBI.  Lembramos que as Folhas de Respostas devem ser enviadas até o
dia 26 de setembro.

<p>Todos os envios de Folhas de Respostas ficam registrados. Os
  competidores poderão conferir a correção quando os resultados forem
  divulgados, pois poderão visualizar as Folhas de Respostas que
  preencheram e o respectivo resultado da correção automatizada.

<p>Se a sua escola ainda não enviou as Folhas de Respostas para correção, siga os passos:
  <ul>
    <li>entre no Portal de Coordenação (site da OBI2025, Entrar &rarr;
      Escolas, com sua senha)
    <li>Então, clique no link <b>Correção da Prova</b> na
      seção "Fase 3", linha Modalidade Iniciação.  
  </ul>
</p>

<p>Os coordenadores podem verificar se a correção foi feita
  e a pontuação inserida corretamente no sistema da OBI, no Portal
  de Coordenação (link <b>Verificação</b> na seção Fase 3, linha
  Modalidade Iniciação.

<p>Finalmente, uma mensagem do site <b>Web ScanGrader</b>, parceiro
  da OBI2025:

<hr>
<div style="padding:30px; background-color:#eeeeee">
<p>A correção automatizada da OBI utiliza o corretor <b>Web
ScanGrader</b>, uma ótima solução para escolas que usam testes de
múltipla escolha. O <b>Web ScanGrader</b>, simplifica todo o processo
de avaliação. Com ele possível:
<ul>
<li>Gerar folhas de respostas personalizada com até 100 questões, com
o logo da sua escola.
<li>Preencher automaticamente as folhas de respostas com o nome e a
identificação dos alunos, se você fornecer uma planilha com os dados.
<li>Corrigir 50 folhas por mês gratuitamente.
</ul>

<p>Com o <b>Web ScanGrader</b>, após a correção você recebe um e-mail com todos os resultados organizados, incluindo:
<ul>
<li>Relatório em PDF com as imagens das folhas de respostas corrigidas.
<li>Planilha com todos os dados para sua análise.
<li>Um PDF pronto para ser publicado, com as pontuações e um gráfico
de barras, ideal para compartilhar com os alunos.
</ul>

<p>Para saber mais sobre o <b>Web ScanGrader</b>, clique  <a href="https://web.scangrader.com/pt/"><b>aqui</b></a>.
</div>
<hr>

<p>Atenciosamente,

  
{% include 'includes/signature_htm.html' %}

