{% load obi_extras %}
<!DOCTYPE html>
<html lang="pt">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<body>

<p>Prezado(a) competidor()a {{ compet.compet_name}},

<p>Esta é uma mensagem a pedido de um de nossos parceiros, a Fundação Behring.

<hl>

<p>Bolsas de até 100% em Engenharia da Computação, Ciência da Computação ou Inteligência Artificial na PUC-Rio!

<b>Bolsa Olímpica: com sua medalha olímpica, você concorre a uma Bolsa Integral</b><br/>
Acesse: https://www.puc-rio.br/desafios/informatica/index.html

<p>
🧑‍🧑‍🧒‍🧒 Além da opção olímpica, você pode se inscrever no Vestibular PUC-Rio e conquistar uma bolsa de até 100% pela Fundação Behring!

<ol>
<li>Inscrição no vestibular da PUC para o curso de tecnologia desejado: https://www.puc-rio.br/vestibular/
<li>Inscrição no Formulário da Fundação Behring para concorrer a bolsa:
https://form.jotform.com/252111032485647
</ol>


<p><b>📄Edital: <a href="http://bit.ly/4lXolnj">http://bit.ly/4lXolnj</a>
<b>❓Dúvidas</b>: <a href="mailto:vestibular@fundacaobehring.org">vestibular@fundacaobehring.org</a>

<p>Corre porque as inscrições se encerram segunda, dia 15/09!

{% include 'includes/signature_htm.html' %}
</body>
