{% load obi_extras %}
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Verdana", sans-serif};
    </style>
  </head>
  
<body>
Prezado(a) Prof(a). {{ coord_name}},

<p>Mais uma vez obrigado pela disponibilidade em sediar a prova da
  Fase Nacional (Fase 3) da OBI2025, modalidade Programação.
  
<p>Lembramos que a prova deve ser feita na escola, sob supervisão, e
  deve ser aplicada exclusivamente no dia 27 de setembro, sábado, nos
  seguintes horários:
</p>

<ul>
  <li>Níveis Júnior e 1: 8:00 às 12:00 (duração 4 horas)
  <li>Níveis 2 e Sênior: 13:00 às 18:00 (duração 5 horas)
</ul>

<p>A prova é individual e sem consulta a qualquer material (livros,
internet, arquivos digitais).

<p>Idealmente a prova deve ser feita com a internet bloqueada, a menos
  dos endereços do ambiente de prova, e ambiente de desenvolvimento
  (IDE, compiladores) local. Se a escola precisa utilizar compiladores
  online para a prova (não recomendado, mas entendemos que é a opção
  viável em algumas escolas), é muito importante que o compilador
  online utilizado <b>não</b> tenha ferramentas de IA embutidas.
  E nesse caso é muito importante uma supervisão mais atenta.
  
<p>As senhas para acesso ao ambiente de prova serão disponibilizadas
  amanhã, um dia antes da prova.  As senhas estão disponíveis no link
  "Senhas da Prova", na página de coordenação, seção "Fase 3", linha
  "Modalidade Programação".  Por favor informem individualmente as
  senhas aos competidores que comparecerem à escola para realizar a
  prova.
  
<p>Os endereços do ambiente de prova são diferentes para cada nível:
  <ul>
    <li>Nível Júnior: <span class="ttt small">https://pj.provas.ic.unicamp.br</span>
    <li>Nível 1:  <span class="ttt small">https://p1.provas.ic.unicamp.br</span>
    <li>Nível 2: <span class="ttt small">https://p2.provas.ic.unicamp.br</span>
    <li>Nível Sênior: <span class="ttt small">https://ps.provas.ic.unicamp.br</span>
  </ul>
  
<p>O tempo de prova será controlado pelo ambiente de prova, e a
  correção será automátizada. O endereço IP utilizado pelo competidor
  será armazenado, para verificação de localização.

<p>Os competidores <b>não podem</b> levar para casa o enunciado das
  tarefas em formato digital ou impresso. Também não podem levar as
  suas soluções (elas estarão disponíveis para consulta na página de
  coordenação e nas páginas pessoais dos competidores após a prova).
  
<p>Se as mesmas máquinas serão utilizadas no período da manhã e no período da
  tarde, por favor lembrem de apagar todos os arquivos de competidores do
  período da manhã antes da prova do período da tarde.

  
<p>Sobre participação de competidores(as) com restrições religiosas,
  fica a cargo das sedes se é possível a participação. Por exemplo, se
  o(a) competidor(a) só pode fazer a prova depois do por do sol, é
  necessário que esse(a) competidor(a) fique sem acesso a internet e
  celular e sem contato com outros alunos desde o horário oficial da
  prova, e sabemos que nem sempre isso é possível. Se não for possível
  na sua sede, infelizmente o(a) competidor(a) não poderá fazer a
  prova. Sabemos que é uma questão de fé e religião, mas a OBI não tem
  estrutura para garantir a participação nesse caso, e o calendário é
  público desde janeiro (não temos como fazer a Fase 3 em outro dia).

<p>
Desejamos uma boa prova a todos, e mais uma vez obrigado pela colaboração!


{% include 'includes/signature_htm.html' %}

</body>
</html>
