<!DOCTYPE html>
<html lang="pt">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<body>

<p>Prezado(a) Professor(a) {{ coord_name}},


<h2>Modalidade Iniciação</h2>

<p>Se sua escola aplicou a prova da Modalidade Iniciação, nossos sinceros agradecimentos
  pelo trabalho de inscrição dos competidores e aplicação das provas!

<p>Agora daremos um pouco mais de trabalho aos Coordenadores Locais: a correção
  das provas da Modalidade Iniciação.

<p>A correção pode ser realizada de duas formas: automatizada ou manual.

<h3>Correção Automatizada (recomendada)</h3>

<p>Para utilizar a correção automatizada é necessário digitalizar as
provas. Isso pode ser feito com um escaner de mesa (melhor imagem) ou
com um aplicativo de celular como CamScanner (disponível para Android
e IOS), SimpleScanner (disponível para Android). O aplicativo Google
Drive (disponível para Android e IOS) também é capaz de digitalizar
documentos.

<p>Você pode enviar até 100 folhas de respostas em um único
arquivo. Se são muitos competidores, separe as folhas de respostas em
arquivos contendo aproximadamente 100 folhas de respostas.

<p>Com a correção automatizada a pontuação é automaticamente inserida,
e as imagens das folhas de respostas dos alunos, com a correção
marcada, fica também disponível (no momento apenas para coordenadores,
mas depois também para os próprios competidores).

<p>Após as folhas de respostas terem sido corrigidas, o coordenador
local receberá uma mensagem de email com o resultado.

<p>O resultado da correção, bem como as imagens da correção, também
podem ser conferidos na Página de Coordenação, seção "Fase 1", linha
"Modalidade Iniciação", link "Resultados". Se a pontuação de algum
estudante que fez a prova não aparece, por favor informe a pontuação
manualmente ou envie a prova desse aluno novamente para correção
automatizada.

<p>A correção automatizada é um serviço oferecido gratuitamente para a
  OBI pelo site <a href="https://web.scangrader.com/">Web ScanGrader</a>
  (https://web.scangrader.com/).
  
<h3>Correção Manual</h3>
  
<p>Na correção manual, os coordenadores devem utilizar os gabaritos
disponíveis e corrigir manualmente cada folha de respostas. Após
corrigir cada folha de respostas, o coordenador deve inserir a
pontuação do aluno utilizando o formulário disponível na página de
coordenação.

<hr/>
 
<p>Veja mais detalhes da correção na Página de Coordenação, seção
"Fase 1", linha "Modalidade Iniciação", link "Correção da Prova".
  

<h3>Classificação para a Fase 2</h3>

<p>A classificação para a Fase 2 será calculada pela Coordenação após
todas as pontuações terem sido inseridas pelas escolas, de acordo com
o calendário.

<p>Atenciosamente,

{% include 'includes/signature_htm.html' %}
