<!DOCTYPE html>
<html lang="pt">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<body>


<p>Prezado(a) Professor()a {{ coord_name}},

<h2>Modalidade Iniciação</h2>

<p>As provas da Modalidade Iniciação, Fase 1, estão disponíveis para
os Coordenadores para impressão.

<p>Se sua escola vai aplicar a prova da Modalidade Iniciação, baixe e
imprima as provas (Caderno de Tarefas), as folhas de respostas e as
listas de presença (estas são opcionais, mas recomendamos também
imprimir e utilizar).

<p>As provas, folhas de respostas e listas de presença estão
disponíveis na página de Coordenação da OBI2025 (com senha), na seção
"Fase 1", linha "Modalidade Iniciação", link "Aplicação da prova".

<p>A prova da Fase 1, com duração de uma hora, deve ser aplicada <b>na
escola, sob supervisão</b> entre os dias 05/6 (quinta-feira) e 07/6
(sábado). A prova pode ser aplicada em dias e horários diferentes para
turmas diferentes.

<p>Os competidores <b>NÃO</b> podem levar o <i>Caderno de Tarefas</i>
para casa após a prova. Recolha os <i>Cadernos de Tarefas</i>
juntamente com as Folhas de Respostas; eles podem ser entregues aos
competidores após o período de realização da prova (ou seja, após
7/6).

<p>As folhas de respostas podem ser corrigidas manualmente ou
digitalizadas e enviadas para correção automatizada. A correção
automatizada é recomendada, pois nesse caso os competidores podem
conferir a correção de sua prova conferindo a imagem da folha de
respostas.

<p>Os gabaritos e o sistema automatizado de correção serão
disponibilizados na página de Coordenação após o período de aplicação
da prova, na segunda-feira dia 9/6.

<h2>Modalidade Programação</h2>
  
<p> Para que alunos e escolas se habituem ao funcionamento do Ambiente
de Prova da OBI, disponibilizaremos uma <b>Prova Teste</b>, opcional,
  com duração de MEIA HORA, que estará disponível de 5/6 a 9/6. O ambiente
  de prova estará disponível diariamente das 08:00 às 21:00.

<p> Há um roteiro para aplicação da Prova Teste (similar ao da Prova
da Fase 1). O link direto é<br/>
https://olimpiada.ic.unicamp.br/fase0/prog/restrito/passo_a_passo

<p> É muito importante que os alunos participem da Prova Teste. Se não
for possível aplicar a prova Teste na escola (o que seria ideal, mas
nem sempre possível), os alunos podem fazer a prova Teste em casa (mas
NÃO podem fazer a prova da Fase 1 em casa!).

<p>A prova da Fase 1, com duração de duas horas, deve ser aplicada
<b>na escola, sob supervisão</b> entre os dias 12/6 (quinta-feira) e
14/6 (sábado). A prova pode ser aplicada em dias e horários
diferentes para turmas diferentes.

<p>Desejamos uma boa prova a todos!

<p>PS: <em>Algumas escolas preferem inscrever os competidores da
Modalidade Iniciação <em>após</em> a aplicação da prova, utilizando
apenas folhas de respostas avulsas. Embora não recomendemos, pois é
mais prático na maioria dos casos inscrever antes e utilizar as folhas
de respostas pré-preenchidas, é possível inscrever os alunos após a
prova, pois sistema de inscrição permanecerá aberto para esses
casos.</em>

{% include 'includes/signature_htm.html' %}
</body>
