Prezado(a) Professor()a {{ coord_name}},


Modalidade Iniciação
-------------------

Se sua escola aplicou a prova da Modalidade Iniciação, nossos sinceros agradecimentos
  pelo trabalho de inscrição dos competidores e aplicação das provas!

Agora daremos um pouco mais de trabalho aos Coordenadores Locais: a correção
  das provas da Modalidade Iniciação.

A correção pode ser realizada de duas formas: automatizada ou manual.

Correção Automatizada (recomendada)
--------------------------

Para utilizar a correção automatizada é necessário digitalizar as
provas. Isso pode ser feito com um escaner de mesa (melhor imagem) ou
com um aplicativo de celular como CamScanner (disponível para Android
e IOS), SimpleScanner (disponível para Android). O aplicativo Google
Drive (disponível para Android e IOS) também é capaz de digitalizar
documentos.

Você pode enviar até 100 folhas de respostas em um único
arquivo. Se são muitos competidores, separe as folhas de respostas em
arquivos contendo aproximadamente 100 folhas de respostas.

Com a correção automatizada a pontuação é automaticamente inserida,
e as imagens das folhas de respostas dos alunos, com a correção
marcada, fica também disponível (no momento apenas para coordenadores,
mas depois também para os próprios competidores).

Após as folhas de respostas terem sido corrigidas, o coordenador
local receberá uma mensagem de email com o resultado. O resultado da
correção, bem como as imagens da correção, também podem ser conferidos
na Página de Coordenação, seção "Fase 1", linha "Modalidade
Iniciação", link "Resultados".


Correção Manual
---------------

Na correção manual, os coordenadores devem utilizar os gabaritos
disponíveis e corrigir manualmente cada folha de respostas. Após
corrigir cada folha de respostas, o coordenador deve inserir a
pontuação do aluno utilizando o formulário disponível na página de
coordenação.

------------------------------------------
 
Veja mais detalhes da correção na Página de Coordenação, seção
"Fase 1", linha "Modalidade Iniciação", link "Correção da Prova".
  
Para verificar a pontuação dos competidores de sua escola:

    * entre na Página de Coordenação (site da OBI2025, Entrar &rarr;
      Escolas, com sua senha)
    * Então, clique no link <b>Resultado</b> na
      seção "Fase 1" na  linha Modalidade Iniciação.  


Se a pontuação de algum estudante que fez a prova não aparece,
  por favor informe a pontuação manualmente ou envie a prova desse aluno
  novamente para correção automatizada.

Classificação para a Fase 2
---------------------------

A classificação para a Fase 2 será calculada pela Coordenação após
todas as pontuações terem sido inseridas pelas escolas, de acordo com
o calendário.

Atenciosamente,

{% include 'includes/signature_txt.html' %}
