<p>
Prezado(a) Prof(a).  {{ coord_name}},

<p>
  Você está recebendo esta mensagem porque sua escola está habilitada
  como sede da Fase Nacional (Fase 3) da OBI2025. Muito obrigado pela
  disponibilidade!


<p>
  A prova deve ser aplicada presencialmente, sob supervisão, no dia 20
  de setembro, sábado. A duração da prova é de duas horas para todos
  os níveis. A prova deve ser aplicada no mesmo horário em todas as
  escolas: 10:00 às 12:00.

<p>
  No portal de coordenação da OBI (com senha), na seção Fase 3, o(a)
  Sr(a). encontra informações sobre a prova (cadernos de tarefas, folhas
  de respostas pré-preenchidas e avulsas, listas de presença).

<p>
  Por favor atualize os dados da Escola, incluindo instruções
  de como chegar, salas, etc. Para isso clique no link "Editar" da linha
  "Escola" da seção "Cadastro". Há também a opção de colocar um link
  para um mapa.

<p>
  Lembramos que prova é individual e sem consulta a qualquer material
  (livros, internet, programas feitos anteriormente, etc.). Os alunos
  podem usar lápis, caneta, borracha e régua. Eles devem levar um
  documento com foto (carteira de estudante da escola é suficiente).

<p>
  A dinâmica é a mesma das provas das Fases 1 e 2. É necessário
  imprimir um Caderno de Tarefas (prova) para cada competidor,
  bem como as respectivas Folhas de Repostas. Imprima também algumas
  Folhas de Respostas avulsas (sem o nome dos alunos) para o caso
  de algum aluno rasurar sua Folha de Respostas. Imprima e passe
  a Lista de Presença para assinatura durante a prova.<em>Verifique que
    cada competidor(a) receba o Caderno de Tarefas correto para seu nível!</em>

<p>
  Ao final do tempo de prova, recolha as Folhas de Respostas
  preenchidas. Os competidores podem levar os Cadernos de Tarefas para
  casa ao final da prova.

<p>
  Após a prova, é necessário digitalizar as Folhas de Respostas e enviá-las
  para correção, pela página de coordenação. Por favor utilize um
  escaner de mesa, para garantir uma boa digitalização e consequente
  correção sem erros. Separe as folhas de respostas por níveis, e
  envie um máximo de 100 folhas de respostas em cada arquivo (separe
  em vários arquivos se necessário)

<p> Veja um roteiro para aplicação da prova na página de Coordenação,
Seção "Fase 3", linha "Modalidade Iniciação", link "Aplicação da
Prova".


<p>Por favor sejam gentis e atenciosos(as) com os(as) competidoras, é
  normal eles estarem nervosos, ansiosos e agitados! Para casos
  especiais, deixamos a cargo dos coordenadores de sede decidir se
  necessitam de tempo adicional, ou de um professor "leitor", ou
  qualquer outra condição especial.

<p>Sobre participação de competidores(as) com restrições religiosas,
  fica também a cargo das sedes se é possível a participação. Por
  exemplo, se o(a) competidor(a) só pode fazer a prova depois do por
  do sol, é necessário que esse(a) competidor(a) fique sem acesso a
  internet e celular e sem contato com outros alunos desde o horário
  oficial da prova, e sabemos que nem sempre isso é possível. Se não
  for possível na sua sede, infelizmente o(a) competidor(a) não poderá
  fazer a prova. Sabemos que é uma questão de fé e religião, mas a OBI
  não tem estrutura para garantir a participação nesse caso, e o
  calendário é público desde janeiro (não temos como fazer a Fase 3 em
  outro dia).

<p>
Desejamos uma boa prova a todos, e mais uma vez obrigado pela colaboração!

{% include 'includes/signature_htm.html' %}

