
<p>Prezado(a) Professor(a) {{ coord_name}},

<p>seguem algumas informações atualizadas sobre a correção da Fase 1.

<h3>Modalidade Iniciação</h3>
<p>Como notado por vários professores e competidores, o gabarito da questão 14 da prova dos níveis 1 e 2 (Tarefa Processadores) estava incorreto. A alternativa correta para a questão 14 é a <b>D</b> (e não a C como anteriormente divulgado).

<p>As pontuações corretas, obtidas com o gabarito correto, serão utilizadas para efeito de classificação. Por isso, se a correção foi feita manualmente, infelizmente será necessário re-corrigir as folhas de respostas e inserir a nova pontuação, caso necessário (note que o único caso em que há mudança de pontuação é se o competidor marcou C ou D na questão 14, e é competidor do Nível 1 ou 2.


<h5>Procedimento para recorreção</h5>
<p>Se sua escola utilizou o sistema de correção automatizada, não é necessário fazer nada. As pontuações já foram atualizadas no sistema, utilizando o gabarito correto. Note que o relatório de correção no formato PDF <b>não</b> será atualizado! 

<p>Se sua escola utilizou correção manual, siga os passos:
<ol>
<li>Confira cada Folha de Respostas de competidores dos níveis 1 e 2 (nível Júnior não foi afetado).
<li>Se o competidor não marcou C ou D na questão 14, não precisa fazer nada.
<li>Se o competidor marcou C na questão 14, é necessário diminuir de um ponto a pontuação do competidor.
<li>Se o competidor marcou D na questão 14, é necessário aumentar de um ponto a pontuação do competidor.
<li>Para alterar a pontuação, vá na página de Coordenação, seção Fase1, linha Modalidade Iniciação, clique em "Correção da Prova". Na página de correção, há uma seção chamada "Links rápidos", clique em "Insere/Modifica Pontuação". Procure o competidor na lista, atualize a pontuação e digite "Enter" ou "Tab". A pontuação é salva automaticamente. O link direto do formulário "Insere/Modifica Pontuação" é
<a href="/fase1/ini/restrito/inserepontosini">/fase1/ini/restrito/inserepontosini</a>.
<li>Você pode também utilizar uma planilha para atualizar a pontuação. Nesse caso, em Links rápidos (veja caso anterior), escolha "Insere Pontuação por Lote" e siga os passos. 
</ol>

<p>Desculpem o trabalho extra!

<h5>Correções atrasadas</h5>
<p>Se por alguma razão ainda há competidores que fizeram a prova mas estão sem pontuação, envie uma mensagem de email para <tt>olimpinf@olimpiada.ic.unicamp.br</tt> para receber mais instruções em como proceder.

<h3>Modalidade Programação</h3>

<p>Infelizmente foram detectados vários casos de fraude na aplicação da Fase 1: professor permitindo que a prova fosse feita em casa, uso de IA, cópia entre competidores...

<p>Cerca de 700 competidores já foram desclassificados por fraude na Fase 1. Outras várias centenas de possíveis fraudes estão ainda sendo investigadas.

<p>Os competidores desclassificados não poderão participar da OBI nos próximos dois anos. A participação das escolas com competidores desclassificados será ainda decidida.


<p>Atenciosamente,

{% include 'includes/signature_txt.html' %}
