<!DOCTYPE html>
<html lang="pt">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<body>
<p>{{ greetings }} {{ coord_name}},

<p>As provas da Fase 1 da OBI2025 estão chegando!

<p>Se sua escola ainda não inscreveu os alunos, não deixe para a
última hora!

<p>Por favor acompanhe o link "Notícias para Coordenadores", no
alto da coluna à direita na página de Coordenação, para avisos
sobre a OBI2025.

<p>Todas as provas da OBI2025 devem ser aplicadas na escola, sob supervisão;
violação a essa regra desclassifica o(a) competidor(a)
na OBI2025. A prova da OBI é individual e SEM CONSULTA a
qualquer material, inclusive ferramentas de IA.

<h2>Modalidade Iniciação</h2>

<ul>
<li>A prova da Fase 1, com duração de uma hora, deve ser aplicada entre os dias
  05/6 (quinta-feira) e 07/6 (sábado). A prova pode ser aplicada
  em dias e horários diferentes para turmas diferentes.

<li>Os competidores <b>NÃO</b> podem levar o <i>Caderno de Tarefas</i>
  para casa após a prova. Recolha os <i>Cadernos de Tarefas</i> juntamente
  com as Folhas de Respostas; eles podem ser entregues aos competidores após o período
  de realização da prova (ou seja, após 7/6).

<li> Veja um roteiro para aplicação da prova na página de Coordenação,
  Seção "Fase 1", linha "Modalidade Iniciação", link "Aplicação da Prova"
  O link direto para o roteiro é (com senha)<br/>
  https://olimpiada.ic.unicamp.br/fase1/ini/restrito/passo_a_passo
</ul>

<h2>Modalidade Programação</h2>

<ul>
<li>A prova da Fase 1, com duração de duas horas, deve ser aplicada entre os dias
  12/6 (quinta-feira) e 14/6 (sábado). A prova pode ser aplicada
  em dias e horários diferentes para turmas diferentes.
<li> Veja um roteiro para aplicação da prova na página de Coordenação,
  Seção "Fase 1", linha "Modalidade Programação", link "Aplicação da Prova"
  O link direto para o roteiro é<br/>
  https://olimpiada.ic.unicamp.br/fase1/prog/restrito/passo_a_passo

<li> Para que alunos e escolas se habituem ao funcionamento do Ambiente
  de Prova da OBI, disponibilizamos uma <b>Prova Teste</b>, opcional, com
  duração de meia hora, que estará disponível de 5/6 a 9/6.

<li> Há um roteiro para aplicação da Prova Teste (similar ao da
  Prova da Fase 1). O link direto é<br/>
  https://olimpiada.ic.unicamp.br/fase0/prog/restrito/passo_a_passo

<li> É muito importante que os alunos participem da Prova Teste. Se não
  for possível aplicar a prova Teste na escola (o que seria ideal, mas
  nem sempre possível), os alunos podem fazer a prova Teste em casa
  (mas NÃO podem fazer a prova da Fase 1 em casa!).

</ul>

<p>Desejamos uma boa prova a todos!

{% include 'includes/signature_htm.html' %}
</body>
