{% extends "base.html" %}
{% load static obi_extras %}

{% block header_class %}header-inner-pages{% endblock %}

{% block authenticated %}
<section id="authenticated" class="authenticated {% if user.is_authenticated %}black{% endif %}">
  <div class="container align-items-center">
	{% if user.is_authenticated %}
	<div class="is-authenticated float-end align-middle"> 
	 Autenticado como {{ user.last_name }} <a href="/restrito"><img src="{% static 'assets/img/icon-home.svg' %}" height="25px"></a> 
	</div>
	{% endif %}
      <div class="not-authenticated"><span class="float-right">27<sup><u>a</u></sup> Olimpíada Brasileira de Informática</div>
    </span>
  </div>
</section>

{% endblock %}

{% block breadcrumbs %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <div class="container-fluid p-0">
	<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
	  </button>
	  {{ message }}
	</div>
      </div>
      {% endfor %}
    </ul>
    {% endif %}
    
    <ol>
      {% with request.path|obi_you_are_here_paths as you_are_here_paths %}
      
      {% for p in you_are_here_paths %}
      <li><a href="{{ p.0 }}">{{ p.1|safe }}</a></li>
      {% endfor %}
      {% if flatpage.url == '/info/ementa/geral/' %}
      <li>{{flatpage.title}}  Modalidade Programação</li>
      {% else %}
      <li>{{ pagetitle }} {{ flatpage.title }}</li>
      {% endif %}
    </ol>
    {% endwith %}
    
    <h2>{% block header %}{% endblock %}</h2>
    
  </div>
</section><!-- End Breadcrumbs -->
{% endblock %}

{% block main %}
    <section class="inner-page">
      <div class="container">
	{% block content%}{% endblock %}
      </div>
    </section>

{% endblock %}

