{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block header %}<h1>{{ pagetitle }}</h1>{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {% if form.errors %}
     <p class="errorlist">Por favor corrija os erros indicados abaixo.</p>
  {% endif %}
  <p>&nbsp;</p>   
  {% for fieldset in form.fieldsets %}
  <fieldset class="border p-2">
    <legend class="float-none w-auto p-2">{{ fieldset.title }}</legend>    
    <ul>
      {% for field in fieldset %}
        <li>
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
	    <small class="form-text">{{ field.help_text|safe }}</small>
	  {% endif %}
          {{ field.errors }}
        </li>
      {% endfor %}
    </ul>
  </fieldset>
  {% endfor %}
<br>
  <button type="submit" class="button cancel" name="cancel" value="cancel" onclick="{% go_to_url '/' %}">Cancelar</button>
  <button type="submit" class="button right" name="save" value="save">Enviar</button>
</form>  


{% endblock %}

{% block content-related %}
<h1 class="visuallyhidden">Instruções</h1>
<div role="complementary">

  {% block browse-wrapper %}
    {% block browse %}
    <h2>Instruções</h2>
  <p>Para redefinir sua senha você deve informar o seu <em>nome de
      usuário</em> ou o endereço de e-mail cadastrado.
<ul>
  <li>Para competidores da OBI o <em> nome de usuário</em> é o seu número de
    inscrição (completo, como por exemplo <tt>98765-A</tt>).
  <li>Para os demais usuários, informe o nome de usuário ou o endereço
    de email cadastrado.
</ul>

  <p>Você receberá uma mensagem, no endereço de email cadastrado para
    a sua conta na OBI, com instruções para redefinição da senha.
    
  <p>Se você não sabe nem o nome de usuário nem o email utilizado no
    cadastro da escola, entre em <a href={% url 'contato' %}>contato com a Coordenação</a>.
</ul>
   {% endblock browse %}

   {% endblock browse-wrapper %}

</div>
{% endblock %}
