{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block header %}{{ pagetitle }}{% endblock %}

{% block content %}

<form action="" method="post" class="form">
  {% csrf_token %}
  
  {% if form.errors %}
  <p class="errorlist">Por favor corrija os erros indicados abaixo.</p>
  {% endif %}
  {% for fieldset in form.fieldsets %}
  <fieldset class="border p-2">
    <legend class="float-none w-auto p-2">{{ fieldset.title }}</legend>    
    <ul>
      {% for field in fieldset %}
      <li>
        <strong>{{ field.label_tag }}</strong>
        {{ field }}
        {% if field.help_text %}
	<small class="form-text">{{ field.help_text|safe }}</small>
	{% endif %}
        {{ field.errors }}
      </li>
      {% endfor %}
    </ul>
  </fieldset>
  {% endfor %}

    <button type="submit" class="btn btn-primary mt-4">Consulta</button>
</form>

{% endblock %}

{% block content-related %}
  <h4>Instruções</h4>
<div class="small">
    <p>Utilize o formulário para restringir sua consulta. Se desejar listar todos os competidores, deixe o formulário em branco.</p>
    <p>Por exemplo, inserindo José Silva no campo <i>Nome do competidor</i> serão listados todos os competidores cujo nome contenham <i>José</i> ou contenham <i>Silva</i> (como José Silva, José da Silva, José Silva de Souza, etc.).
    <p>Como outro exemplo, para listar todos os competidores de um estado, selecione um estado e deixe os outros campos em branco.</p>
    <p>Alternativamente, insira apenas parte do nome do competidor que você procura, e restrinja 
    a busca selecionando o estado, ou parte do nome da cidade.
    Por exemplo, inserindo 'rio' no campo <i>Cidade</i> do formulário, serão listadas todos os
    competidores cadastrados em cidades com nome contendo 'rio' no nome, como por exemplo Rio de Janeiro,
    São José do Rio Preto, etc.
</div>

{% endblock %}
