{% load i18n obi_extras %}{% autoescape off %}
Caro(a) Prof(a). {{ user.last_name }},

recebemos uma solicitação para redefinição da senha de acesso ao site da Olimpíada Brasileira de Informática.

Se você não solicitou a redefinição de sua senha, por favor desconsidere esta mensagem.

Escolha para qual escola deseja redefinir a senha e clique no link correspondente

{% for u in user_schools %}
  Escola: {{ u.school }}
  Link para redefinir a senha: https://olimpiada.ic.unicamp.br/redefine_senha/{{ u.hash }}
{% endfor %}

Você receberá uma outra mensagem, informando a nova senha. Esses links são válidos por 30 minutos e podem ser utilizados uma única vez.
Se você não conseguir clicar no link, copie o link e cole-o na barra de endereços de seu navegador.


{% include 'includes/signature.html' %}
{% endautoescape %}
