{% load i18n obi_extras %}{% autoescape off %}
{{ greeting }} {{ full_name }},

recebemos uma solicitação para redefinição da senha de acesso ao site da Olimpíada Brasileira de Informática.

Se você não solicitou a redefinição de sua senha, por favor desconsidere esta mensagem e não se preocupe, sua senha não será alterada.

Para redefinir a sua senha, clique no link abaixo:

https://olimpiada.ic.unicamp.br/redefine_senha/{{ hash }}

e você receberá uma outra mensagem, informando a nova senha. Esse link é válido por 30 minutos e pode ser utilizado uma única vez.
Se você não conseguir clicar no link, copie o link e cole-o na barra de endereços de seu navegador.


{% include 'includes/signature.html' %}
{% endautoescape %}
