{% extends "base_two_columns.html" %}

{% block title %}Consulta Escolas{% endblock %}

{% block header %}<h1>Consulta Escolas</h1>{% endblock %}

{% block content %}

<h2>{{ school.school_name}}</h2>
<ul>
<li>Endereço: {{school.school_address}}, {{school.school_address_number}}<br>
{% if school.school_address_complement.strip %}
  {{school.school_address_complement}} 
{% endif %}
</li>
<li>Bairro/Distrito: {{school.school_address_district}}</li>
<li>Cidade: {{school.school_city}}</li>
<li>Estado: {{school.school_state}}</li>
<li>CEP: {{school.school_zip}}</li>
<li>Coordenador Local: {{school.school_deleg_name}}</li>
{% if school.school_address_building and school.school_address_building != 'None' %}</li>
<li>Local da Prova: {{school.school_address_building}}</li>
{% endif %}
{% if school.school_address_map and school.school_address_map != 'None' %}</li>
<li><a href="{{school.school_address_map}}">Mapa</a></li>
{% endif %}
</ul>

{% endblock %}

{% block content-related %}

    <a href="{% url 'principal:consulta_escolas' %}" class="btn btn-small btn-primary mb-3" role="button">Nova consulta</a>
  
{% endblock %}
