{% extends "base_one_column.html" %}
{% load obi_extras %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block header %}<h1>{{ pagetitle }}</h1>{% endblock %}

{% block content %}
<p>Escolha uma opção para iniciar o processo de redefinição de senha:</p>
<p>
  <a href={% url 'principal:password_reset_compet' %} class="btn btn-small btn-primary me-3" role="button">Sou Competidor</a>
  <a href={% url 'principal:password_reset_coord' %} class="btn btn-small btn-success me-3" role="button">Sou Coordenador ou Colaborador</a>
  {% comment %}
  <a href={% url 'principal:password_reset_other' %} class="btn btn-small btn-warning me-3" role="button">Sou outro tipo de usuário</a>
  {% endcomment %}


{% endblock %}
