{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block header %}<h1>{{ pagetitle }}</h1>{% endblock %}

{% block content %}
<form action="" method="post" class="form">
  {% csrf_token %}
  {% if form.errors %}
     <p class="errorlist">Por favor corrija os erros indicados abaixo.</p>
  {% endif %}
  {% for fieldset in form.fieldsets %}
  <fieldset class="p-2">
    <legend class="float-none w-auto p-2">{{ fieldset.title }}</legend>    
    <ul>
      {% for field in fieldset %}
        <li>
          <strong>{{ field.label_tag }}</strong>
          {{ field }}
          {% if field.help_text %}
	    <small class="form-text">{{ field.help_text|safe }}</small>
	  {% endif %}
          {{ field.errors }}
        </li>
      {% endfor %}
    </ul>
  </fieldset>
  {% endfor %}

<br>
  <button type="submit" class="btn btn-danger me-4" name="cancel" value="cancel" onclick="{% go_to_url '/' %}">Cancelar</button>
  <button type="submit" class="btn btn-primary" name="save" value="save">Enviar</button>
</form>  


{% endblock %}

{% block content-related %}

    <h4>Instruções</h4>
  <p>Para redefinir sua senha você deve informar o seu <em>número de inscrição</em>
    na {{ 'OBI'|obi_date_year }}. Se você não sabe seu número de inscrição,
    <a href="{% url 'principal:consulta_competidores' %}">faça uma consulta</a>.


  <p>Entre em contato com o Coordenador Local da OBI de sua escola em caso de dúvida.
    
{% endblock %}
