{% extends "base_two_columns.html" %}
{% load obi_extras %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block header %}<h1>{{ pagetitle }}</h1>{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {% if form.errors %}
     <p class="errorlist">Por favor corrija os erros indicados abaixo.</p>
  {% endif %}
  {% for fieldset in form.fieldsets %}
  <p>&nbsp;</p>
  <fieldset class="border p-2">
    <legend class="float-none w-auto p-2">{{ fieldset.title }}</legend>    
    <ul>
      {% for field in fieldset %}
        <li>
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
	    <small class="form-text">{{ field.help_text|safe }}</small>
	  {% endif %}
          {{ field.errors }}
        </li>
      {% endfor %}
    </ul>
  </fieldset>
  {% endfor %}
  <br>
  <button type="submit" class="btn btn-small btn-danger me-3" role="button" name="cancel" value="cancel" onclick="{% go_to_url '/' %}">Cancelar</button>
  <button type="submit" class="btn btn-small btn-success me-3" role="button" name="save" value="save">Enviar</button>
</form>  


{% endblock %}

{% block content-related %}

    <h4>Instruções</h4>
  <p>Para redefinir sua senha você deve informar o seu <em>nome de usuário</em>
    ou o <em>endereço de email</em> cadastrado
    na {{ 'OBI'|obi_date_year }}.

</div>
{% endblock %}
