{% extends "base_one_column.html" %}
{% load i18n static %}

  
{% comment %}
so that users cannot use it here by entering the known django address!
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{'OBI'}}</a></h1>
{% endblock %}



{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<p>Esqueceu sua senha? Forneça seu endereço de email no campo abaixo e enviaremos
uma mensagem com instruções para configurar uma nova senha.</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <button type="submit">Enviar email</button>
</fieldset>
</form>

{% endblock %}
{% endcomment %}
