{% load i18n %}{% autoescape off %}
Você está recebendo este email porque solicitou a redefinição da senha para acesso ao site
da Olimpíada Brasileira de Informática.

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Caso tenha esquecido, aqui está seu nome de usuário: {{ user.get_username }}


{% blocktrans %}Coordenação da OBI{% endblocktrans %}

{% endautoescape %}
