{% extends "base_full.html" %}
{% load i18n %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{'OBI'}}</a></h1>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; Redefinir senha
</div>
{% endblock %}

{% block title %}Mensagem enviada{% endblock %}
{% block content_title %}<h1>Mensagem enviada</h1>{% endblock %}
{% block content %}

<p>Uma mensagem com instruções para redefinição da senha foi enviada para o email informado 
(se o email informado corresponde a uma conta ativa).</p>
<p>Se você não receber a mensagem, por favor verifique se o email informado é o mesmo utilizado na
abertura da conta. Verifique também se a mensagem não foi para a sua pasta de <i>spam</i>.

{% endblock %}
