{% extends "base_two_columns.html" %}
{% load obi_extras %}
{% load tasks %}

{% block title %} Pratique - {{task.title}} {% endblock %}

{% block header %}
  Pratique
{% endblock %}

  {% block content %}
<h1 class="center">{{ task.title }}</h1>

  {{ task.statement }}

<form class="question" action="corrige/" method="post">
  {% csrf_token %}
    {% for q in task.questions %}{% with qnum=forloop.counter %}
    <p><b>Questão {{ qnum }}.</b> {{ q.text|safe }}
      {% for a in q.alternatives %}{% with anum=forloop.counter %}
       <br />
       {% if task.show_answers and a.correct %}
          <span class="greenbg"><input type="radio" checked id="{{qnum}}_{{anum}}" name="{{ qnum }}" value="{{anum}}"/> {{ a.text|safe }} </span>
       {% else %}
          <input type="radio" id="{{qnum}}_{{anum}}" name="{{ qnum }}" value="{{anum}}"/> {{ a.text|safe }}
       {% endif %}
      {% endwith %}{% endfor %}
    {% endwith %}{% endfor %}

<p>
  <input type="hidden" name="descriptor" value="{{ task.descriptor }}"> 
  {% if not task.show_answers %}
  <button type="submit" class="btn btn-primary">Submete</button>
  {% endif %}
</form>
  {% if task.show_answers %}
<form method="get" action="/pratique/{{ task.url }}/">
    <button type="submit" class="btn btn-primary">Voltar ao problema</button>
</form>
  {% endif %}


  {% endblock %}

{% block content-related %}

  {% include "tasks/includes/contents_tasks.html" %}

{% endblock content-related%}

