<script>
$(document).ready(function() {
    // to maintain the menu open
    var current_url = window.location.href;
    bar = current_url.indexOf('/',8);
    current_url = current_url.substring(bar);
    str_corrige = current_url.indexOf('/corrige/');
    if (str_corrige > 0)
	current_url = current_url.substring(0,str_corrige);
    str_resultado = current_url.indexOf('/resultado/');
    if (str_resultado > 0)
	current_url = current_url.substring(0,str_resultado);
    if (current_url.substring(current_url.length - 1) != '/')
	current_url += '/';
    task_chosen = $(".atask").find("a[href='" + current_url + "']");
    task_chosen.css('background-color','#dcdcdc');
    task_phase = task_chosen.parent().parent();
    task_phase.addClass("open");
    task_phase.css('display', 'block');
    task_phase.parent().children("i").removeClass("icon-chevron-right").addClass("icon-chevron-down");
    task_year = task_phase.parent().parent().parent();
    task_year.addClass("open");
    task_year.parent().children("i").removeClass("icon-chevron-right").addClass("icon-chevron-down");
    task_year.css('display', 'block');
    
    //menu of tasks
  $('#task-menu').on("click year-head", function (e) {
      target = $(e.target);
      if (typeof target.children('ul') == 'undefined' || target.children('ul').length == 0) { 
	  target = target.parent();
      }
      target.children('ul').toggleClass("open");
      
      if (target.children('ul').hasClass("open")) {
	  target.children("i").removeClass("icon-chevron-right").addClass("icon-chevron-down");
	  target.children("ul").css('display', 'block');
      }
      else {
	  //$(this).children("i").removeClass("icon-chevron-down").addClass("icon-chevron-right");
	  target.children("i").removeClass("icon-chevron-down").addClass("icon-chevron-right");
	  target.children("ul").css('display', 'none');
      }
  });

});
</script>
