{{ greetings }} {{ coord_name}},

<p>As provas da Fase 1 estão chegando!
</p>

<p>
Por favor acompanhem o link "Notícias para Coordenadores", no
alto da coluna à direita na página de Coordenação, para avisos
sobre a OBI2024.

<p>
Todas as provas devem ser aplicadas na escola, sob supervisão;
violação a essa regra desclassifica o(a) competidor(a)
na OBI2024.

<h2>Modalidade Iniciação</h2>
<p>
A prova, com duração de uma hora, deve ser aplicada entre os dias
  06/6 (quinta-feira) e 12/6 (quarta-feira). A prova pode ser aplicada
  em dias e horários diferentes para turmas diferentes.

<p>Veja um roteiro para aplicação da prova na página de Coordenação,
  Seção "Fase 1", linha "Modalidade Iniciação", link "Aplicação da Prova"
  O link direto para o roteiro é (com senha)
  https://olimpiada.ic.unicamp.br/fase1/ini/restrito/passo_a_passo

<h2>Modalidade Programação</h2>

<p>
A prova, com duração de duas horas, deve ser aplicada entre os dias
  12/6 (quarta-feira) e 14/6 (sexta-feira). A prova pode ser aplicada
  em dias e horários diferentes para turmas diferentes.
<p>Veja um roteiro para aplicação da prova na página de Coordenação,
  Seção "Fase 1", linha "Modalidade Programação", link "Aplicação da Prova"
  O link direto para o roteiro é
  <a href="https://olimpiada.ic.unicamp.br/fase1/prog/restrito/passo_a_passo">
    https://olimpiada.ic.unicamp.br/fase1/prog/restrito/passo_a_passo</a>


<h4>Prova Teste para a Modalidade Programação</h4>

<p> Para que alunos e escolas se habituem ao funcionamento do Ambiente
  de Prova da OBI, disponibilizamos uma Prova Teste, opcional, com
  duração de uma hora, que estará disponível de 7/6 (sexta-feira) a
  10/6 (segunda-feira).

<p> Há um roteiro para aplicação da Prova Teste (similar ao da
  Prova da Fase 1). O link direto é
  <a href="https://olimpiada.ic.unicamp.br/fase0/prog/restrito/passo_a_passo">
  https://olimpiada.ic.unicamp.br/fase0/prog/restrito/passo_a_passo</a>

<p>É muito importante que os alunos participem da Prova Teste. Se não
  for possível aplicar a prova Teste na escola (o que seria ideal, mas
  nem sempre possível), os alunos podem fazer a prova Teste em casa.

<p>
Desejamos uma boa prova a todos!

{% include 'includes/signature_htm.html' %}
