<p>Caro(a) Prof(a). {{ school.school_deleg_name}},

Ainda não temos sedes designadas para algumas cidades com competidores
  de mais de uma escola classificados para a Fase 3.

Por favor consulte a sua página de coordenação para saber se já
  há sede designada para competidores de sua cidade. Os competidores também
  podem consultar a sua sede nas suas páginas pessoais na OBI ou pelo
  formulário disponível na página da OBI2024 (Sedes da Fase Nacional).
  
Se sua escola pode aplicar a prova da Modalidade Programação
  para alunos de sua cidade, solicitamos sua colaboração, preenchendo
  o formulário:

https://olimpiada.ic.unicamp.br/fase3/restrito/consulta_pref_fase3_prog  

Por favor notem que damos prioridade para escolas que possam aplicar
  a prova para os competidores da cidade. Em geral são muito poucos alunos
  em cada cidade (das que ainda não temos sede designada).

A prova deve ser aplicada sábado, 28 de setembro: níveis júnior e
  1 de manhã (8:00-12:00) níveis 2 e sênior de tarde (13:00-18:00).
  Sabemos das dificuldades das escolas, especialmente aos sábados, mas
  os horários são rígidos: a estrutura computacional necessária para
  as provas é grande e portanto os ambientes de provas para os
  diferentes níveis ficarão disponíveis apenas nos horários previstos.
  
Idealmente os competidores deveriam fazer a prova em uma faculdade/universidade
  local, mas nem sempre conseguimos negociar o uso de laboratórios para aplicação
  da prova.
  
Para evitar viagens longas de competidores (mais de 50 km), é possível,
  em casos excepcionais, autorizar a aplicação da prova na própria escola dos competidores.

Agradecemos a colaboração com a OBI{{ year }}!

Atenciosamente,

{% include 'includes/signature_txt.html' %}
