{{ greetings }} {{ coord_name}},

Algumas atualizações sobre as provas da Fase 1:

Modalidade Iniciação
-------------------

* Os gabaritos para correção manual, assim como o sistema de correção automatizada, somente estarão disponíveis após o período de aplicação da prova (ou seja, a partir de 13/junho).


Modalidade Programação
----------------------

* As senhas para acesso dos competidores ao Ambiente de Prova estão disponíveis para baixar, na página de coordenação, seção "Fase 1", linha "Modalidade Programação", link "Senhas Prova".

* Preparamos uma Folha de Informações (https://olimpiada.ic.unicamp.br/static/extra/misc/FolhaInformacoes.pdf) para os competidores da Modalidade Programação lerem antes da prova.  Seria importante que os competidores leiam esse documento antes da prova. Ele contém informações sobre como a correção é feita, exemplos de leitura de dados de entrada das tarefas nas várias linguagens de programação, explicações das mensagens do corretor automático, etc. Esse documento está também disponível na página pessoal dos competidores. Por favor informem os competidores.


Em caso de qualquer problema durante a prova, os coordenadores locais da OBI2024 nas escolas devem entrar em contato com a Coordenação da OBI, por email (olimpinf@ic.unicamp.br) ou WhatsApp (19) 3199-7399.


Desejamos uma boa prova a todos!

{% include 'includes/signature_htm.html' %}
