<p>
Prezado(a) Prof(a).  {{ coord_name}},

<p>
Esta mensagem é um lembrete de que a prova da Fase 2 da Modalidade
Programação ocorre na próxima sexta-feira, dia 16 de agosto.

<p>
É muito importante que a prova seja feita na escola, sob supervisão. A
prova é individual e sem consulta a qualquer material (livros,
internet, programas feitos anteriormente, etc.).

<p>
A duração da prova é de duas horas para o nível Júnior e três horas
para os níveis 1, 2 e Sênior. A duração da prova é controlada pelo
Ambiente de Prova, contada a partir do momento que o competidor clica
o botão "Iniciar" no Ambiente de Prova. O Ambiente de Prova estará
aberto das 8:00 às 21:00 (18:00 para o nível Júnior), horário de
Brasília.

<p>
A escola pode aplicar a prova em horários diferentes para turmas
diferentes, se desejar, mas é importante lembrar os alunos de que não
devem comentar as questões da prova com outros alunos, por qualquer
meio (conversa, rede social) até o final do período de aplicação da
prova (final do dia).

<p>
As senhas para a prova serão disponibilizadas no dia da prova. Elas
devem ser impressas e entregues pessoalmente aos alunos no momento da
prova. Note que as senhas da prova não são as mesmas senhas usadas
pelos competidores para acessarem suas páginas pessoais na OBI2024. As
senhas para a prova devem ser baixadas da página de coordenação, seção
Fase 2, link "Senhas da Prova".

<p>
Veja um roteiro para aplicação da prova na página de Coordenação, Seção "Fase 2", linha "Modalidade Programação", link "Aplicação da Prova".
O link direto para o roteiro é

<p>
https://olimpiada.ic.unicamp.br/fase2/prog/restrito/passo_a_passo


<p>
Desejamos uma boa prova a todos!

{% include 'includes/signature_htm.html' %}

