<p>
Prezado(a) Prof(a).  {{ coord_name}},

<p>
  Você está recebendo esta mensagem porque sua escola está habilitada
  como sede da Fase Nacional (Fase 3) da OBI2024.

<p>
  Na sua página de coordenação da OBI (com senha), na seção Fase 3, o(a)
  Sr(a). encontra informações sobre a prova (cadernos de tarefas, folhas
  de respostas pré-preenchidas e avulsas, listas de presença).

<p>
  É muito importante que a prova seja feita na escola, sob
  supervisão. A prova é individual e sem consulta a qualquer material
  (livros, internet, programas feitos anteriormente, etc.).

<p>
  A duração da prova é de duas horas para todos os níveis. A prova deve
  ser aplicada no mesmo horário em todas as escolas: 10:00 às 12:00.

<p>
  A dinâmica é a mesma das provas das Fases 1 e 2. É necessário
  imprimir um Caderno de Tarefas (prova) para cada competidor,
  bem como as respectivas Folhas de Repostas. Imprima também algumas
  Folhas de Respostas avulsas (sem o nome dos alunos) para o caso
  de algum aluno rasurar sua Folha de Respostas. Imprima e passe
  a Lista de Presença para assinatura durante a prova.

<p>
  Ao final do tempo de prova, recolha as Folhas de Respostas preenchidas. Os competidores
  podem levar os Cadernos de Tarefas para casa ao final da prova.

<p>
  Após a prova, é necessário digitalizar as Folhas de Respostas e enviá-las
  para correção, pela página de coordenação. Por favor utilize um
  escaner de mesa, para garantir uma boa digitalização e consequente
  correção sem erros. Separe as folhas de respostas por níveis, e
  envie um máximo de 100 folhas de respostas em cada arquivo (separe
  em vários arquivos se necessário)
<p>
  
Veja um roteiro para aplicação da prova na página de Coordenação, Seção "Fase 3", linha "Modalidade Iniciação", link "Aplicação da Prova".
<p>

<p>
Desejamos uma boa prova a todos, e mais uma vez obrigado pela colaboração!

{% include 'includes/signature_htm.html' %}

