<p>Caro(a) Prof(a). {{ school.school_deleg_name}},

<p>infelizmente temos tido dificuldade em conseguir negociar sedes em
  faculdades e universidades para a Fase 3 -- dependemos da
  disponibilidade de professores e escolas, e isso nem sempre é
  possível.

<p>Por essa razão, estamos solicitando mais uma vez a colaboração
  das escolas participantes, conforme descrito abaixo.

<h2>Modalidade Iniciação</h2>

Competidores de escolas de:
  <ul>
    <li>Aracaju
    <li>Campinas
    <li>Fortaleza
    <li>São Paulo
    <li>Rio de Janeiro
  </ul>

<p>farão a prova em uma universidade local (a lista com os endereços
  das sedes nessas cidades será publicada no site da OBI2024 ainda
  hoje).

<p>Para escolas de outras cidades, solicitamos que as escolas, se possível, apliquem
a prova da Fase 3 da Modalidade Iniciação para os seus próprios
alunos. A prova da Fase 3 da Modalidade Iniciação deve ser aplicada
  dia 21 de setembro, sábado, das 10:00 às 12:00. A dinâmica é a mesma das
  outras fases: imprimir provas e folhas de respostas, recolher as folhas
  de respostas, digitalizá-las e enviar para correção. 
<p>Entendemos que aplicar a Fase 3 pode ser difícil para algumas escolas, mas
  solicitamos que as escolas façam um esforço extra para aplicar a
  prova, mesmo sendo num sábado.

<p>Se a escola não puder aplicar a prova por alguma razão, procuraremos
  uma outra escola que esteja inscrita na região. Para isso,
  solicitamos que os coordenadores locais preencham o seguinte questionário:

https://olimpiada.ic.unicamp.br/fase3/restrito/consulta_pref_fase3_ini  
  

<p>Agradecemos a colaboração com a OBI{{ year }}!

<p>Atenciosamente,

{% include 'includes/signature_htm.html' %}
