<p>Caro(a) Prof(a). {{ school.school_deleg_name}},

<p>infelizmente temos tido dificuldade em conseguir negociar sedes em
  faculdades e universidades para a Fase 3 -- dependemos da
  disponibilidade de professores e escolas, e isso nem sempre é
  possível.

<p>Por essa razão, estamos solicitando mais uma vez a colaboração
  das escolas participantes, conforme descrito abaixo.

<h2>Modalidade Programação</h2>

<p>Idealmente os competidores deveriam fazer a prova em uma faculdade/universidade
  local, mas nem sempre conseguimos negociar o uso de laboratórios para aplicação
  da prova. A prova deve ser aplicada sábado, 28 de setembro (níveis júnior
  e 1 de manhã, níveis 2 e sênior de tarde).

<p>Para evitar viagens longas de competidores (mais de 50 km), é possível
  autorizar a aplicação da prova na própria escola dos competidores.
  Entendemos que aplicar a Fase 3 pode ser difícil para algumas escolas, mas
  solicitamos que as escolas façam um esforço extra para aplicar a
  prova, se necessário, mesmo sendo num sábado.

<p>Se a escola não puder aplicar a prova por alguma razão, procuraremos
  uma outra escola que esteja inscrita na região. Para isso,
  solicitamos que os coordenadores locais preencham o seguinte questionário:

https://olimpiada.ic.unicamp.br/fase3/restrito/consulta_pref_fase3_prog  
  

<p>Agradecemos a colaboração com a OBI{{ year }}!

<p>Atenciosamente,

{% include 'includes/signature_htm.html' %}
