{% load obi_extras %}

{{ greetings }} {{ school.school_deleg_name}},


o(a) Sr(a). está recebendo esta mensagem porque um(a) aluno(a) de sua escola foi convidado(a) para participar da Semana Olímpica da OBI{{ year }}.

A Semana Olímpica é oferecida para os melhores classificados da OBI. Veja informações sobre a Semana Olímpica no link

https://olimpiada.ic.unicamp.br/semana/

É necessário que os(as) alunos(as) convidados(as) entrem em sua página pessoal da OBI{{ year }} para confirmar a presença ou informar que não será possível comparecer, até o dia 8 de novembro.

Para acessar suas páginas pessoais na OBI{{ year }} os competidores devem clicar em ENTRAR --> Competidores na página da OBI{{ year }}, usando para autenticar-se o número seu número de inscrição (por exemplo 012345-F) como usuário, e a senha do competidor. A senha é enviada no momento da inscrição (se o professor informar um endereço de email para o competidor). Se o competidor não tem endereço de email, ou não quer informá-lo, a senha deve ser informada pessoalmente. As senhas de todos os competidores inscritos na sua escola estão disponíveis na página de coordenação da OBI{{ year }}, na Seção "Cadastro", linha "Competidores", link "Baixar".

Foram enviadas mensagens sobre a Semana Olímpica para todos os(as) competidores(as) convidados(as), mas como nem todos lêem email ou têem email cadastrado, solicitamos que informe pessoalmente sobre o limite para confirmar a presença (8/11).

O(a) Sr(a). pode acompanhar se os alunos já confirmaram presença: na página de coordenação, Seção "Semana Olímpica", linha "Participantes", clique no link "Status".

Atenciosamente,

{% include 'includes/signature.html' %}
