Caro(a) Prof(a). {{ school.school_deleg_name}},

<p>Muito obrigado a todos e todas pela aplicação das provas!

<p>A classificação ainda não foi computada, será computada quando
  todas as escolas tiverem informado as notas (resultado preliminar,
  25/6).  Depois teremos um período de recursos para corrigir
  eventuais problemas com as pontuações (até 28/6), e o resultado
  final será divulgado 1/7, conforme
  o <a href="https://olimpiada.ic.unicamp.br/calendario/"> Calendário
  da OBI2024</a>.
  
<p>Seguem informações sobre a correção, para as modalidades Iniciação e Programação.
</p>

<h3>Modalidade Iniciação</h3>

<p>Pelo que vemos nos registros a maioria das escolas já
  informou a pontuação de seus competidores. Se sua
  escola ainda não corrigiu as provas, por favor siga
  as instruções abaixo.

<p>É muito importante que os coordenadores verifiquem se
  todos os competidores que realizaram a prova estão com a
  pontuação já no sistema. 
  
<p>Para verificar a pontuação dos competidores de sua escola:
  <ul>
    <li>entre na Página de Coordenação (site da OBI2024, Entrar &rarr;
      Escolas, com sua senha)
    <li>Então, clique no link <b>Resultado</b> na
      seção "Fase 1" na  linha Modalidade Iniciação.  
  </ul>

<p>Se a pontuação de algum estudante que fez a prova não aparece,
  por favor informe a pontuação manualmente ou envie a prova desse aluno
  novamente para correção automatizada.

<p>Se a escola ainda não corrigiu as provas veja informações sobre como corrigir as provas:
  <ul>
    <li>entre na Página de Coordenação (site da OBI2024, Entrar &rarr;
      Escolas, com sua senha)
    <li>Então, clique no link <b>Correção da Prova</b> na
      seção "Fase 1", linha Modalidade Iniciação.  
  </ul>
</p>

<h3>Modalidade Programação</h3>
<p>Os resultados da correção estão disponíveis para coordenadores e competidores.

<p>Os Cadernos de Tarefas das provas estão disponíveis, bem como
  exemplos de soluções para as tarefas e todos os casos de testes utilizados
  na correção.

<p>Para verificar a pontuação dos competidores de sua escola:
  <ul>
    <li>entre na Página de Coordenação (site da OBI2024, Entrar &rarr;
      Escolas, com sua senha)
    <li>Então, clique no link <b>Resultado</b> na
      seção "Fase 1" na  linha Modalidade Iniciação.  
  </ul>
  
<p>Para acessar soluções exemplos e os casos de teste, entre no link
  "Resultado" <em>no topo da página da OBI2024</em>.

<p>Agradecemos a colaboração com a OBI{{ year }}!

<p>Atenciosamente,

{% include 'includes/signature_htm.html' %}
