Prezado(a) Prof(a).  {{ coord_name}},

Infelizmente ocorreram problemas operacionais durante a aplicação
da prova da Fase 2 da Modalidade Programação Nível 2 que prejudicaram
muitos alunos (o ambiente de correção demorava muito para responder).
Por essa razão uma nova prova vai ser disponibilizada (vamos chamá-la
de Turno B). A prova é opcional. A classificação do competidor será feita
de forma independente para o Turno B e para o Turno A (a primeira prova).
O competidor poderá ser classificado tanto pela sua posição na classificação
do Turno B como do turno A.

A prova da Fase 2 Turno B da Modalidade Programação Nível 2 ocorre na
próxima segunda-feira, dia 26 de agosto.

As instruções para a aplicação da prova são as mesmas das provas passadas.
Relembramos a seguir as instruções para as escolas.

-------------------------

É muito importante que a prova seja feita na escola, sob supervisão. A
prova é individual e sem consulta a qualquer material (livros,
internet, programas feitos anteriormente, etc.).

A duração da prova é de três horas e ela estará disponível apenas para
o Nível 2. A duração da prova é controlada pelo Ambiente de Prova,
contada a partir do momento que o competidor clica o botão "Iniciar"
no Ambiente de Prova. O Ambiente de Prova estará aberto das 8:00 às
21:00 (18:00 para o nível Júnior), horário de Brasília.

A escola pode aplicar a prova em horários diferentes para turmas
diferentes, se desejar, mas é importante lembrar os alunos de que não
devem comentar as questões da prova com outros alunos, por qualquer
meio (conversa, rede social) até o final do período de aplicação da
prova (final do dia).

As senhas para a prova serão disponibilizadas no dia da prova. Elas
devem ser impressas e entregues pessoalmente aos alunos no momento da
prova. Note que as senhas da prova não são as mesmas senhas usadas
pelos competidores para acessarem suas páginas pessoais na OBI2024. As
senhas para a prova devem ser baixadas da página de coordenação, seção
Fase 2, link "Senhas da Prova".

Veja um roteiro para aplicação da prova na página de Coordenação,
Seção "Fase 2 Turno B", linha "Modalidade Programação", link
"Aplicação da Prova".  O link direto para o roteiro é

https://olimpiada.ic.unicamp.br/fase2b/prog/restrito/passo_a_passo

Lamentamos o transtorno causado e desejamos uma boa prova a todos!

{% include 'includes/signature_txt.html' %}

