Prezado(a) Prof(a). {{ coord_name}},

<p>A OBI agradece a todos e todas pela aplicação das provas da Modalidade Iniciação!

<p>
Na Fase 2 a correção da Modalidade Iniciação é feita pela Coordenação
da OBI.  As folhas de respostas dos alunos devem ser digitalizadas e
enviadas para correção utilizando o sistema automatizado de correção
da OBI.  Lembramos que as Folhas de Respostas devem ser enviadas até o
dia 14 de agosto.

<p>Todos os envios de Folhas de Respostas ficam registrados. Os
  competidores poderão conferir a correção quando os resultados forem
  divulgados, pois poderão visualizar as Folhas de Respostas que
  preencheram e o respectivo resultado da correção automatizada.

<p>É possível enviar até 100 Folhas de Respostas em um único
  arquivo. Se ocorrer erro na correção (normalmente por digitalização
  deficiente), é necessário re-enviar apenas as Folhas de Respostas
  dos competidores que deram erro.
  
<p>Se a escola ainda não enviou as Folhas de Respostas para correção, siga os passos:
  <ul>
    <li>entre na Página de Coordenação (site da OBI2024, Entrar &rarr;
      Escolas, com sua senha)
    <li>Então, clique no link <b>Correção da Prova</b> na
      seção "Fase 2", linha Modalidade Iniciação.  
  </ul>
</p>

Atenciosamente,

{% include 'includes/signature_htm.html' %}

