
Prezado(a) Prof(a).  {{ coord_name}},


  Muito obrigado por sediar a Fase Nacional (Fase 3) da OBI2024, modalidade
  Iniciação.

  Solicitamos que enviem para correção as Folhas de Respostas dos competidores até
  o dia 26/09.  Na sua página de coordenação da OBI (com senha), na
  seção Fase 3, o(a) Sr(a). encontra informações sobre a correção
  para a Modalidade Iniciação.


  Também disponibilizamos uma página para os coordenadores de Sede
  verificarem se a pontuação de cada competidor foi corretamente
  inserida pela correção automatizada: na página de coordenação, seção
  Fase 3, linha Modalidade Iniciação, clique em "Status".


  Se a Folha de Respostas foi enviada para correção mas a página
  de Status indica que a pontuação não foi inserida, por favor verifique
  a Folha de Respostas: as bolhas da região de identificação devem estar
  corretamente preenchidas, o código QR deve estar bem formado e "legível",
  a imagem deve ocupar a maior parte possível da página e deve
  estar totalmente contida dentro da página. Por favor digitalize novamente
  a Folha de Respostas que apresentar erro e envie para correção novamente.

  Mais uma vez muito obrigado pela colaboração!

{% include 'includes/signature_txt.html' %}

