Prezado(a) Prof(a). {{ coord_name}},

você está recebendo esta mensagem porque tem alunos classificados
  para a Fase Nacional (Fase 3) da OBI2024, modalidade Programação.
  
Por favor consulte o local de prova para seus alunos na página de
  coordenação, seção "Fase 3", linha "Modalidade Programação", link
  "Sede". Os competidores também podem consultar o seu local de prova
  nas suas páginas pessoais da OBI2024, ou na página principal da
  OBI2024 (seção "Sedes da Fase Nacional").
</p>

As provas acontecem neste sábado, dia 28 de setembro, nos seguintes
horários:

  * Níveis Júnior e 1: 8:00 às 12:00 (duração 4 horas)
  * Níveis 2 e Sênior: 13:00 às 18:00 (duração 5 horas)

A prova é individual e sem consulta a qualquer material (livros,
internet, arquivos digitais).

A maior causa de desclassificações na modalidade programação tem
  sido o uso de IA para resolver as tarefas, o que não é
  permitido. Por favor notem que desclassificaremos sumariamente os
  competidores que tenham usado IA ou que tenham copiado soluções
  entre si, nesta fase ou nas anteriores. Escolas de competidores
  envolvidos em fraudes poderão ser suspensas da OBI. Por favor
  orientem seus alunos. Confiamos no espírito olímpico de todos!
  
Desejamos uma boa prova a todos os competidores!

{% include 'includes/signature_txt.html' %}

