

  <h4>Instruções</h4>

<p>O arquivo deve estar em um dos seguintes formatos: .xlsx (Microsoft Excel), .xls (Microsoft Excel antigo) ou .csv (do inglês "Comma Separated Values", ou seja, "Valores Separados por Vírgula"). 
  Você pode baixar um exemplo de planilha, já no formato correto, clicando em um dos links abaixo:
  <ul>
    <li><a href="/static/extras/misc/competidores_em_lote.xlsx">competidores_em_lote.xlsx</a>
    <li><a href="/static/extras/misc/competidores_em_lote.csv">competidores_em_lote.csv</a>
  </ul>
</p>
<p>A planilha deve ter os seguintes campos, na ordem dada:</p>
<ul>
<li><b>Nível</b>: deve ser <b>IJ</b> (iniciação júnior), <b>I1</b> (iniciação 1), <b> I2</b> (iniciação 2), <b> PJ </b> (programação júnior), <b>P1</b> (programação 1), <b>P2</b> (programação 2) ou <b>PS</b> (programação sênior).</li>
<li><b>Nome</b>: nome completo, como será impresso no formulário.</li>
<li><b>Data de Nascimento</b>: no formato dia/mes/ano (como por exemplo 23/04/1994).</li>
<li><b>Gênero</b>: deve ser uma letra, <b>M</b> para masculino, <b>F</b> para feminino ou <b>O</b> para outro.</li>
<li><b>Ano Escola</b>: ano que está cursando. A seguinte convenção deve ser utilizada:
  <ul>
    <li><b>F4</b>: quarto ano do Fundamental</li>
    <li><b>F5</b>: quinto ano do Fundamental</li>
    <li><b>F6</b>: sexto ano do Fundamental</li>
    <li><b>F7</b>: sétimo ano do Fundamental</li>
    <li><b>F8</b>: oitavo ano do Fundamental</li>
    <li><b>F9</b>: nono ano do Fundamental</li>
    <li><b>M1</b>: primeiro ano do Medio</li>
    <li><b>M2</b>: segundo ano do Médio</li>
    <li><b>M3</b>: terceiro ano do Médio</li>
    <li><b>T4</b>: quarto ano do Técnico</li>
    <li><b>U1</b>: primeiro ano do Universitário</li>
  </ul>
</li>
<li><b>Turma Escola</b>: turma na escola (por exemplo, "A", ou "Única" ou "Tarde", o que for mais apropriado). Limitado a oito caracteres.  
<li><b>Email</b>: Solicitamos que seja informado o email do aluno ou dos pais ou responsáveis (não do professor). Se o email for fornecido, será utilizado para enviar
      a senha de acesso à página pessoal do(a) competidor(a) na OBI e ao Ambiente
      de Prova da OBI, bem como para enviar outras informações sobre a OBI (lembretes de datas, etc.).
      Não é necessário que seja único (por exemplo, no caso de dois irmãos, pode ser o endereço de email do pai).
      Note que se o email não for fornecido o coordenador deverá se responsabilizar por distribuir para os competidores
      as senhas de acesso às suas páginas pessoais (importante para a Modalidade Programação, pois
      para essa modalidade os competidores precisarão acessar suas páginas pessoais para realizar as provas). 
</li>
</ul>

<h4>Passo a passo</h4>
<ol>
<li>Obtenha o exemplo de planilha já no formato correto:
  <ul>
    <li><a href="/static/extras/misc/competidores_em_lote.xlsx">competidores_em_lote.xlsx</a>
    <li><a href="/static/extras/misc/competidores_em_lote.csv">competidores_em_lote.csv</a>
  </ul>
</li>
<li>Edite a planilha, inserindo os dados dos alunos.</li>
<li>Salve a planilha em um arquivo no formato .xlsx, .xls ou .csv.</li>
<li>Envie o arquivo utilizando o formulário ao lado.</li>
</ol>

