{% extends "admin/base_site.html" %}

{% block content %}

<h1>Resultado da Submissão</h1>

<p>{{ msg|safe }}</p>

{% if errors %}
<table class="basic">
  <tr><th width="15%">Num. Linha</th><th width="20%">Erro</th><th width="65%">Linha</tr>
  {% for error in errors %}
  <tr class="{% cycle 'odd' 'even' %}">
  <td>{{ error.linenum }}</td>
  <td>{{ error.msg }}</td>
  <td>{{ error.line }}</td>
  </tr>
{% endfor %}
</table>
{% endif %}

<H2>&nbsp;</H2>
{% if errors %}
<a class="button action" href="javascript: history.go(-1)">VOLTAR</a>
{% else %}
<a class="button action" href="../..">OK</a>
{% endif %}

{% endblock %}
