{% extends "base_restricted.html" %}
{% load obi_extras %}

{% block content %}
<h2>{{ pagetitle }}</h2>
<form action="" method="post">
  {% csrf_token %}
  {% if form.errors %}
     <p class="errorlist">Por favor corrija os erros indicados abaixo.</p>
  {% endif %}
  {% for fieldset in form.fieldsets %}
  <fieldset class="border p-2">
    <legend class="float-none w-auto p-2">{{ fieldset.title }}</legend>    
    <ul>
      {% for field in fieldset %}
        <li>
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
	    <small class="form-text">{{ field.help_text|safe }}</small>
	  {% endif %}
          {{ field.errors }}
        </li>
      {% endfor %}
    </ul>
  </fieldset>
  {% endfor %}

  <br />

  {# first button is default, enter key will trigger it #}
  <button type="submit" class="btn btn-primary" name="save_and_continue" value="save_and_continue">Salvar e Inscrever Outro</button>
  <button type="submit" class="btn btn-primary" name="save" value="save">Salvar</button>
  <button type="submit" class="btn btn-danger float-end" name="cancel" value="cancel" onclick="{% go_to_url '/restrito' %}">Cancelar</button>

</form>

{% endblock %}

{% block content-related %}

  <h4>Instruções</h4>
  <ul>
    <li>Para inscrever um novo competidor, preencha as informações do formulário e clique em <em>Salvar</em>
      ou <em>Salvar e Inscrever outro</em>.
    <li>Os campos <em>Email, Nome da mãe, CPF e NIS</em> não são obrigatórios. Se o email for fornecido, será utilizado para enviar
      a senha de acesso à página pessoal do(a) competidor(a) na OBI, bem como para enviar outras mensagens com informações sobre a OBI (lembretes de datas, etc.).
      Não é necessário que o email seja único (por exemplo, no caso de dois irmãos, pode ser o endereço de email do pai).
      Note que se o email não for fornecido o coordenador deverá se responsabilizar por distribuir para os competidores
      as senhas de acesso às suas páginas pessoais (importante para os competidores consultarem o resultado da correção das provas).
  </ul>
      

{% endblock %}
