{% extends "base_restricted.html" %}
{% load obi_extras %}

{% block content %}
<h1>{{ pagetitle }}</h1>

<p>Os cartões com as as senhas para a prova estarão disponíveis somente a partir do dia 31/5.
 
{% endblock %}

{% block content-related %}
<h1 class="visuallyhidden">Instruções</h1>
<div role="complementary">

  {% block browse-wrapper %}
  <h2>Instruções</h2>
  {% block browse %}
  <ul>
    <li>Aguarde
  </ul>
    {% endblock browse %}
  {% endblock browse-wrapper %}

  {% block breadcrumbs-wrapper %}
  {% endblock breadcrumbs-wrapper %}
      
</div>
{% endblock %}
