
{{ greetings }} {{ school.school_deleg_name}},

inicialmente, um agradecimento a todos que mantiveram o apoio e trabalharam para concretizar a realização de olimpíadas de conhecimento, e em especial da OBI, durante a pandemia de COVID-19.

Esta mensagem é apenas um lembrete de que o período de realização da prova da Fase 1 (Turno B), da Modalidade Iniciação é amanhã e depois de amanhã (22 e 23 de setembro).

Os competidores inscritos receberam uma mensagem de lembrete na semana passada, com instruções para realizar a prova, similar a esta mensagem, e devem receber outro lembrete amanhã de manhã.

O período de prova é de dois dias, mas é apenas uma prova (não duas!), online, que deve ser feita durante o período de realização (entre 22/9 e 23/9). O competidor pode escolher o momento fazer a prova, desde as 7:00 do dia 22/9 até as 23:00 do dia 23/9 (note que o ambiente de prova fecha às 24:00 do dia 23/9, por isso o competidor deve iniciar a prova até as 23:00). Após o competidor iniciar a prova, ele tem uma hora para terminá-la (não é possível "pausar" o tempo de prova!).

A prova pode ser feita em casa, mas deve ser feita individualmente e sem acesso a qualquer tipo de material de consulta (como livros, internet, arquivos de computador...). Confiamos no "espírito olímpico" de todos para obedecer a essas regras!

Para fazer a Prova da Fase 1 Turno B o competidor deve acessar sua página pessoal na OBI2020:

https://olimpiada.ic.unicamp.br/compet/

usando o login e senha enviados quando da inscrição do competidor. 

Não temos como reenviar a senha porque não armazenamos senhas, mas se o competidor não se recorda da senha, ou não consegue achar a mensagem original com a senha, ele (ou o Coordenador) pode solicitar uma nova senha acessando o link

https://olimpiada.ic.unicamp.br/password_reset

e seguindo as instruções.

Se o competidor não recebeu a senha, por favor VERIFIQUE O ENDEREÇO DE EMAIL cadastrado para o competidor. Se necessário, altere o endereço de email do competidor -- isso causa o envio de uma nova mensagem para o competidor, contendo uma nova senha, no novo endereço de email. Para alterar o endereço de email de um competidor, entre na área ACESSO ESCOLAS; na seção Competidores clique em Listar/Editar, então clique no nome do competidor e altere os dados do formulário.

Você pode acompanhar o status da Prova online pelo sistema da OBI, veja como em:

https://olimpiada.ic.unicamp.br/restrito/instrucoes/#acompanhar-status-prova

A página de Status da Prova mostra a lista de todos os competidores inscritos e, para cada um, se a prova online está autorizada, se foi iniciada e se foi terminada. Se a prova foi terminada há também um link para a página de resultados do competidor. Na página de resultados, para competidores da modalidade Iniciação o Coordenador Local pode consultar as alternativas marcadas pelo competidor como resposta às questões da prova.

A autorização para realizar a prova online no Turno B é automática, mas se o competidor não estiver autorizado, o Coordenador pode autorizar o competidor, veja como em:

https://olimpiada.ic.unicamp.br/restrito/instrucoes/#autorizar-prova-online

Boa prova a todos!
--
Coordenação da OBI2020
olimpinf@ic.unicamp.br
Whatsapp: (19) 99670-1422

Organização:  Instituto de  Computação -  UNICAMP 
Promoção:  Sociedade Brasileira de Computação
