
{{ greetings }}

     {{ compet.compet_name}}

você está recebendo esta mensagem porque seu professor realizou sua inscrição na Olimpíada Brasileira de Informática (OBI2020).

Esta mensagem é apenas um lembrete de que o período de realização da prova da Fase 1 (Turno B), da Modalidade Programação é somente hoje e amanhã (15 e 16 de setembro).

A prova é online. Você pode escolher o momento fazer a prova, desde as 7:00 do dia 15/9 até as 22:00 do dia 16/9. Após você iniciar a prova, você tem duas horas para terminá-la (não é possível "pausar" o tempo de prova!).

Você pode fazer a prova em casa, mas a prova deve ser feita individualmente e sem acesso a qualquer tipo de material de consulta (como livros, internet, programas que você mesmo tenha feito anteriormente, arquivos de computador...). Confiamos no seu "espírito olímpico" para obedecer a essas regras!

Para fazer a Prova da Fase 1 Turno B, acesse sua página pessoal na OBI2020:

https://olimpiada.ic.unicamp.br/compet/

usando para o login

usuário: {{ compet.user.username }}

A senha foi enviada em uma mensagem anterior, quando sua inscrição foi realizada. Não temos como reenviar a senha porque não armazenamos senhas, mas você não se recorda da senha, ou não consegue achar a mensagem original com a senha, você pode solicitar uma nova senha acessando o link

https://olimpiada.ic.unicamp.br/password_reset

Boa prova!

--
Coordenação da OBI2020
