
{{ greetings }} {{ school.school_deleg_name}},

esta mensagem é apenas um lembrete de que o período de realização da prova da Fase 1 (Turno B), da Modalidade Programação é somente hoje e amanhã (15 e 16 de setembro).

Os alunos receberam um lembrete no final da semana passada e hoje de manhã, com instruções para realizar a prova, similar a esta mensagem.

O período de prova é de dois dias, mas é apenas uma prova (não duas!), online, que deve ser feita durante o período de realização (entre hoje e amanhã). O competidor pode escolher o momento fazer a prova, desde as 7:00 do dia 15/9 até as 22:00 do dia 16/9. Após o competidor iniciar a prova, ele tem duas horas para terminá-la (não é possível "pausar" o tempo de prova!).

A prova pode ser feita em casa, mas deve ser feita individualmente e sem acesso a qualquer tipo de material de consulta (como livros, internet, programas que o competidor tenha feito anteriormente, arquivos de computador...). Confiamos no "espírito olímpico" de todos para obedecer a essas regras!

Para fazer a Prova da Fase 1 Turno B, o competidor deve acessar sua página pessoal na OBI2020:

https://olimpiada.ic.unicamp.br/compet/

usando o login e senha enviados quando da inscrição do competidor. 

Não temos como reenviar a senha porque não armazenamos senhas, mas se o competidor não se recorda da senha, ou não consegue achar a mensagem original com a senha, ele (ou o Coordenador) pode solicitar uma nova senha acessando o link

https://olimpiada.ic.unicamp.br/password_reset

e seguindo as instruções.

Boa prova a todos!

--
Coordenação da OBI2020
