{{ greetings }}
{% if compet.compet_name %}
{{compet.compet_name}}
{% elif coord.school_deleg_name %}
     Prof(a). {{coord.school_deleg_name}}
{% elif coord.colab_name %}
     Prof(a). {{coord.colab_name}}
{% endif %}

temos o prazer de apresentar o Torneio Feminino de Computação (TFC.BR), uma nova competição brasileira que visa incentivar a participação feminina em olimpíadas de Informática. Com o objetivo de que as competidoras se sintam mais incluídas e representadas na Computação, o TFC.BR também contará com oportunidades para que elas conheçam e interajam com mulheres que atuam nessa área.

A organização deste torneio é uma iniciativa conjunta do Movimento Meninas Olímpicas do Brasil, (ex-)competidoras de olimpíadas, professoras e (ex-)alunas da área de Computação de diversas instituições brasileiras de ensino superior, com apoio do Programa Meninas Digitais, da Olimpíada Brasileira de Informática (OBI) e da Sociedade Brasileira de Computação (SBC).

Nesta primeira edição, a coordenação da OBI convida todas as inscritas nas modalidades Programação Júnior e Programação Nível 1 na Fase 1 da OBI 2020 para participar do TFC.BR 2020.

**************
Participantes:
**************
Todas as competidoras inscritas na modalidade Programação Júnior ou Programação Nível 1 da OBI 2020 estão habilitadas a participar do torneio.

*****
Data:
*****
Dia 8 de novembro de 2020 (13 às 19 horas).

******
Prova:
******
O torneio será totalmente online, realizado por meio do ambiente de prova da OBI2020 (acesso com a senha da OBI). As competidoras deverão dispor de computador e acesso à Internet para entrar no sistema e fazer a prova. As competidoras terão 3 horas no intervalo de tempo indicado para resolver 4 problemas de programação. As linguagens de programação permitidas seguem o regulamento da OBI.

*************
Certificados:
*************
Todas as competidoras que fizerem a prova receberão certificados digitais de participação.

**********
Premiação:
**********
As premiadas receberão camisetas do TFC.BR, medalhas e serão convidadas para participar da Fase 3 da OBI 2020, a ser realizada no dia 28/11/2020.

Para mais informações, a organização do evento oferece diversos canais:
Site: https://tfcbr.inf.ufsm.br/
E-mail: tfcbr@inf.ufsm.br
Instagram: instagram.com/tfc.br
Facebook: facebook.com/tfcbr.inf
YouTube: bit.ly/canalTFCBR

Solicitamos que mensagens sobre o TFC sejam enviadas diretamente à organização do TFC.BR em um dos canais acima.

--
Coordenação da OBI2020
