{% extends "base_two_columns.html" %}
{% load obi_extras %}
{% load flatpages %}

{% block title %}Pratique{% endblock %}

{% block header %}Pratique{% endblock %}
{% block head_extra %}
{% include "tasks/includes/head_tasks.html" %}
{% endblock %}

{% block content %}
<p>Para submeter suas soluções em C, você deve seguir as
seguintes instruções:

<ul>
  <li>A entrada de dados é feita pela <i>entrada padrão</i>, a saída deve ser feita na <i>saída padrão</i>.
  <li>A função "main" de seu programa deve retornar o valor 0 ao final da execução.
</ul>

<h3>Um pequeno exemplo</h3>
<p>O exemplo abaixo lê dois valores inteiros e imprime o maior valor.

<pre style="border-style:solid;border-width:1px;padding:5px;background:#ddd">
#include &lt;stdio.h&gt;

int val1, val2;

int main(void) {
  // lê dois valores inteiros
  scanf("%d%d", &val1, &val2);

  // escreve o resultado
  if (val1 > val2) 
    printf("%d\n", val1);
  else
    printf("%d\n", val2);

  // termina a execução
  return 0;
}
</pre>
{% endblock %}

{% block content-related %}

  {% include "tasks/includes/contents_tasks.html" %}

{% endblock %}
