{% load obi_extras exams %}

<ul>
  <li>Uma solução submetida é <em>aceita</em> se passa em um caso de teste
    trivial; caso contrário ela é <em>rejeitada</em>.
    Uma solução ser aceita para correção não significa que está
    correta ou que o competidor vai ganhar pontos pela tarefa.
  <li>Para fins de correção e atribuição da pontuação será
    considerada, para cada tarefa, a última submissão enviada que
    foi <em>aceita</em>.  Cada tarefa vale 100 pontos.  A correção das
    tarefas será realizada após o período de aplicação da prova e o
    resultado será divulgado posteriormente.
</ul>
