{% load obi_extras exams %}

<ul>
  <li>Cada resposta correta vale um ponto.
    {% comment %}
<li>Os valores entre parênteses após o nome das tarefas no menu de
    Tarefas indicam o número de questões com resposta e o
    número total de questões para a tarefa. Por exemplo, (0/5) indica
    que a tarefa tem cinco questões e nenhuma delas foi 
    respondida; (3/5) indica que três das cinco questões da tarefa 
    têm respostas (e portanto duas ficaram sem resposta); (5/5)
    indica que todas as cinco questões têm respostas.
    {% endcomment %}
</ul>
